/* CSS Document */
@charset "utf-8";
.navBreadCrumb {
	color: #343434;
	margin: 10px 0;
}
.navBreadCrumb li {
	float: left;
  width: auto;
  padding-right: 15px;
}
.navBreadCrumb li:hover {
	float: left;
	color: #fe5842
}
.navBreadCrumb li .navBreadCrumb_txt { float:left}
.navBreadCrumb li .navBreadCrumb_txt a{color:#343434}
.navBreadCrumb li .navBreadCrumb_img {
	margin: 0 10px;
	float: right;
	padding-top: 5px;
}
.product_table {
	border: 1px solid #d9d9d9;
	height: auto;
	 overflow:hidden;
	   width: 1000px;
  float: left;
}
.product_img {
	float: left;
	width: 360px;
	height: 450px;
	padding: 15px;
	border-right: 1px solid #d9d9d9;
	overflow:hidden;
	text-align:center;
}
.product_list {
	float: left;
	width: auto;
	overflow: hidden;
  padding: 10px 0 0 0;
    height: 469px;
 
}
.product_list_top {
	padding-left: 20px;
}
#slider {
	margin: 0 auto;
	height: auto;/*border: 1px solid #888*/
}
.show-box {
	width: 360px;
	height: 360px;
	overflow: hidden;
	position: relative;
}
.show-box li {
	display: none;
	width: 100%;
	float: left;
	height: auto;
}
.show-box p {
	text-align: center;
	margin-top: 5px;
	font-size: 20px;
	line-height: 30px;
}
.show-box .show {
	display: block;/*_margin: 0 auto;_width:expression(eval(this.offsetWidth>643?643:this.offsetWidth))*/
}
.show-box img {
	display: block;
	width:100%;
	height:100%;
	margin: 0 auto;
 
}
.show-btn {
	display: block;
	height: 100%;
	width: 50px;
	position: absolute;
}
.show-prev {
	left: 0;
}
.show-next {
	right: -30px;
}
.show-btn span {
	height: 46px;
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
	cursor: pointer;
	margin-top: -23px;
	background: url(../images/btn.png) no-repeat;
}
.show-prev span {
	background-position: -20px 0
}
.show-next span {
	background-position: -89px 0
}
/*小图列表部分*/
.minImgs {
	height: 92px;
	position: relative;
 
 
}
.clear {
	clear: both;
}
.min-btn {
	height: 100%;
	width: 28px;
	position: absolute;
	top: 0;
	display: block;
}
.min-prev {
	left: 0
}
.min-prev:hover {
	background-position: -28px 0
}
.min-next {
	right: 0;
	background-position: 0 -94px
}
.min-next:hover {
	background-position: -28px -94px
}
.min-box {
	height: 100%;
	margin: 0 auto;
	position: relative;/*overflow: hidden;*/
	height:auto;
	top: 8px
}
.min-box-list {
	height: 100%;
	left: 0;
	top: 0;
 
}
.min-box-list .cur div {
	border:1px solid #ee1c25;
 
}
.min-box-list li {
	height:66px;
	width:66px;
	padding: 2px 0;
	float: left;
	cursor: pointer;
	margin-right: 5px;
}
.min-box-list li img {
	height:64px;
	width: 64px;
}
.min-box-list li div {
	width: 64px;
	height: 64px;
	overflow: hidden;
	margin: 0 auto;
	border:1px solid #d9d9d9;
}

.oneyuan .product_name {
	font-size: 20px;
	color: #151515;
}
.product_name span {
	margin-left: -15px
}
.product_dec {
	color: #565656;
	font-size:14px;
	 line-height:60px;
}
.product_number {
	float: left;
	width:538px;
	height:150px;
	background:#fe5842;
	color:#fff;
	font-size:14px;
	text-align:center;
}
.product_number_top{  width:100%; line-height:60px; }
.product_number_top span{ color:#ffd420; padding-left:10px;font-size:20px;}
.product_number_bottom{ width:80%; line-height:20px; margin-top:10px;}
.product_number_bottom_txt_left{ float:left; width:50%; text-align:left;}
.product_number_bottom_txt_right{ float:right; width:50%; text-align:right;}
.product_number_bottom_txt{ width:100%;}
.product_number_bottom_txt_num{ width:100%;color:#ffd420;}
 .product_number_progress{ padding:2px; width:474px; height:21px; overflow:hidden;/* border:2px solid #e13e29; border-radius:13px;*/background:#fff; background:url(../images/yiyuan_03.png) ;border:0/9;}
.product_number_progress_img{text-align:left;   margin: -1px;overflow:hidden;background-image:url(../images/yiyuan_03_03.png);background-repeat: no-repeat;height:23px;}
 .product_weixin_txt {
	color: #fff;
	float: left;
	margin-left: 25px;
	line-height: 58px;
}
.product_weixin_txt span {
	color: #ffdf6f;
	padding-left: 10px;
}
.product_weixin_txt span span {
	font-size: 26px;
	padding: 0 150px 0 0px;
}
.product_weixin_img {
	float: right; 
	margin-right:30px;
}
.product_weixin_icon {
	float: right;
	margin-top: 14px;
  margin-right: 10px;
}
.product_info_list {
	padding: 0;  margin-top: 10px;
}
.product_info_list li {
	width: 100%;
	margin-top: 5px;
}
.oneyuan .product_info_list_left {
	float: left;
	width: 57px;
	text-align: right;
	padding-right:10px;
	color: #575757;
}
.priduct_price {
	color: #ef181d
}
.priduct_price strong {
	font-size: 34px;
}
.priduct_price span {
	color: #9b9b9b;
	text-decoration: line-through;
	padding-left: 50px;
}
.priduct_sale {
	color: #ef181d
}
.priduct_pingjia {
}
.priduct_pingjia_icon {
	float: left;
	padding: 5px 15px 0 0;
}
.priduct_pingjia_txt {
	color: #575757
}
.priduct_pingjia_txt span {
	color: #ef181d
}
.priduct_shop {
	color: #fe5842;
}
.priduvt_shop span {
	color: #575757;
	padding: 0 15px;
}
.priduct_data {
	color: #575757;
}
.priduct_data span {
	color: #ef181d;
}
.product_info_right {
	float: right;
	position: relative;
	text-align: center;
	color: #575757;
	width: 195px;
}
.product_info_right_img {
	margin-top: 110px;
	border: 1px solid #d9d9d9;
	width: 120px;
}
.product_list_bottom form .input {
	margin-top: 15px;
	  height: 30px;
	  float: left;
}
.oneyuan .product_list_bottom form .input_txt{  
 float: left;
  background: url(../images/yiyuanbg.png) -3px 45px;
  width: 181px;
  height: 35px;
  font-size: 12px;
  color: #6c6c6c;
  line-height: 38px;
  padding-left: 26px;
  margin-top: 19px;
  margin-left: 10px;}
.product_list_bottom form .input span{
	 color:#575757;
	 padding-left:7px;
	}
.product_list_bottom .input ul {
	border: 1px solid #d9d9d9;
	float: left;
	  height: 30px;
  overflow: hidden;
}
.product_list_bottom .input ul li {
	border-right: 1px solid #d9d9d9;
	float: left;
	
	text-align:center;
}
#J-cart-minus,#J-cart-add{
	cursor:pointer;
	height:32px;
	padding:0 10px;
	background:#f0f0f0;
}
.product_list_bottom .input ul li .inp {
	width: 40px;
	text-align: center;
	  height: 30px;
	  line-height:28px;
}
.product_list_bottom .info_but {
	background: url(../images/xiangqing_11.png);
	width: 119px;
	height: 41px;
	color: #fff;
	font-size: 20px;
	margin: 0;
	margin-left:20px;
	float: left
}
.product_list_bottom .info_add {
	background:#5ad2a4;
	border-radius:5px;
	overflow:hidden;
	width: 190px;
	height:55px;
	color: #fff;
	font-size: 24px;
	background: url(../images/yiyuan_03.png)/9; 
	float: left;
	  margin: 5px 10px;
}
.product_list_bottom .info_add .info_add_txt{
	width:100%; background:url(../images/yiyuanbg.png)  ;
 
background-repeat: no-repeat; 
background-position: -167px -6px; 
  height: 50px;
  line-height: 50px;
	
	}
.product_list_bottom .info_shop_but {
	background: url(../images/xiangqing_23_23.png);
	width: 181px;
	height: 64px;
	color: #fff;
	font-size: 24px;
 
	float: left
}
.product_list_bottom .but {
	padding: 25px 20px 20px 0px;  height: 66px;
}
.product_list_bottom .but a{ color:#fff;}
.product_list_bottom.info_but {
	float: left
}
.product_list_bottom .shou {
	background: url(../images/xiangqing_14.png);
	padding-left: 40px;
	line-height: 38px;
	width: 51px;
	height: 38px;
	margin-top: 27px;
	float: left;
	margin-left: 10px;
	color: #575757;
}
 
.share_txt{ color:#676767; padding:0 10px; float:left;}
.share_icon{ float:left; width:20px; height:20px; margin:5px;}
.share_icon a{ width:20px; height:20px;}
.share_icon .share_web{ background:url(../images/yiyuanbg.png) 202px -69px;  width:22px; height:22px;}
.share_icon .share_qq{ background:url(../images/yiyuanbg.png) 173px -69px;  width:22px; height:22px;}
.share_icon .share_xinglang{ background:url(../images/yiyuanbg.png) 196px -27px; width:22px; height:22px;}
.share_icon .share_pengyou{ background:url(../images/yiyuanbg.png) 167px -26px; width:22px; height:22px;}
.navBreadCrumb_right{ float: right; border:1px solid #d9d9d9; width:180px;}

.navBreadCrumb_right_title{ width:100%; border-bottom:1px dashed #d9d9d9; line-height:50px; }
.navBreadCrumb_right_title_left{ float:left; font-size:14px; color:#212121; padding-left:20px;}
.navBreadCrumb_right_title_right{ float:left; color:#a0a0a0;padding-left:20px;}
.navBreadCrumb_right_title_right a span{   display: inline-block;width:15px; height:15px;background:url(../images/yiyuanbg.png) 143px -32px;; margin-right:5px;}
.navBreadCrumb_right_title_right a:hover span{   display: inline-block;width:15px; height:15px;background:url(../images/yiyuanbg.png) 143px -72px; margin-right:5px;}
.navBreadCrumb_right_list{ width:180px;}
.navBreadCrumb_right_list li{ width:150px; padding:4px 15px; border-bottom: 1px dashed #d9d9d9; }
.navBreadCrumb_right_list li a img{
  width: 158px;
  margin: 10px 0;
  height: 126px;
}
.navBreadCrumb_right_list li p{ width:100%;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#434343;}
.navBreadCrumb_right_list li p a{ color:#434343;}
.navBreadCrumb_right_list li p a:hover{ color:#fe5842;}
.navBreadCrumb_right_list li p span{ color:#fe5842;}

.table .tab1{width:100%;border:#d9d9d9 solid 1px; margin-top:60px;  }
.table .menu{height:50px;border-bottom:#d9d9d9 solid 1px; color:#2b2b2b; line-height:50px; width:100%; background:#f2f2f2;  }
.table .menu li{float:left; padding:0 30px;  cursor:pointer;border-right:#d9d9d9 solid 1px; }
.table .menu li:hover{}
.table .menu li:hover,.table .menu li.off{background:#fe5842;color:#fff; }
.table .menudiv{height:auto; min-height:200px;padding-bottom:60px; }
.table .menudiv #con_one_1{padding:20px;  overflow:hidden;}
.table .menudiv .table_img{ width:100%; text-align:center; }
.table .menudiv .table_img ul{ width:100%; }
.table .menudiv .table_img li{ width:100%; margin-bottom:30px; }
.table .menudiv dl{ width:80%;}
.table .menudiv dl dt{ font-size:18px; color:#ff0000; line-height:50px;}
.table .menudiv dl dd{ font-size:16px; color:#7d7d7d;}

.table .jion{  margin-top:50px; width:1100px; padding-left:50px;}
.table .jion li{ width:100%; height:auto;  }
.table .jion .jion_left{ float:left; width:180px;/* border-right:2px solid #908780;*/  text-align: right;  position: relative;  z-index: 2; }
.table .jion .big span{ display:inline-block; width:62px; height:62px; background:url(../images/yiyuanbg.png) 74px -100px;  float: right;  margin-right: -31px; }
.table .jion .day{ color:#fe5842; font-size:22px; float:left; height:30px; *text-align:left;}
.table .jion .day span{ display:inline-block; width:28px; height:28px; background:url(../images/yiyuanbg.png) 81px -22px;  float: right;  margin-right: -16px; margin-left:10px;*margin-top:-28px;}
.table .jion .time{ color:#828282; font-size:16px; float:left;height:30px;*text-align:left;}
.table .jion .time span{ display:inline-block; width:20px; height:20px; background:url(../images/yiyuanbg.png) 111px -29px;   float: right; margin-right: -10px;  _margin-right: -11px;margin-left:10px;*margin-top:-28px;}

.table .jion li p{display:none;}
.table .jion li .jion_close{ display:none;}
.table .jion li .jion_right_div { width:100%}
.table .jion li .tanchu{ border:2px solid #d4d4d4;padding: 10px 20px;}
.table .jion li .jion_right_div dl dd{ display:none;}
.table .jion li .tanchu dl{ width:100%}
.table .jion li .tanchu dl dd{ float:left; padding:0 15px;display:block;font-size:12px;}
.table .jion li .tanchu .jion_close{ display:block; background:url(../images/yiyuanbg.png) 198px -97px;width:21px; height:21px; position:absolute; top:0; right:-42px;_right:0px;font-size:12px;cursor:pointer;}
.table .jion li .jion_right{ float:left;   padding-left: 16px; width:780px;position:relative;  border-left: 2px solid #908780;  min-height: 56px;  padding-bottom: 13px;  height: auto;}
.table .jion li .jion_right .suoyou{ display:none;}
.table .jion li .jion_right .tanchu:hover .suoyou{ display:none;}
.table .jion li .jion_right_div:hover .suoyou{ cursor: pointer;display:block; width:142px; height:35px; border:1px solid #d9d9d9; line-height:35px; color:#908780; float:left; margin-left:10px; text-align:center;  background: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#eeeeee));}
.table .jion li .jion_right:hover .suoyou:hover{ color:#fe5842;  background: -moz-linear-gradient(top,#ffffff,#eeeeee);  background: -o-linear-gradient(top,#ffffff,#eeeeee);  background: -ms-linear-gradient(top,#ffffff,#eeeeee); background:#eeeeee/9;}
.table .jion li .suoyou span{ width:20px; height:20px;background: url(../images/yiyuanbg.png) 199px -122px;  display: inline-block;  margin-left: 10px;}
.table .jion li .jion_right:hover .suoyou:hover span{background: url(../images/yiyuanbg.png) 175px -122px; }


.table .jion .jion_right .jion_right_icon{ float:left; border:1px solid #d9d9d9;}
.table .jion .jion_right .jion_right_txt{ float:left;  margin-left: 10px; }
.table .jion .jion_right .jion_right_txt .jion_right_txt_name{ color:#1885ff; display: inline-block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; float:left;    }
.table .jion .jion_right .jion_right_txt .jion_right_txt_ip{color:#575757; float:left;margin-left:10px;margin-right:8px;}
.table .jion .jion_right .jion_right_txt span{ color:#fe5842;}
.table .jion .bottom span{ display:inline-block; width:62px; height:62px; background:url(../images/yiyuanbg.png) 144px -100px;  float: right;  margin-right: -31px;  }

.youhui_product_img{ width:288px ; height:323px; background:url(../images/youhuijilu_03_03.png); margin-top:10px; font-weight:bold; color:#fff; padding-top:100px; line-height:74px}
.youhui_product_img_price{ width:100%; font-size:40px;}
.youhui_product_img_price span{  font-size:101px;}
.youhui_product_img_name{ width:100%; font-size:59px;}
.youhui_product_img_beizhu{ width:100%; font-size:25px;}
.youhui .product_name {
	font-size: 20px;
	color: #151515;
	margin-bottom:20px;
}
.youhui .product_list_bottom form .input_txt{  
 float: left;
  background: url(../images/yiyuanbg.png) -3px 45px;
  width: 181px;
  height: 35px;
  font-size: 12px;
  color: #6c6c6c;
  line-height: 38px;
  padding-left: 26px;
  margin-top: 19px;
  margin-left: 10px;}
  
  .youhui .product_info_list_left {
	float: left;
	width: 71px;
	text-align: right;
	padding-right:10px;
	color: #575757;
}
.product_info_top{ margin-top:20px;}
.youhui .product_info_list_num{	float: left; color:#ef181d; font-size:33px;}
.youhui .product_info_list_num span{ font-size:14px}

.youhui_txt{ font-size:16px; color:#4f4f4f;  padding: 20px;  line-height: 28px;}

.recharge_tips{
	height: 100px;
	width: 300px;
}
.recharge_tips p span{
	font-size:18px;
	color:red;
	font-weight:bold;
}
.recharge_tips a.btn {
margin-top: 30px;
  display: inline-block;
  vertical-align: middle;
  padding: 7px 20px 6px;
  font-size: 14px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  letter-spacing: .1em;
  text-align: center;
  text-decoration: none;
  border-width: 0 0 1px;
  border-style: solid;
  background-repeat: repeat-x;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  color: #fff;
  background-color: #2eb7aa;
  border-color: #008177;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2BB8AA', endColorstr='#FF2EB7AA');
  background-size: 100%;
  background-image: -moz-linear-gradient(top,#2bb8aa,#2eb7aa);
  background-image: -webkit-linear-gradient(top,#2bb8aa,#2eb7aa);
  background-image: linear-gradient(to bottom,#2bb8aa,#2eb7aa);
}

.product_list_bottom .input ul li label{
	cursor:pointer;
}
.couponDiv .product_name {
  font-size: 20px;
  color: #151515;
  margin-bottom: 20px;
}
.couponDiv .product_info_list_left {
  float: left;
  width: 71px;
  text-align: right;
  padding-right: 10px;
  color: #575757;
}
.couponDiv .product_info_list_num {
  float: left;
  color: #ef181d;
  font-size: 24px;
}
.couponDiv .product_info_list_num span {
  font-size: 16px;
}
.couponDiv .product_list_bottom .but{
	padding-top:10px;
}
.couponDiv .product_info_list_num span.score_tips{
	font-size: 12px;
    color: black;
    margin-left: 30px;
}
.couponDiv .product_info_list_num span.score_tips strong{
	color:#ef181d;
	font-size:16px;
}
/* .couponDiv .product_info_no_tips{
	margin-top:60px;
	font-size:18px;
	color:#ef181d;
	text-align:center;
} */
.product_info_no_tips{
	margin-top:60px;
	font-size:18px;
	color:#ef181d;
	text-align:center;
}


.m-detail {
  overflow: initial;
  padding: 30px 0;
}
.m-detail .g-main {
  width: 910px;
}
.m-detail-revealed .m-detail-main-pic, .m-detail-willReveal .m-detail-main-pic {
  float: left;
  padding: 24px;
  border: 1px solid #ddd;
  position: relative;
}
.m-detail-revealed .m-detail-main-info, .m-detail-willReveal .m-detail-main-info {
  margin-left: 265px;
}
.m-detail-revealed .m-detail-main-title, .m-detail-willReveal .m-detail-main-title {
  margin-bottom: 0;
  height: 60px;
}
.m-detail-main-title h1 {
  font-size: 20px;
  line-height: 30px;
  word-break: break-all;
  color: #3c3c3c;
  font-weight: bold;
  font-family: "Microsoft Yahei";
}
.m-detail-revealed .m-detail-main-title h1, .m-detail-willReveal .m-detail-main-title h1 {
  font-size: 18px;
  line-height: 28px;
}
.txt-err, .txt-impt, .txt-red {
  color: #db3652;
}
.m-detail-main-will, .m-detail-main-end, .m-detail-main-nobody, .m-detail-period-limitIng-detail, .m-detail-period-willReveal-detail {
  background: url(../images/maininfo_bg.png) no-repeat;
}
.m-detail-main-end {
  margin-bottom: 20px;
  padding: 30px 0 0 210px;
  height: 110px;
  background-position: 0 -140px;
}
.m-detail-main-end h3 {
  display: none;
}
.m-detail-main-end-luckyCode {
  padding: 26px 0 15px 85px;
  height: 56px;
}
.w-num {
  color: #DB3652;
  font-size: 63px;
  overflow: hidden;
}
.m-detail-main-winner {
  padding: 8px 10px;
  background: #f2f2f2;
  border: 1px solid #ddd;
  border-bottom: 0;
  _zoom: 1;
}
.m-detail-main-winner-content {
  float: left;
  width: 490px;
  color: #996600;
  line-height: 19px;
  position: relative;
  overflow: hidden;
}
.m-detail-main-winner-content .avatar {
  float: left;
  margin-right: 15px;
  padding: 5px;
  background-color: #fff;
  border-radius: 2px;
}
.txt-green {
  color: #528d00;
}
.m-detail-main-winner-content .user {
  height: 40px;
  max-height: 40px;
  overflow: hidden;
  font-weight: bold;
  word-break: break-all;
}
.m-detail a {
  color: #3399ff;
}
.m-detail-main-winner-codes {
  margin-left: 500px;
  _margin-left: 200px;
  padding: 7px 12px;
  height: 82px;
  background: #fff;
  border: 1px solid #ddd;
}
.m-detail-main-winner-codes dl {
  font-family: inherit;
  color: #808080;
  font-size: 12px;
  line-height: 1.666;
}
.m-detail-main-winner-codes dl dt p{
	margin-bottom:5px;
	color:#3c3c3c
}
.m-detail-main-winner-codes .dd_num {
  width: 62px;
  vertical-align: top;
  float: left;
}
.m-detail-main-codes-list {
  width: 300px;
}
.m-detail-main-winner-codes dd {
  float: right;
}
.m-detail-main-codes-list span {
  margin-right: 10px;
  display: inline-block;
}
.m-detail a {
  color: #3399ff;
}
.m-detail-main-codes a, .m-detail-main-codes-list a {
  font-family: 'simsun';
}
.m-detail-main-codes {
  margin-top: 20px;
  padding: 8px 0 8px 14px;
  height: 80px;
  line-height: 20px;
  background-color: #ffffe0;
  border: 1px solid #dedeb3;
  position: relative;
}
.m-detail-revealed .m-detail-main-codes, .m-detail-willReveal .m-detail-main-codes {
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
  color: #3c3c3c;
  font-size: 12px;
}
.m-detail-revealed .m-detail-main-codes {
  margin-top: 0;
}
.m-detail-main-codes .deco {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 16px;
  height: 15px;
  background-color: #fff;
  background-position: -40px -60px;
}
.m-detail-main-codes .deco, .m-detail-period-title-ft, .m-detail-mainTab-resultList .ball {
  background-image: url(../images/mix-icon.png);
  background-repeat: no-repeat;
}
.m-detail-revealed .m-detail-main-codes .deco {
  background-color: #f2f2f2;
}
.m-detail-main-rule {
  padding: 25px 25px 25px 70px;
  height: 195px;
  border: 1px solid #ddd;
  border-top: 0;
  color: #3c3c3c;
}
.m-detail-revealed .m-detail-main-rule {
  padding: 10px 0 0 65px;
  height: 120px;
}
.m-detail-main-rule .txt {
  list-style: disc;
  list-style-position: inside;
}
.m-detail-main-rule .txt li {
  margin-bottom: 10px;
}
.m-detail-main-rule .title {
  font-size: 14px;
  font-weight: bold;
}
.m-detail-main-rule .formula {
  margin-top: 5px;
  color: #bab9b9;
  font-size: 32px;
}
.m-detail-main-rule .box {
  display: inline-block;
  width: 120px;
  min-width: 120px;
  vertical-align: middle;
  margin: 0 2px;
  padding: 8px 0;
  height: 44px;
  text-align: center;
  background: #fff;
  color: #3c3c3c;
  border: 1px solid #d3d3d3;
  font-size: 12px;
  position: relative;
  line-height: 23px;
  cursor: default;
}
.m-detail-main-rule .red-box {
  background: #FFE6E6;
  border-color: #FAC8D1;
  line-height: 44px;
}
.m-detail-revealed .m-detail-main-rule .red-box {
  line-height: 1.666;
}
.m-detail-main-rule .box .txt-red {
  font-size: 14px;
}
.txt-err, .txt-impt, .txt-red {
  color: #db3652;
}
.m-detail-main-rule .operator {
  display: inline-block;
}
.m-detail-main-rule .gray-box {
  background: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2));
  background: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background: -ms-linear-gradient(top, #ffffff, #f2f2f2);
}
.m-detail-main-rule .more-box {
  display: none;
  position: absolute;
  left: -65px;
  top: 60px;
  z-index: 2;
  width: 250px;
  text-align: left;
}
.m-detail-main-rule .box:hover .more-box, .m-detail-main-rule .box-hover .more-box {
	display: block;
}
.ico {
  display: inline-block;
  vertical-align: middle;
  background: url(../images/mix-icon.png) no-repeat;
  overflow: hidden;
}
.m-detail-main-rule .more-box .ico-arrow {
  position: absolute;
  left: 118px;
  top: 3px;
}
.m-detail-main-rule .yellow-box {
  border-color: #EED85C;
  background: #FFFBE7;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#FFF9D8));
  background: -moz-linear-gradient(top, #ffffff, #FFF9D8);
  background: -o-linear-gradient(top, #ffffff, #FFF9D8);
  background: -ms-linear-gradient(top, #ffffff, #FFF9D8);
}
.m-detail-main-rule .more-box .yellow-box {
  margin-top: 13px;
  padding: 15px 20px;
  background: #FFF9DA;
  border-width: 1px;
  border-style: solid;
}

ul, li, ol {
  list-style: none;
  padding: 0;
}
#resultPanel {
  font-family: verdana;
  color: #3C3C3C;
}
.m-detail-mainTab-calcRule {
  height: 102px;
  overflow: hidden;
}
.m-detail-mainTab-calcRule h4 {
  float: left;
  display: block;
  width: 130px;
  height: 100%;
  text-align: center;
  background-color: #fb5764;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: "Microsoft Yahei";
}
.m-detail-mainTab-calcRule h4 .ico {
  margin: 15px auto 10px;
}
.m-detail-mainTab-calcRule .ruleWrap {
  padding: 15px 20px 15px 20px;
  height: 130px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-left: 0;
    height: 70px;
}
.m-detail-mainTab-calcRule li {
  padding: 5px 0;
  line-height: 16px;
  color: #3c3c3c;
  font-size: 12px;
  width: 100%;
  float: none;
}
.m-detail-mainTab-calcRule .index {
  background-color: #4f4846;
  color: #fff;
}
#resultPanel span.index {
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  text-align: center;
}
.ico-questionMark {
  width: 16px;
  height: 16px;
  background-position: -60px -510px;
}

.m-detail-mainTab-resultList {
  width: 100%;
  margin-top: 35px;
  color: #3C3C3C;
  line-height: 35px;
  background-color: #F2F2F2;
  font-size: 12px;
}
.m-detail-mainTab-resultList .table_title {
  width: 100%;
  border-top: 2px solid #ddd;
}
.m-detail-mainTab-resultList .table_title li {
  float: left;
  text-align: left;
   padding: 0 10px;
}
.m-detail-mainTab-resultList .startRow {
  background-color: #FFFFE0;
  border: 1px solid #DDDEB4;
  text-align: center;
}
.m-detail-mainTab-resultList .table_title  .day {
  width: 334px;
}
.m-detail-mainTab-resultList .table_title  .user {
  width: 210px;
}
.m-detail-mainTab-resultList .table_title  .gname {
  width: 480px;
}


.m-detail-mainTab-resultList .calcRow {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.m-detail-mainTab-resultList .calcRow li {
  background-color: #F5F5F5;
  float: left;
  padding: 0 15px;
}
.m-detail-mainTab-resultList .calcRow .day, .m-detail-mainTab-resultList .calcRow .time {
  border-right: 1px solid #ddd;
}

.ico-arrow-transfer {
  width: 11px;
  height: 10px;
  background-position: -120px -90px;
}
.m-detail-mainTab-resultList .ico-arrow-transfer {
  margin: 0 10px;
}
.m-detail-mainTab-resultList .calcRow .user {
  width: 210px;
}
.m-detail-mainTab-resultList .calcRow .gname {
  width: 480px;
}
.m-detail-mainTab-resultList a {
  color: #7F7F7F;
}

.m-detail-mainTab-resultList .resultRow {
  padding: 15px 30px 20px;
  height: 170px;
  line-height: 16px;
  background-color: #FC5765;
  color: #fff;
  border-bottom: 1px solid #ddd;
}
.m-detail-mainTab-resultList .resultRow li {
  padding: 2px 0;
  line-height: 24px;
  float: none;
}
.m-detail-mainTab-resultList .resultRow h4 {
  display: inline-block;
  margin-top: 6px;
  float: left;
  width: 85px;
  height: 100%;
  font-family: "Microsoft Yahei";
  font-size: 16px;
  font-weight: bold;
}
.m-detail-mainTab-resultList .resultRow a {
  margin-left: 10px;
  color: #FFE000;
  font-family: simsun;
}
.m-detail-mainTab-resultList .resultRow li {
  padding: 2px 0;
  line-height: 24px;
  float: none;
}

.m-detail-codesDetail-bd {
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ddd;
}
.m-detail-codesDetail-bd h3 {
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-size: 15px;
  color: #3c3c3c;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}
.m-detail-codesDetail-wrap {
  width: 450px;
  _height: 420px;
  max-height: 420px;
  overflow-y: scroll;
}
.m-detail-codesDetail-list {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 26px;
}
.m-detail-codesDetail-list dt {
  font-weight: bold;
  color: #3c3c3c;
}
.m-detail-codesDetail-list dd {
  float: left;
  margin-right: 10px;
  width: 75px;
}


.m-detail-revealed .m-detail-main-codes .total, .m-detail-willReveal .m-detail-main-codes .total {
	color: #714c00;
	font-size: 14px;
	font-weight: bold;
}
.m-detail-revealed .m-detail-main-codes var, .m-detail-willReveal .m-detail-main-codes var {
	margin: 0 15px;
    font-style: normal;
}
.m-detail-revealed .m-detail-main-codes, .m-detail-willReveal .m-detail-main-codes {
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
  color: #3c3c3c;
}
.m-detail-main-codes .detail b {
  font-weight: normal;
  margin-right: 10px;
}
.m-detail-codesDetail-list .selected {
  font-weight: bold;
}