a:link {
	color: #151515;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #151515;
}
a:hover {
	text-decoration: none;
	color: #FE5842;
}
a:active {
	text-decoration: none;
	color: #151515;
}ul, li {
	list-style: none;
	padding: 0;
}

.new-header, .site-mast {
	min-width: 1210px
}
.site-mast__user-nav-w {
	height: 30px;
	font-size: 12px;
	line-height:30px;
	background: #f1f1f1;
 
}
.site-mast__user-nav {
	position: relative;
*zoom:1;
	margin: 0 auto;
	width: 1210px;
	z-index: 90
}
.site-mast__separator {
	float: left;
	height: 28px;
	vertical-align: top
}
.site-mast__separator--left {
	border-right: 1px solid #EEE
}
.site-mast__separator--right {
	border-left: 1px solid #FFF
}
.site-mast__user-nav .icon {
	display: inline-block;
*display:inline;
*zoom:1;
	margin-right: 3px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	vertical-align: text-top;
	color: #888
}
.site-mast__user-nav .icon-mobile {
	position: absolute;
	left: 8px
}
.site-mast .basic-info {
	float: left;
	-webkit-backface-visibility: hidden;
	  width: 180px;
}
.site-mast .basic-info .mobile-info__item .dropdown__toggle {
	padding: 0px 20px 12px 22px
}
.site-mast__user-w {
	float: right;
	_line-height: 28px
}
.site-mast__user-w .site-mast__separator--left {
	box-shadow: 1px 0 1px #FFF
}
.site-mast__user-w .user-orders {
	float: left;
	display: inline-block;
	padding: 0px 8px;
	_padding: 0 8px;
	height: 16px;
	vertical-align: top
}
.site-mast__user-w .user-orders a {
	color: #666
}
.site-mast__user-w .user-orders a:hover {
	color: #fe582
}
.site-mast .user-info {
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
	height: 30px;
   width: 83px;
	color: #666;
	vertical-align: top
}
.user-info__login {
	padding: 0 5px 0 10px;
	color: #F76120
}
.user-info__signup {
	padding: 0 10px 0 5px;
	color: #666;
 
}
.user-info__logout {
	padding: 0 0 0 10px;
	color: #666
}
.user-info__logout:hover {
	color: #fe5842
}
.user-info__name {
	padding-right: 10px;
	_padding: 2px 10px 2px 0;
	z-index: 1
}
.site-mast .dropdown {
	float: left;
	position: relative;
	vertical-align: top;
	width: 84px;
}
.site-mast .dropdown__toggle {
		background:url(../images/o2o1_03.png) no-repeat 62px 10px;
	position: relative;
	display: inline-block;
	height: 16px;
	padding:0px 20px 12px 12px;
	margin: 0 1px;
	color: #666;
	z-index: 93;
	_padding: 0 20px 0 12px;
*border-left:1px solid #F5F5F5;
*margin-left:0;
*display:inline;
*zoom:1;
	-webkit-backface-visibility: hidden
}
.site-mast .dropdown__toggle:hover {
	text-decoration: none;
	color: #fe5842
}
.site-mast .dropdown__toggle .vertical-bar {
	position: absolute;
	right: -2px;
	top: 9px;
	_top: 9px;
	display: block;
	height: 12px;
	width: 1px;
background: #474747;
	z-index: 94
}
.user-orders .vertical-bar {
right: -2px;
top: 15px;
_top: 9px;
display: block;
height: 12px;
width: 1px;
background: #474747;
z-index: 94;
float: right;
margin-top: 10px;
margin-left: 5px;
}

.user-info .vertical-bar {
right: -2px;
top: 15px;
_top: 9px;
display: block;
height: 12px;
width: 1px;
background: #474747;
z-index: 94;
float: right;
margin-top: -20px;
margin-left: 5px;
}
.site-mast .dropdown--first .dropdown__toggle {
	border-left: 1px solid #FFF;
	margin-left: 0
}
.site-mast .tri--dropdown {
	background:url(../images/o2o1_03.png);
	height:10px; width:10px;
	top: 14px;
	right: 7px;
	border-top: 3px solid #999;
	-webkit-transition: -webkit-transform .3s linear;
	-moz-transition: -moz-transform .3s linear;
	-o-transition: -o-transform .3s linear
}
.site-mast .dropdown--account {
*z-index:5
}
.site-mast .dropdown--history {
*z-index:4
}
.site-mast .dropdown--cart {
*z-index:3
}
.site-mast .dropdown--help {
*z-index:2
}
.site-mast .dropdown--merchant {
*z-index:1
}
.site-mast .dropdown--more {
*z-index:0
}
.site-mast .dropdown--cart .dropdown__toggle {
	_padding: 0 20px
}
.site-mast .dropdown--cart .icon-cart {
	_position: absolute;
	_left: 5px
}
.site-mast .dropdown--cart .cart-count {
	margin: 0 .1em;
	font-weight: 400;
	color: #f76120
}
.site-mast .dropdown--msg .dropdown-menu--msglist {
	left: 0;
	right: auto;
	width: 285px;
	padding-top: 0;
	padding-bottom: 40px;
	line-height: 20px;
	zoom: 1
}
.site-mast .dropdown--msg .dropdown__toggle {
	_padding: 6px 20px 6px 12px
}
.site-mast .dropdown--msg .msg-count {
	color: #F76120
}
.site-mast .dropdown-menu--msglist, .site-mast .dropdown-menu--msglist .no-msg {
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid #d3d3d3
}
.site-mast .dropdown-menu--msglist ul {
*position:relative;
	border-bottom: 1px solid #D3D3D3;
	max-height: 250px;
	_height: 250px;
	overflow: hidden;
	zoom: 1
}
.site-mast .dropdown-menu--msglist li:hover {
	cursor: pointer
}
.site-mast .dropdown-menu--msglist li {
	position: relative;
	border-bottom: 1px dotted #D3D3D3;
	padding: 10px 20px;
	text-align: left
}
.site-mast .dropdown-menu--msglist li a {
	color: #666
}
.site-mast .dropdown-menu--msglist li:last-child {
	border-bottom: none
}
.site-mast .dropdown-menu--msglist .common-close {
	position: absolute;
	top: 16px;
	right: 10px;
	display: none
}
.site-mast .dropdown-menu--msglist .isread, .site-mast .dropdown-menu--msglist .isread a {
	color: #999
}
.site-mast .dropdown-menu--msglist .current {
	background-color: #f8f8f8
}
.site-mast .dropdown-menu--msglist .current a {
	color: #fe5842
}
.site-mast .dropdown-menu--msglist .current .common-close {
	display: block
}
.site-mast .dropdown-menu--msglist .view-all {
	position: absolute;
	bottom: 10px;
	right: 20px;
	text-align: right;
	color: #999
}
.site-mast .dropdown-menu--msglist .scroll-bar {
	position: absolute;
	opacity: .5;
	background-color: #000;
	width: 6px;
	border-radius: 3px;
	cursor: default;
	-webkit-user-select: none;
	-webkit-transition: opactity .3s;
	transition: opacity .3s;
	overflow: hidden
}
.site-mast .dropdown-menu--msglist .msglist {
	position: absolute;
	left: 0;
	top: 0
}
.site-mast .dropdown--open .dropdown__toggle {
		background:#FFF url(../images/o2o554_03.png) no-repeat 62px 10px;
	margin: 0;
	text-decoration: none;
 
	color: #fe5842;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	box-shadow: 1px -1px 2px rgba(203,203,203,.5)
}
.site-mast .dropdown--open .vertical-bar {
	display: none
}
.site-mast .dropdown--open .tri--dropdown {
	top: 11px;
	_border-top-style: dashed;
	border-top-color: transparent;
	border-bottom: 3px solid #fe5842
}
.site-mast .dropdown-menu {
	position: absolute;
	display: none;
	top: 27px;
	right: 0;
	padding: 10px 0;
	border: 1px solid #DDD;
	color: #666;
	background: #FFF;
	z-index: 92;
	box-shadow: 1px 1px 2px rgba(203,203,203,.5)
}

.dropdown--open-app .dropdown-menu--app {
 
	left: 0;
	right: auto;
	padding: 0;
}
.dropdown dropdown--open-app:hover .dropdown-menu--app {	display: block;}
.dropdown--open-app .dropdown-menu--app .app-block {
	position: relative;
	display: block;
	border-bottom: 1px dotted #DDD;
	padding: 10px;
	width: 144px
}
.dropdown--open-app .dropdown-menu--app .app-block:hover {
	text-decoration: none;
	background: #F8F8F8
}
.dropdown--open-app .dropdown-menu--app .app-block:hover .app-block__arrow {
	display: block
}
.dropdown--open-app .dropdown-menu--app .app-block--last {
	border-bottom: none
}
.dropdown--open-app .dropdown-menu--app .app-block__title {
	display: block;
	margin: 1px 0 11px;
	border-left: 2px solid #fe5842;
	padding-left: 5px;
	height: 10px;
	line-height: 10px;
	_height: 14px;
	_line-height: 14px;
	font-size: 12px;
	color: #000
}
.dropdown--open-app .dropdown-menu--app .app-block--maoyan .app-block__content {
	background-position: 0 0
}
.dropdown--open-app .dropdown-menu--app .app-block__content {
	display: block;
	margin-top: 10px;
	margin-left: 25px;
	width: 90px;
	height: 90px;
	background-position: 0 -90px
}
.dropdown--open-app .dropdown-menu--app .app-block__arrow {
	display: none;
	position: absolute;
	right: 10px;
	top: 67px;
	font-size: 16px;
	line-height: 1;
	color: #3ac8bc
}
.site-mast .dropdown-menu--empty {
	line-height: 50px;
	text-align: center;
	width:80px;
}
.site-mast .dropdown-menu--loading {
	padding: 25px 0;
	background: #FFF url(img/icon-loading16x16.vecf78228.gif) no-repeat center center
}
.site-mast .dropdown--open .dropdown-menu {
	display: block
}
.site-mast .dropdown-menu--text .dropdown-menu__item {
	display: block;
	padding: 0 12px;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	background: #FFF;
	color: #666;
	transition: background .2s ease-in
}
.site-mast .dropdown-menu--text .dropdown-menu__item:hover {
	color: #fe5842;
	background: #F8F8F8
}
.site-mast .dropdown-menu--deal .dropdown-menu__item {
	padding: 10px 13px;
	border-bottom: 1px dotted #EEE;
	height: 55px;
	overflow: hidden;
	color: #666;
	transition: background .2s ease-in
}
.site-mast .dropdown-menu--deal .dropdown-menu__item:hover {
	background: #F8F8F8
}
.site-mast .dropdown-menu--deal .dropdown-menu__item .deal-link {
	padding: 0;
	color: #666
}
.site-mast .dropdown-menu--deal .dropdown-menu__item .deal-link:hover {
	color: #fe5842;
	text-decoration: none
}
.site-mast .dropdown-menu--deal .dropdown-menu__item .deal-title {
	height: 32px;
	margin-bottom: 4px;
	line-height: 16px;
	overflow: hidden;
	font-weight: 400
}
.site-mast .dropdown-menu--deal .dropdown-menu__item .deal-cover {
	float: left;
	margin: 2px 10px 0 0
}
.site-mast .dropdown-menu--deal .dropdown-menu__item .deal-price-w {
	height: 18px;
	display: block;
	line-height: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	_white-space: normal;
	overflow: hidden
}
.site-mast .dropdown-menu--deal .dropdown-menu__item .deal-price {
	padding-right: 10px;
	font: 700 12px/12px arial, sans-serif;
	color: #EE5238
}
