@charset "utf-8";

.footer1 {
	width: 100%;
	min-width: 1210px;
	background: #f4f4f4;
	color: #656565;
	margin-top: 150px;
	padding: 25px 0;
	font-family:'微软雅黑';
}
.footer_list {
	margin: 0 auto 10px;
	width: 900px;
}
.footer_list span {
	padding: 0 10px
}
.footer_list li {
	  display: inline-block;
	  float:none;
}
.footer_txt {
	  margin: 0 auto;
	width: 1210px;
	text-align: center;
	font-size: 12px;
	line-height: 24px;
}