 @charset "utf-8";
.menu {
	width: 100%;
	color: #fff;
}
.menu_left {
	width: 255px;
	float: left;
	margin-top: 30px;
}
.menu_left ul {
}
.menu_left li {
	border-bottom: 1px solid #9f968f;
	padding: 10px 15px 10px 16px
}
.menu .list {
	width: 100%;
	background: #908780;
	line-height: 25px;
	padding-bottom: 9px;
}
.menu .li_top {
	width: 100%;
}
.menu .icon {
	float: left;
	margin-top: 2px;
	margin-right: 5px;
}
.menu .li_txt {
	float: left;
}
.menu .li_bottom {
	padding-left: 11px;
}
.menu span {
	margin-left: 10px;
}
.menu_right {
	width: 955px;
	float: left;
	margin-top: 30px;
	color: #3d3d3d
}
.menu_right_top {
	border-bottom: 2px solid #fe5842;
	padding-left: 15px;
	height: 42px;
	line-height: 42px;
}
.menu_table {
	width: 100%;
}


.filter-breadcrumb {
  margin: 0 15px;
  padding: 12px 0;
  border-bottom: 1px dotted #DBDBDB;
}
.filter-breadcrumb .breadcrumb__item {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  color: #EE3968;
  z-index: 11;
  cursor: default;
}
.filter-tag {
  position: relative;
  display: inline-block;
  margin: 0 10px 5px 0;
  padding: 0 16px 0 2px;
  color: #333;
  font-size: 12px;
  border: 1px solid #EE3968;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter-breadcrumb .breadcrumb__item .filter-tag {
  margin: 0;
  border-color: #EE3968;
  color: #666;
  padding-left: 8px;
  cursor: pointer;
  background-color: #fff;
  z-index: 3;
    line-height: 19px;
}
.filter-breadcrumb .breadcrumb__crumb {
  display: inline-block;
  _display: inline;
  margin: 0 5px 0 -1px;
  width: 5px;
  height: 9px;
  background-position: 0 0;
  _font-size: 0;
  zoom: 1;
  _zoom: 1;
}
.tri {
  position: absolute;
  height: 0;
  width: 0;
  line-height: 0;
  font-size: 0;
  border: 3px dashed transparent;
}
.filter-breadcrumb .breadcrumb__item .breadcrumb_item__title .tri {
  position: absolute;
  top: 8px;
  right: 6px;
  border-top: 3px solid #666;
  border-width: 3px;
}
.filter-breadcrumb .breadcrumb__item .breadcrumb-item--delete {
  position: relative;
  display: inline-block;
  _display: inline;
  vertical-align: top;
  margin-left: -1px;
  _margin-bottom: -5px;
  height: 19px;
  width: 19px;
  border: 1px solid #EE3968;
  border-left-color: transparent;
  _border-left-color: #fff;
  cursor: pointer;
  _zoom: 1;
}
.filter-breadcrumb .breadcrumb__item .breadcrumb-item--delete i,.filter-breadcrumb .breadcrumb__item .breadcrumb-item--delete:hover i, .close-sprite {
  background-image: url(../images/close.png);
  background-repeat: no-repeat;
}
.filter-breadcrumb .breadcrumb__item .breadcrumb_item__option {
  display: none;
  border: 1px solid #EEE;
  padding: 6px 0;
  width: 293px;
  line-height: 0;
  z-index: 2;
  background: #FFF;
  box-shadow: 1px 1px 1px 0 #EEE;
}
.inline-block {
  display: inline-block;
  zoom: 1;
}
.filter-breadcrumb .breadcrumb__item .breadcrumb_item__option .option-list--wrap {
  overflow: hidden;
}
.filter-breadcrumb .breadcrumb__item .breadcrumb_item__option .option-list--inner {
  margin-left: -1px;
  line-height: 1.5;
}
.filter-breadcrumb .breadcrumb__item .filter-tag--all {
  padding-right: 8px;
  text-decoration: none;
}
.filter-breadcrumb .breadcrumb__item .breadcrumb_item__option a {
  display: inline-block;
  color: #666;
  text-decoration: none;
  border-left: 1px solid #E0E0E0;
  padding: 0 10px;
  margin: 6px 0;
  line-height: 12px;
  font-size: 12px;
}
.filter-breadcrumb .breadcrumb__item .breadcrumb-item--delete i {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  background-position: 0 -132px;
  height: 9px;
  width: 9px;
}
.filter-breadcrumb .breadcrumb__item .breadcrumb_item__option .current,.filter-breadcrumb .breadcrumb__item .breadcrumb_item__option a:hover {
  color: #EE3968;
}
.filter-breadcrumb .breadcrumb__item .breadcrumb-item--delete:hover{background-color:#EE3968;_border-left-color:#EE3968}
.filter-breadcrumb .breadcrumb__item .breadcrumb-item--delete:hover i,.close-sprite{background-image:url(../images/close.png);background-repeat:no-repeat}
.filter-breadcrumb .breadcrumb__item .breadcrumb-item--delete:hover i{background-position:0 -121px}
.filter-sortbar .dropdown--open{z-index:10}
.filter-sortbar .dropdown--open .button-strip-item{color:#EE3968}
.filter-sortbar .dropdown--open .button-strip-item .tri--dropdown{top:8px;_border-top-style:dashed;border-top-color:transparent;border-bottom:4px solid #EE3968}
.filter-sortbar .dropdown--open .dropdown-menu{display:block;border-top-color:#fff}
.filter-breadcrumb .dropdown--open .breadcrumb_item__option{display:block;position:absolute;top:20px;left:0;box-shadow:none;border:1px solid #EE3968}
.filter-breadcrumb .dropdown--open .breadcrumb_item__title{border-bottom-color:transparent;_border-bottom-color:#fff}
.filter-breadcrumb .dropdown--open .breadcrumb_item__title .tri{top:4px;_border-top-style:dashed;border-top-color:transparent;border-bottom:3px solid #EE3968}
.filter-breadcrumb .dropdown--open .filter-tag{color:#EE3968}


.filter-section-wrapper{
border: 1px solid #d9d9d9;
  margin-top: 10px;
}
.filter-section-wrapper .filter-section{
	border-top: 1px dotted #DBDBDB;
	line-height: 43px;
	width: auto;
	font-weight: bold;
	color: #383636;
	position: relative;
	padding: 10px 0 10px 70px;
}
.filter-section-wrapper .first-filter {
	border-top: 0;
}
.filter-section-wrapper .has-icon{
	position: absolute;
	top: 4px;
	left: 5px;
	width: 60px;
	text-align: right;
}
.filter-section-wrapper .filter-sect-list{
	display: inline-block;
}
.filter-section-wrapper .filter-sect-list li{
	  margin: 4px 16px 4px 0;
	  display:inline-block;
	  line-height: 24px;
}
.filter-section-wrapper .filter-sect-list li a {
	color: #717171;
	font-weight: normal;
	padding: 2px 6px;
	font-size: 12px;
}
.filter-section-wrapper .filter-sect-list .current a, .filter-section-wrapper .filter-sect-list .item a:hover {
  border-radius: 2px;
  background: #EE3968;
  color: #FFF;
  _text-decoration: none;
}

.filter-section-wrapper .checkbox,.filter-breadcrumb .breadcrumb__crumb,.filter-section-wrapper .checkbox-checked{
	background-image: url(../images/filter.png);
	background-repeat: no-repeat;
}
.filter-section-wrapper .filter-sect-list li .checkbox {
  position: relative;
  margin: 3px 5px 8px;
  padding: 0px 7px;
  padding-left: 20px;
  display: inline-block;
  color: #333;
  line-height: 19px;
  text-decoration: none;
  text-align: left;
  background-position: 0 -44px;
  vertical-align: top;
  outline: 0;
}
.filter-section-wrapper .filter-sect-list li .checkbox-checked {
  background-position: 0 -25px;
}
.filter-section-wrapper .filter-sect--multi .checkbox, .filter-section-wrapper .filter-sect--room-facility .checkbox {
  margin: 4px 20px 4px 0;
}
.filter-section-wrapper .filter-section a:hover {
  color: #39f;
}



.menu_table .category {
  border-bottom: 1px #e6e6e6 dashed;
  line-height: 43px;
  height: 43px;
  margin: 5px 0 5px 20px;
  width: auto;
}

.nearby {
	border: 1px solid #d9d9d9;
	margin-top: 10px;
}
.nearby .category {
	font-weight: bold;
	color: #383636;
}
.nearby .category a {
	color: #717171;
	  font-weight: normal;
}
.nearby .category a:hover {
	color: #FE5842;
}
.cate {
	float: left
}
.cate_cate {
	float: left
}
.cate_cate span {
	margin: 0 16px;
}
.sort {
	border: 1px solid #d9d9d9;
	margin-top: 10px;
	height: 40px;
	overflow:hidden;
}
.sort li {
	float: left;
	padding: 5px 27px;
	border-right: 1px solid #d9d9d9;
}
.sort li .li_txt {
	float: left;
}
.sort li .li_img{
	margin-top: 8px;
	float: left;
	margin-left: 3px;
	width:14px;
	height:14px;
	background:url(../images/list_03.png);
}
.sort li a.selected{
	color: #FE5842;
}
.sort li a:hover .li_img,.sort li a.selected .li_img{
	background:url(../images/list_03_h.png);
}

.sort li a.time-asc .li_img{
	margin-top: 8px;
	float: left;
	margin-left: 3px;
	width:14px;
	height:14px;
	background:url(../images/list_04.png);
}
.sort li a.time-asc:hover .li_img,.sort li a.time-asc.selected .li_img{
	background:url(../images/list_04_h.png);
}


.menu_table .category {
	border-bottom: 1px #e6e6e6 dashed;
	line-height: 43px;
	height:43px;
	margin: 5px 0 5px 20px;
	width: auto;
}
.category_list {
  float: left;
  width: 921px;
}
.category_top {
	width: 100%;
	border-bottom: 1px solid #d9d9d9
}
.category_top_left {
	float: left;
	height: 47px;
}
.category_top_left li {
	float: left;
	margin: 10px 25px 0 0;
	background: url(../images/o2o5-24_20_154.png);
	width: 81px;
	height: 27px;
	text-align: center;
	color: #aaaaaa;
	line-height: 27px;
}
.category_top_left li:hover {
	color: #FE5842
}
#category_main {
	float: left;
	margin: 0 59px 0 0
}
.category_top_right {
	float: right;
	background: url(../images/o2o5-24_20_152.png);
	font-size: 18px;
	color: #fff;
	width: 72px;
	height: 36px;
	line-height: 36px;
	padding-left: 20px;
}
.category_top_right:hover {
	text-decoration: underline;
}
.extra-inner .sales {
	color: #4f4f4f
}
.extra-inner .num {
	color: #fe5842
}
.extra-inner .noreviews span {
	color: #5b5b5b;
	margin-left: 2px;
}
.bmbox_title span {
	font-size: 20px;
	color: #fe5842
}
.activity {
	float: left;
	padding: 10px;
	border: 1px solid #d9d9d9;
	margin-top: 15px;
	  width: 265px;
	  	_padding: 0px;
	  _width: 267px;
  overflow: hidden;
}
.activity_title {
	font-size: 18px;
	color: #212121;
	border-bottom: 1px solid #d9d9d9;
	margin: 0 -10px;
	padding: 0 0 10px 25px;
}
.activity_img {
  margin-top: 10px;
}
.activity_img img{
	width:267px;
	height:267px;
}
.page {
	width: 100%;
	color: #565656;
	margin: 60px 0 0 350px
}
.page .up_page {
	float: left;
	padding: 0px 10px;
	border: 1px solid #d9d9d9
}
.page .up_page:hover {
	color: #fe5842
}
.page .up_page:hover .up_page_img {
	background: url(../images/list_07_07.png);
}
.page .up_page_txt {
	float: left;
}
.page .up_page_img {
	float: left;
	width: 20px;
	height: 20px;
	background: url(../images/list_07.png);
	margin-top: 5px;
}
.page .next_page {
	float: left;
	padding: 0px 10px;
	border: 1px solid #d9d9d9
}
.page .next_page:hover {
	color: #fe5842
}
.page .next_page:hover .next_page_img {
	background: url(../images/list_09.png);
}
.page .next_page_txt {
	float: left;
}
.page .next_page_img {
	float: left;
	width: 20px;
	height: 20px;
	background: url(../images/list_07_09.png);
	margin-top: 5px;
}
..page ul {
float:left
}
.page li {
	float: left;
	width: 30px;
	text-align: center;
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	cursor: pointer;
}
.page li:hover {
	color: #fe5842;
}
.page .dian {
	float: left;
	width: 30px;
	text-align: center;
}
.category {
  margin-top:0px;
}

#bd {
  padding: 10px 0 65px;
}
.no-result {
  position: relative;
  height: 68px;
  padding: 45px;
  text-align: center;
  font-size: 12px;
  background: #fff;
  border: 1px solid #d4d4d4;
  margin-bottom: 16px;
}
.no-result .no-result-img {
  display: inline-block;
  vertical-align: middle;
}
.no-result .no-result-content {
  height: 80px;
  line-height: 80px;
  color: #333;
  padding-left: 15px;
  font-weight: 700;
}
.no-result strong {
  color: #f76120;
}

.search-tip {
  margin-bottom: 10px;
  padding: 8px 15px;
  line-height: 18px;
  border: 1px solid #D4D4D4;
  font-size: 12px;
  background-color: #F9F9F9;
  word-wrap: break-word;
}
.search-tip .count, .search-tip .keyword {
  padding: 0 5px;
  color: #f76120;
  font-weight: 700;
}
.paginator li {
  width: auto;
  height: auto;
  margin:0;
  margin-left:5px;
  border:0;
  display: inline-block;
  _display:inline;
  float:none;
}
.paginator li:hover{
  width: auto;
  height: auto;
  border:0;
}
/*************************************/
#filter .filter-main {
  border: 1px #e8e8e8 solid;
  background: #FFF;
}
#filter .around-geo-strip {
  padding: 10px 15px;
  /* border-top: 1px solid #EDEDED; */
  background: #FAFAFA;
  color: #666;
}
#filter .around-geo-strip .icon {
  margin-right: 5px;
  color: #f76120;
  font-size: 1.1em;
}
@font-face{font-family:global-iconfont;font-weight:400;font-style:normal;src:url(img/global-iconfont.eot);src:url(img/global-iconfont.eot) format("embedded-opentype"),url(img/global-iconfont.woff) format("woff"),url(img/global-iconfont.ttf) format("truetype"),url(img/global-iconfont.svg) format("svg")}
.F-glob {
  font-family: global-iconfont;
  font-style: normal;
  font-weight: 400;
  speak: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
.F-glob-position:before {
  content: "\e91f";
}

#filter .around-geo-strip .modify {
  background-position: 0 -98px;
}
#filter .around-geo-strip .delete, #filter .around-geo-strip .modify {
  margin-left: 20px;
  padding-left: 10px;
}
#filter .around-geo-strip .delete, #filter .around-geo-strip .modify, #filter .button-strip-item-asc .button-img, #filter .button-strip-item-asc-active .button-img, #filter .button-strip-item-asc:hover .button-img, #filter .button-strip-item-desc .button-img, #filter .button-strip-item-desc-active .button-img, #filter .button-strip-item-desc:hover .button-img, #filter .checkbox, #filter .checkbox-checked, #filter .checkbox-checked-disabled, #filter .checkbox-disabled, #filter .filter-breadcrumb .breadcrumb__crumb, #filter .filter-section-wrapper .current .subway, #filter .filter-section-wrapper .item .subway, #filter .filter-section-wrapper .item .subway:hover, #filter .filter-tag__delete, .filter-sprite {
  background-image: url(img/filter.v026de7d5.png);
  background-repeat: no-repeat;
}