.bg-for-new-index {
  background-color: #FFF;
}

#bdw {
  min-height: 500px;
}
#bd {
  width: 1210px;
  margin: 0 auto;
  padding: 10px 0 65px;
}
.has-order-nav .component-order-nav {
  position: relative;
  float: left;
  width: 159px;
  min-height: 700px;
  _height: 700px;
  border: 1px solid #eae9e9;
  border-right: none;
  background: #fcfcfc;
}
.side-nav__user {
  padding: 20px;
}

.side-nav__user .user {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 2px;
}
.side-nav__user .item {
  float: left;
}
.side-nav__user .user img {
  border-radius: 3px;
}
.side-nav__user .info {
  font-size: 12px;
}
.side-nav__user .item {
  float: left;
}

.side-nav__user .info__name {
  width: 78px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  zoom: 1;
}
.cf:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.side-nav__account {
  position: relative;
  font-size: 12px;
  z-index: 2;
}
.side-nav__account .item--first {
  border-left: none;
}
.side-nav__account .item {
  float: left;
  width: 78px;
  padding: 10px 0;
  text-align: center;
  line-height: 20px;
  border: 1px solid #f1f0f0;
  border-right: none;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  display: block;
  zoom: 1;
}
.side-nav__account .item span {
  display: block;
  color: #000;
  font-weight: 400;
}
.side-nav__list {
  position: relative;
  z-index: 2;
  padding: 5px 0 0;
}
.side-nav__list .first-item {
  border-top: none;
}
.side-nav__list dt {
  padding: 10px 35px 7px;
  border-top: 1px solid #fff;
  color: #666;
}
.side-nav__list dd {
  position: relative;
  padding-bottom: 10px;
}
.side-nav__list dd, .side-nav__list dt {
  padding: 0;
}
.side-nav__list li {
  font-size: 12px;
}
li {
  list-style: none;
}
.side-nav__list a {
  display: block;
  padding: 5px 35px 5px 45px;
}
.side-nav__list a:before {
  position: absolute;
  left: 35px;
  top: 13px;
  content: '';
  width: 3px;
  height: 3px;
  background-position: 0 -22px;
}

.side-nav__list .current {
  color: #FFF;
}
.side-nav__list .current a {
  position: relative;
  background: #FF658E;
  color: #FFF;
}
.side-nav__list a {
  position: relative;
  display: block;
  padding: 0px 35px 0px 45px;
  color: #666;
}
.side-nav__list .current a:before {
  background-position: 0 -10px;
}
.order-nav-sprite, .side-nav__list .current a:after, .side-nav__list .current a:before, .side-nav__list .hightlight, .side-nav__list a:before, .side-nav__list a:hover:before, .side-nav__user .mail, .side-nav__user .mail .markpoint, .side-nav__user .mail--noset, .side-nav__user .phone, .side-nav__user .phone .markpoint, .side-nav__user .phone--noset, .side-nav__user .security, .side-nav__user .security .markpoint, .side-nav__user .setting, .side-nav__user .setting .markpoint, .side-nav__user .setting--noset {
  background-image: url(img/order-nav.v65578dd3.png);
  background-repeat: no-repeat;
}
.side-nav__list .current a:after {
  background-position: 0 0;
  position: absolute;
  right: 20px;
  top: 11px;
  width: 5px;
  height: 10px;
  content: '';
}
.side-nav__list dd:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 159px;
  background: #f1f0f0;
}
.side-nav__list dt {
  padding: 10px 35px 7px;
  border-top: 1px solid #fff;
  color: #666;
}
.side-nav__list .last {
  border-bottom: none;
}

.side-nav__list a:before {
  position: absolute;
  left: 35px;
  top: 13px;
  content: '';
  width: 3px;
  height: 3px;
  background-position: 0 -22px;
}
.component-order-nav:after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  content: '';
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFCFCFC', endColorstr='#FFF8F8F8');
  background-size: 100%;
  background-image: -moz-linear-gradient(left,#fcfcfc,#f8f8f8);
  background-image: -webkit-linear-gradient(left,#fcfcfc,#f8f8f8);
  background-image: linear-gradient(to right,#fcfcfc,#f8f8f8);
}
.has-order-nav .component-order-nav {
  position: relative;
  float: left;
  width: 159px;
  min-height: 700px;
  _height: 700px;
  border: 1px solid #eae9e9;
  border-right: none;
  background: #fcfcfc;
}
.has-order-nav #content {
  width: 1210px;
}
#content {
  float: left;
  width: 1210px;
  _display: inline;
  padding: 0;
}

#orders .coupons-box .mainbox {
  position: relative;
}
.has-order-nav #content .mainbox {
  padding: 20px;
  border-color: #e8e8e8;
  border-left-color: #e8e8e8;
  min-height: 687px;
}
#content .mainbox {
  background: #FFF;
  border: 1px solid #e8e8e8;
  padding: 25px;
  clear: both;
  zoom: 1;
  height: auto!important;
  min-height: 400px;
}
.mine {
  position: relative;
  z-index: 1;
  zoom: 1;
}
.orders-filter {
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  width: 101px;
  vertical-align: top;
}
@media screen and (-webkit-min-device-pixel-ratio: 0)
.dropdown--small {
  -webkit-appearance: none;
  padding: 2px 22px 2px 10px;
  border-radius: 0;
  background: #fff url(img/drop_small.png) no-repeat right center;
}
.dropdown--small {
  font-size: 12px;
  height: 21px;
  padding: 2px 0;
  border: 1px solid #d4d4d4;
  border-color: #b4b4b4 #d4d4d4 #d4d4d4 #b4b4b4;
  color: #666;
}
.orders-wrapper .orders-head {
  border-top: 1px solid #edeeee;
  color: #999;
  font-size: 12px;
  line-height: 32px;
  background: #f8f8f8;
  overflow: hidden;
  text-align: center;
  zoom: 1;
}
.orders-wrapper .order-title {
  position: relative;
  line-height: 24px;
  margin-top: 12px;
  color: #999;
  font-size: 12px;
  zoom: 1;
}
.orders-wrapper .order-title a {
  color: #999;
}
.orders-wrapper .order-row {
  border: 1px solid #f6f6f6;
  background: #fcfcfc;
  padding: 11px 0 15px;
  overflow: hidden;
  font-size: 12px;
  color: #666;
  line-height: 20px;
  zoom: 1;
}

.orders-wrapper .order-op {
  width: 90px;
  padding-right: 20px;
}
.orders-wrapper .order-cell {
  float: left;
  text-align: center;
}
.orders-wrapper .order-cell--right {
  float: right;
}
.orders-wrapper .deal-info {
  padding: 0 20px;
}
.filter-short, .orders-wrapper .order-op .btn-mini {
  display: inline-block;
  zoom: 1;
}
.orders-wrapper .order-op a {
  display: block;
}
.orders-wrapper .order-info a {
  color: #666;
}
.orders-wrapper .img-w {
  float: left;
  width: 100px;
}

.orders-wrapper .order-op {
  width: 90px;
  padding-right: 20px;
}

.orders-wrapper .order-row--last {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.orders-wrapper .img-w img {
  margin-top: 4px;
  vertical-align: top;
}
fieldset, img {
  border: 0;
}
.orders-wrapper .order-row--sub {
  float: left;
}
.orders-wrapper .info-detail .biz-info {
  color: #2bb8aa;
}
.orders-wrapper .order-op .btn-mini {
  min-width: 65px;
  margin-bottom: 7px;
}

.orders-wrapper .order-row .order-info {
  text-align: left;
}
.orders-wrapper .order-info {
  width: 450px;
}

.orders-wrapper .order-quantity {
  width: 90px;
}

.orders-wrapper .order-money {
  width: 111px;
}

span.money {
  font-family: arial;
}
.orders-wrapper .order-status {
  width: 190px;
  padding: 0 20px;
}

.paginator-wrapper {
  margin-top: 20px;
  text-align: center;
  clear: both;
}
.orders-wrapper .order-op .btn-mini {
  min-width: 65px;
  margin-bottom: 7px;
}

.orders-wrapper .order-op a {
  display: block;
}

.btn-mini {
  padding: 1px 8px 0;
  font-size: 12px;
  font-weight: 400;
}
.btn-hot {
  color: #fff;
  background-color: #ff7200;
  border-color: #da3f02;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF8901', endColorstr='#FFFF7200');
  background-size: 100%;
  background-image: linear-gradient(to bottom, #ff8901, #ff7200);
}
.btn, .btn-hot, .btn-normal {
  line-height: 1.5;
  font-family: SimSun, Arial;
  letter-spacing: .1em;
  text-align: center;
  text-decoration: none;
  border-width: 0 0 1px;
  border-style: solid;
  background-repeat: repeat-x;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.has-order-nav #content {
  width: 1047px;
}
.orders-wrapper .order-title .del {
  position: absolute;
  right: 0;
  top: 8px;
  padding-left: 11px;
  height: 12px;
  zoom: 1;
  overflow: hidden;
  background-position: 0 -13px;
}
.order-list-sprite, .orders-wrapper .order-title .del, .orders-wrapper .order-title .del:hover {
  background-image: url(img/order-list.vd7342a41.png);
  background-repeat: no-repeat;
}

.orders-wrapper .order-title .del:after {
  padding-left: 3px;
  content: '删除';
  color: #cacaca;
  vertical-align: top;
  line-height: 11px;
  zoom: 1;
  display: inline-block;
}

.paginator-wrapper {
  margin-top: 20px;
  text-align: center;
  clear: both;
}

.paginator {
  display: inline;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 700;
  font-family: arial;
  line-height: 12px;
}

.paginator .current {
  font-weight: 700;
}
.paginator li {
  display: inline;
  vertical-align: top;
  margin-left: 5px;
}
.paginator .current a, .paginator .current span {
  border-color: #EE3968;
  color: #fff;
  background-color: #EE3968;
}
.paginator a, .paginator span {
  display: inline-block;
  position: relative;
  padding: 5px 5px 3px;
  height: 12px;
  min-width: 10px;
  _width: 18px;
  border: 1px solid #dee3e3;
  border-radius: 1px;
  text-align: center;
  text-decoration: none;
}
.paginator--notri .next a, .paginator--notri .next span, .paginator--notri .previous a, .paginator--notri .previous span {
  padding: 5px 4px 3px;
}
.paginator .next .tri {
  right: 2px;
  border-left: 4px solid #EE3968;
}
.paginator--notri .tri {
  display: none;
}
.paginator .tri {
  position: absolute;
  top: 6px;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  border: 4px dashed transparent;
}
#credit .table-section .income {
  color: #2bb8aa;
  font-weight: 700;
  text-align: right;
  padding-right: 20px;
}

.mine .filter {
  margin-bottom: 10px;
  padding: 5px 0 10px;
  border-bottom: 1px solid #DCDCDC;
  z-index: 5;
}
.mine .filter li {
  float: left;
  margin: 0 5px 0 0;
  font-size: 12px;
}

.mine .filter .current a {
  padding: 1px 7px;
  background: #FF658E;
  color: #fff;
  border-radius: 3px;
}

caption, th {
  text-align: left;
}
.rate-item__content .form-field label {
  padding-top: 2px;
  width: 7em;
  font-size: 12px;
  color: #666;
}
.form-field {
  position: relative;
}

.form-field label.text {
  padding-top: 0;
}
.form-field label {
  position: absolute;
  left: 0;
  /* width: 100px; */
  /* padding-top: 6px; */
  /* font-size: 14px; */
  text-align: right;
  /* color: #333; */
}

#settings .address-div .table-section td {
  color: #222;
  padding: 10px 0 10px 15px;
  text-align: left;
}
.table-section table td {
  background: #FFF;
}
#settings .address-div #address-form {
  text-align: left;
  padding-left: 0;
  margin: 0;
}
#address-form {
  clear: both;
}
#content .address-field-list {
  margin: 5px 0;
}
.form-field {
  position: relative;
  padding: 8px 0 8px 110px;
  zoom: 1;
}
#content .address-field-list label {
  width: 84px;
  font-size: 12px;
}
.form-field label {
  position: absolute;
  left: 0;
  /* width: 100px; */
  padding-top: 6px;
  /* font-size: 14px; */
  text-align: right;
  color: #333;
}

.tip-status {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  overflow: hidden;
  background-position: 0 -191px;
  vertical-align: -3px;
}
.icon-status-sprite, .tip-status, .tip-status--error, .tip-status--large, .tip-status--large--error, .tip-status--large--opinfo, .tip-status--large--success, .tip-status--middle, .tip-status--middle--error, .tip-status--middle--opinfo, .tip-status--middle--success, .tip-status--opinfo, .tip-status--success {
  background-image: url(img/icon-status.v6b28ad84.png);
  background-repeat: no-repeat;
}

#content .address-field-list .form-field .address-city, #content .address-field-list .form-field .address-district, #content .address-field-list .form-field .address-province {
  margin: 3px 10px 0 0;
  width: 140px;
  height: 30px;
}
#content .address-field-list .form-field .f-text {
  height: 18px;
}
#content .address-field-list .address-detail {
  width: 470px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0)
.dropdown--small {
  -webkit-appearance: none;
  padding: 2px 22px 2px 10px;
  border-radius: 0;
  background: #fff url(img/drop_small.png) no-repeat right center;
}
.form-field .f-text {
  /* width: 248px; */
  /* height: 24px; */
  padding: 5px;
  border: 1px solid #aaa;
  line-height: 24px;
  vertical-align: top;
}
.f-input, .f-text {
  font-size: 14px;
  /* padding: 3px 4px; */
  border-color: #89B4D6;
  border-style: solid;
  border-width: 1px;
}
.btn {
  color: #fff;
  background-color: #2db3a6;
  border-color: #0D7B71;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2EC3B4', endColorstr='#FF2DB3A6');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #2ec3b4, #2db3a6);
  background-image: -webkit-linear-gradient(top, #2ec3b4, #2db3a6);
  background-image: linear-gradient(to bottom, #2ec3b4, #2db3a6);
}
.btn, .btn-hot, .btn-normal {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 20px 6px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  font-family: SimSun, Arial;
  letter-spacing: .1em;
  text-align: center;
  text-decoration: none;
  border-width: 0 0 1px;
  border-style: solid;
  background-repeat: repeat-x;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.form-field em {
  font-weight: 700;
  color: #D00;
}
.tip-status--opinfo {
  background-position: 0 -296px;
}
.form-field--error .inline-tip, .form-field--ok .inline-tip, .form-field--type .inline-tip {
  color: #666;
}
#content .address-field-list .form-field .f-text {
  height: 18px;
}
#content .address-field-list .address-zipcode {
  width: 120px;
}
#content .address-field-list .address-name, #content .address-field-list .address-phone {
  width: 120px;
}
.form-field .f-text-disabled {
	color: #B9B9B9;
	filter: alpha(Opacity = 75);
	opacity: .75
}

.form-field .f-textarea {
	width: 248px;
	height: 100px;
	*margin: -1px auto;
	padding: 5px;
	border: 1px solid #AAA
}

.form-field select {
	margin: 0 auto
}

.form-field .f-text:hover, .form-field .f-textarea:hover {
	border-color: #999
}

.form-field .f-text:focus, .form-field .f-textarea:focus {
	border-color: #2BB8AA;
	outline: 0
}

.form-field .inline-tip {
	display: inline-block;
	*display: inline;
	margin-left: 4px;
	padding: 6px 0;
	line-height: 24px;
	font-size: 12px;
	color: #999;
	vertical-align: top;
	zoom: 1
}
.form-field--error .f-textarea, .form-field--error .f-textarea:hover, .form-field--error input.f-text, .form-field--error input.f-text:hover, .form-field--error textarea, .form-field--error textarea:hover {
  border-color: #F7611E;
}