 @charset "utf-8";
.nearby {
	border: 1px solid #d9d9d9;
	padding: 10px 20px;
	margin-top: 10px;
}
.nearby .category {
	font-weight: bold;
	color: #383636;
}
.nearby .category a {
	color: #717171;
	font-weight: bold;
}
.nearby .category a:hover {
	color: #FE5842;
}
.cate {
	float: left
}
.cate_cate {
	float: left
}
.cate_cate span {
	margin: 0 16px;
}
.sort {
	border: 1px solid #d9d9d9;
	margin-top: 20px;
}
.sort li {
	float: left;
	padding: 10px 27px;
	border-right: 1px solid #d9d9d9;
}
.sort li .li_txt {
	float: left;
}
.sort li .li_img {
	margin-top: 8px;
	float: left;
	margin-left: 3px;
}
.menu_table .category {
	border-bottom: 1px #e6e6e6 dashed;
	line-height: 43px;
}
 

 
* {
	margin: 0 auto;
}
/* CSS Document */
.back {
	background: #d8d8d8;
	height: 70px;
	margin: auto 0;
}
.ulcls {
	list-style: none;
	padding-left: 20px;
	line-height: 70px;
}
.logowidth {
	width: 220px;
}
.pl10 {
	padding-left: 10px;
}
.menupos {
	top: 0px;
	position: absolute;
	left: 260px;
	overflow: hidden;
	height: 70px;
	width: 700px;
	line-height: 70px;
}
.firstli {
	background: #65765f;
	width: 80px;
	padding: 5px;
	height: 70px;
	float: left;
	text-align: center;
	line-height: 70px;
}
.sencli {
	background: #39bd05;
	width: 100px;
	text-align: center;
	float: left;
	height: 70px;
	line-height: 70px;
	border-left: 1px solid #d8d8d8;
}
.threeli {
	background: #65765f;
	width: 80px;
	padding: 5px;
	height: 70px;
	float: left;
	text-align: center;
	line-height: 70px;
	border-left: 1px solid #d8d8d8;
}
.lia {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
.textpos {
	text-align: left;
	top: 2px;
	position: absolute;
	right: 50px;
	overflow: hidden;
	font-size: 12px;
	color: #363d34;
	line-height: 16px;
}
.texta {
	color: #0652ec;
	text-decoration: none;
}
body, ul, ol, li, img {
	margin: 0;
	padding: 0;
	font-size: 14px
}
img {
	border: none;
}
li {
	list-style-type: none
}
#slider {
	margin: 0 auto;
	height: auto;/*border: 1px solid #888*/
}
.show-box {
	width: 495px;
	overflow: hidden;
	float: left;
	position: relative;
}
.show-box li {
}
.show-box p {
	text-align: center;
	margin-top: 5px;
	font-size: 20px;
	line-height: 30px;
}
.show-box .show {
	display: block;/*_margin: 0 auto;_width:expression(eval(this.offsetWidth>643?643:this.offsetWidth))*/
}
.show-box img {
	width:495px;
	height:302px;
}
.show-btn {
	display: block;
	height: 100%;
	width: 50px;
	position: absolute;
}
.show-prev {
	left: 0;
}
.show-next {
	right: -30px;
}
.show-btn span {
	height: 46px;
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
	cursor: pointer;
	margin-top: -23px;
	background: url(../images/btn.png) no-repeat;
}
.show-prev span {
	background-position: -20px 0
}
.show-next span {
	background-position: -89px 0
}
/*小图列表部分*/
.minImgs {
	height: 92px;
	position: relative;
	float: left;
}
.clear {
	clear: both;
}
.min-btn {
	height: 100%;
	width: 28px;
	position: absolute;
	top: 0;
	display: block;
}
.min-prev {
	left: 0
}
.min-prev:hover {
	background-position: -28px 0
}
.min-next {
	right: 0;
	background-position: 0 -94px
}
.min-next:hover {
	background-position: -28px -94px
}
.min-box {
	height: 100%;
	margin: 0 auto;
	position: relative;/*overflow: hidden;*/
	height: 76px;
	top: 8px
}
.min-box-list {
	height: 100%;
	left: 0;
	top: 0;
	float: left;
}
.min-box-list .cur {
	background: #ee1c25;
}
.min-box-list li {
	width: 94px;
	padding: 2px 0;
	float: left;
	cursor: pointer;
	margin-right: 5px;
}
.min-box-list li img {
	width: 90px;
	height: 61px;
}
.min-box-list li div {
	width: 90px;
	overflow: hidden;
	margin: 0 auto
}
.navBreadCrumb {
	color: #343434;
	margin: 10px 0;
}
.navBreadCrumb li {
	float: left;
}
.navBreadCrumb li span{
	margin: 0 8px;
	color: #898989;
}
.navBreadCrumb li .navBreadCrumb_txt { float:left}
.navBreadCrumb li .navBreadCrumb_img {
	margin: 0 10px;
	padding-top: 5px;
}
.product_table {
	border: 1px solid #d9d9d9;
	overflow:hidden;
}
.product_img {
	float: left;
	width: 500px;
	padding: 15px;
	overflow:hidden;
}
.product_list {
	float: left;
	width: 637px;
	overflow: hidden;
	padding: 20px;
	font-weight: bold;
	border-left: 1px solid #d9d9d9;
}
.product_list_top {
	padding-left: 20px;
}
.product_top_line{
	border-top: 1px solid #eee;
	padding-top: 20px;
}
.product_name {
	font-size: 28px;
	color: #151515;
}
.product_name span {
	margin-left: -15px
}
.product_dec {
	color: #565656;
	margin:10px 0;
}
.product_info {
	float: left;
	width: 452px;
}
.product_weixin {
	background: #fe5842  url(../images/xiangqing_10.png) no-repeat 422px  15px;
	height: 48px;
	width: 100%;
	position: relative;
}
.product_weixin:hover {
	background: #fe5842  url(../images/xiangqing_13.png) no-repeat 422px  13px;
 
}
.product_weixin .product_weixin_info{ display:none; }
.product_weixin:hover  .product_weixin_info{ display: block;
position:absolute;
right:0;  width: 452px;
  background: #fe5842;  top: 47px;
}
.product_weixin_info li {
	color:white;
	padding-left: 28px;
	  font-weight: normal;
}
.product_weixin_info li i{ padding-right:3px; color:#ffdf6f;font-style:normal;}
.product_weixin_txt {
	color: #fff;
	float: left;
	margin-left: 25px;
	line-height: 48px;
	font-style:normal;
}
.product_weixin_txt span {
	color: #ffdf6f;
	padding-left: 10px;
}
.product_weixin_txt span span {
	font-size: 26px;
	padding: 0 150px 0 0px;
}
.product_weixin_img {
	float: right; 
	margin-right:30px;
	margin-top:5px;
}
.product_weixin_img img{
	height:40px;
}
.product_weixin_icon {
	float: right;
	margin-top: 14px;
  margin-right: 10px;
}
.product_info_list {
	padding: 0;
	margin: 10px 0;
}
.product_info_list li {
	width: 100%;
	line-height: 30px;
}
.product_info_list_left {
	float: left;
	width: 87px;
	text-align: right;
	color: #575757;
}
.priduct_price {
	color: #ef181d;
	float: left;
  margin-left: 20px;
}
.priduct_price strong {
	font-size: 34px;
}
.priduct_price span {
	color: #9b9b9b;
	text-decoration: line-through;
	padding-left: 50px;
	font-size:12px;
}
.priduct_sale {
	color: #ef181d;
	float: left;
  margin-left: 20px;
}
.priduct_pingjia {
float: left;
  margin-left: 20px;
}
.priduct_pingjia_icon {
	float: left;
	padding: 8px 10px 0 0;
}
.priduct_pingjia_txt {
	color: #575757;
	font-size: 12px;
	  float: left;
}
.priduct_pingjia_txt span {
	color: #ef181d
}
.priduct_shop {
	color: #fe5842;
	font-size:12px;
	float: left;
  margin-left: 20px;
    font-weight: normal;
}
.priduvt_shop span {
	color: #575757;
	padding: 0 15px;
}
.priduct_data {
	  font-weight: normal;
	color: #575757;
	font-size: 12px;
	float: left;
  margin-left: 20px;
}
.priduct_data span {
	color: #ef181d;
}
.product_info_right {
	font-size: 12px;
	float: right;
	position: relative;
	text-align: center;
	color: #575757;
	width: 155px;
}
.product_info_right_img {
	margin-top: 60px;
	border: 1px solid #d9d9d9;
	width: 120px;
}
.product_info_right_img img{
	width:120px;
	height:120px;
}
.product_list_bottom {
}
.product_list_bottom form {
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}
.product_list_bottom form .input {
	margin-top: 15px;
	padding-left: 20px;  height: 30px;
}
.product_list_bottom .input ul {
	float: left;
	margin-left: 20px;
	
}
.product_list_bottom .input ul li{
float: left;
}
.product_list_bottom .input ul li button{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  -webkit-appearance: none;
  outline: 0;
  height: 34px;
  border: 1px solid #ddd;
  font-size: 18px;
  font-weight: 700;
  padding: 0 6px 2px;
  margin: 0;
  color: #666;
  background: #f0f0f0;
  cursor: pointer;
}
.product_list_bottom .input ul li button:hover {
  color: #333;
  background: #e0e0e0;
}
.J-cart-quantity {
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  -webkit-appearance: none;
  outline: 0;
  width: 40px;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0;
  margin: 0;
}
.orange{
    color: #f76120;
  margin-left: 20px;
  font-size: 12px;
}
.buy-group {
  position: absolute;
  right: 0;
  top: 7px;
  display:none;
}
a.btn-hot{
  display: inline-block;
  vertical-align: middle;
  padding: 7px 20px 6px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  font-family: SimSun, Arial;
  letter-spacing: .1em;
  text-align: center;
  text-decoration: none;
  border-width: 0 0 1px;
  border-style: solid;
  background-repeat: repeat-x;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
    background-color: #ff7200;
  border-color: #da3f02;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF8901', endColorstr='#FFFF7200');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #ff8901, #ff7200);
  background-image: -webkit-linear-gradient(top, #ff8901, #ff7200);
  background-image: linear-gradient(to bottom, #ff8901, #ff7200);
    color: #fff;
  display: block;
  position: relative;
    float: left;
  margin-right: 10px;
    padding: 6px 40px;
    font-size: 14px;
  font-weight: 400;
  font-family: "Microsoft YaHei","΢���ź�";
}

.product_list_bottom .input ul li .inp {
	width: 40px;
	text-align: center;
}
.product_list_bottom .info_but {
	background: url(../images/xiangqing_11.png);
	width: 119px;
	height: 41px;
	color: #fff;
	font-size: 20px;
	margin-top:0px;
	float: left
}
.product_list_bottom .info_shop_but {
	background: url(../images/xiangqing_23_23.png);
	width: 119px;
	height: 41px;
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	float: left;
	display: block;
	line-height: 42px;
	text-align: center;
	margin-left: 30px;
}
.but {
	padding: 25px 0 20px 60px;
}
.but a{ color:#fff;}
.product_list_bottom.info_but {
	float: left
}
.product_list_bottom .shou {
	background: url(../images/xiangqing_15.png);
	padding-left: 40px;
	line-height: 38px;
	width: 51px;
	height: 38px;
	margin-top: 5px;
	float: left;
	margin-left:40px;
	color: #575757;
	cursor:pointer;
	font-size: 12px;
}
.product_list_bottom .shou.yi{
	background: url(../images/xiangqing_14.png);
}
.baozhang {
	padding: 10px 20px 0;
}
.baozhang_list {
	color: #716F6F;
	margin-left: 26px;
	float: left;
}
.baozhang_list li {
	float: left;
	padding-left:19px;
	background:url(../images/xiangqing_311.png) no-repeat left;
	margin-right:40px;
}


.detail_content{
	  width: 1210px;
  margin-top: 100px;
}
.content_left{ width:890px; margin-right:10px; float:left}
.content_right{ float:right}
.content_right .activity {
	float: left;
	padding: 10px;
	border: 1px solid #d9d9d9;
 
}
.content_right .activity_title {
	font-size: 18px;
	color: #212121;
 
	margin: 0 -10px;
	  padding: 0 0 0px 25px;
  font-weight: bold;
}
.datal {
	padding:5px 10px 5px;
}
.content_right {
	float: right;
	width:307px;
 
}
.content_right li {
	width: 285px;
	overflow: hidden;
  margin-top: 15px;
  border-top: 1px dashed #d9d9d9;
}
.content_right_img {
	position: relative;
}
.category_list_img {
	position: relative;
}
.category_list_img img{
	height: 174px;
	width: 285px;
}
.content_right_list li .bmbox {
	display: none;
	width: 285px;
	float: left;
	height: 210px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000, endcolorstr=#7F000000);
	color: #fff;
	text-align: center;
	font-size: 16px;
}
.content_right_list li:hover .bmbox {
	display: block;
}
.content_right_list li .bmbox_title {
	border-bottom: 2px solid #fff;
	  padding: 0px 5px 5px 10px;
  margin: 7px 25px;
	font-size: 18px;
}
.content_right_list li .bmbox_list {
	height: 136px;
	margin: 23px 0 0 30px;
}
.content_right_list li .bmbox_list_img {
	float: left
}
.content_right_list li .bmbox_list_img img{
	width: 120px;
	height: 120px;
}
.content_right_list li .bmbox_list_li {
	float: left;
	margin-left: 10px;
	width: 92px;
}
.content_right li .bmbox_list_li li {
	background: url(../images/o2o11_1_117.png);
	/* float: left; */
	width: 59px;
	height: 30px;
	border: 0;
	padding-left: 23px;
	font-size: 14px;
	margin: 0;
}
.content_right_list li:hover {
	/* border-bottom: 2px solid #fe5842; */
}
.content_right .border {
	margin: 15px 20px 0 20px;
}
.content_right .border1 {
	margin-right: 20px
}
.content_right_title {
	color: #424242;
	font-size: 14px;
	font-weight: bold;
}
.content_right_description {
	color: #818181
}
.deal-tile__detail {
	color: #929292;
	 float:left;
	  border: none;
	margin-top:0px;
}
.deal-tile__detail span { font-size: 13px;	margin-right: 20px;
	float: left;
}
#price {
	color: #fe5842
}
#price strong {
	font-size: 22px;
}
#cheap {
	color: #fff;
	background: #5ad2a4;
	width: 103px;
	height: 22px;
	font-size: 12px;
	float: right;
	line-height: 22px;
	text-align: center;
	margin-top: 3px;
}
.extra-inner {
	height: 32px;
	padding: 0px;
	float: right;
}
.extra-inner div {
	float: left;
}
.extra-inner .sales {
	color: #4f4f4f
}
.extra-inner .num {
	color: #fe5842
}
.extra-inner .noreviews {
	float: right;
}
.extra-inner .noreviews .icon {
	margin-top: 4px;
}
.extra-inner .noreviews span {
	color: #5b5b5b;
	margin-left: 2px;
}
.bmbox_title span {
	font-size: 20px;
	color: #fe5842
}
.content_right .activity_img {
	margin-top: 10px;
}
.content_right .hr{ width:100%; height:1px; border-bottom:1px dashed #d9d9d9; margin:10px 0;}
.content_navbar{ border:1px solid #d9d9d9; line-height:50px;  height: 50px;}
.content_navbar li{width:173px;height:50px;  float: left;text-align:center;border-right:1px solid #d9d9d9;color:#2b2b2b;font-weight:600;}
.content_navbar li a{  display: block;}
.content_navbar li:last-child{border-right:0px;}
.content_navbar li.current{background:#fe5842;} 
.content_navbar li.current a{color:#fff;} 
.content_navbar.common-fixed{
  border-top: 2px solid #EE3968;
  position: fixed;
  _position: absolute;
    width: 1208px;
  top: 0;
  z-index: 2;
  background-color: white;
}
.content_navbar .num {
  margin-left: 3px;
  color: #999;
  font-size: 10px;
  line-height: 37px;
    font-weight: normal;
}
.content_navbar .current .num{
	color:white;
}

.address{}
.section_title{ font-size:18px; color:#ee1c25; width:100%; margin-top:50px;}
.section_txt{ border-bottom:2px solid #ee1c25; width:90px; float:left;  height: 40px;  font-weight: bold;
  padding-left: 10px;}
.section_border{border-bottom:2px solid #888; width:790px; height:40px;float:left}
.map_map{ width:500px; height:300px; float:left;}
.map_txt{ float:left;   padding: 10px 15px; color:#595959;width: 360px;}
.map_txt span{ width:40px; padding-right:10px;}
.shop_name,.shop_map a{ color:#EE3968;}
.shop_name{font-weight: bold;  height: 36px;line-height: 36px;background:url(../images/o2o1_16.png) no-repeat 345px 12px;}
.biz-info--open .shop_name{
  background: none;
}
.map_map_img{ width:100%; position: relative}
.map_icon{ position:absolute; right:0; bottom:0; width:45px; height:45px; 	background: rgba(239,15,22,0.5);
filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000, endcolorstr=#7F000000);cursor:pointer;}
.biz-info__content {
  min-height: 80px;
  display: none;
}
.biz-info--open {
  min-height: 127px;
  _height: 127px;
}
.biz-info--open .biz-info__content {
  display: block;
}
.map_txt .biz-info {
  border-bottom: 1px solid #eee;
}
.shop_add,.shop_map,.shop_ip{line-height:24px;font-size:12px;}
.shop_add{}
.shop_map{margin:3px 0;}

.shopping_list{ padding-left:20px; color:#262626;}
.shopping_list li{ width:100%;  margin-top: 25px;}
.shopping_list_name{ border:1px solid #d9d9d9; width:110px; height:30px; float:left; text-align:center}
.shopping_list_txt{ float:left; margin-left:20px;width: 700px;  line-height: 32px;}

.package_table{text-align: center; color:#4b4b4b}
.package_table_title{ background:#f0f0f0; color:#010101;  width: 100%;}
.package_table li { float:left; height:60px;  
  line-height: 60px;}
.package_art{ width:450px; text-align:left; padding-left:20px;  border-right: 1px solid #d9d9d9;}

.package_price{ width:112px;  border-right: 1px solid #d9d9d9;}
.package_num{ width:155px;  border-right: 1px solid #d9d9d9;}
.package_xiaoji{ width:110px;}
.package_table_bottom{ border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; text-align:right; width:100%; height:60px; line-height:60px;}
.package_table_bottom span{ padding:0 30px 0 10px;}
.package_table_bottom span span{ color:#fe5842}
.package_txt{ color:#464646; margin-top:30px;}
.package_txt li{ width:100%}
.package_txt li span { padding:5px 5px 0 20px}
.introduce{}
.introduce_title{
  padding: 0 16px;
  color: #333;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  background: #eee;
  border-radius: 0;
  border-left: 4px solid #FF658E;
  margin: 10px 0;
}
.introduce_txt{ color:#464646; line-height:25px;margin:10px 0px;}
.introduce_img img {
  max-width: 702px;
}
.standard-image, .standard-img {
  display: block;
  margin: 10px 0;
}

.appraise{ width:890px;}
.appraise_list{ border:1px solid #d9d9d9; width:890px;   overflow:hidden}
.appraise_title{ border-bottom:1px solid #d9d9d9; height:150px; text-align:center; line-height:150px;}
.appraise_title li{ float:left}
.appraise_title .ping{ float:left;  margin-left: 70px;  font-size: 16px;font-weight: 700;}
.appraise_title .ping span{
	  padding: 0 3px;
	  color: #f76120;
	  font-size: 32px;
}
.appraise_title .appraise_icon{
	float:left;
	padding-top: 72px;
	padding-left: 40px;
}
.appraise_title .appraise_icon div{
	width: 80px;
	height: 16px;
	background-image: url(../images/black_star_16.png);
	background-repeat: repeat-x;
	  text-align: left;
}
.appraise_title .appraise_icon span{
  display: inline-block;
  height: 16px;
  line-height: 16px;
  background-image: url(../images/star_16.png);
  background-repeat: repeat-x;
  overflow: hidden;
  vertical-align: top;
}

.appraise_title .pingfen{ width:336px;}
.appraise_title .pingjia{
	width:287px;
	border-right: 1px solid #eee;
	margin: 20px 0;
	border-left: 1px solid #eee;
	line-height: 110px;
}
.appraise_title .pingjia span{
	  color: #f76120;
	  font-weight:bold;
}
.appraise_title .pinglun{ width:243px;}
.appraise_title .pinglun .fabiao{   width: 87px;
  height: 85px;
  background: #fe5842;
  margin-top: 24px;
  padding-top: 10px;cursor:pointer;display: block;}
 .appraise_title .pinglun .fabiao_but{ width:87px; height:104px;}
.appraise_title .pinglun .fabiao p{ line-height:30px; color:#fff; font-weight:bold}
.appraise_li{ width:890px; overflow:hidden;}
.appraise_li-list{ width:100%;}
.appraise_li-list dd{
  border-bottom: 1px solid #d9d9d9;
  padding: 0px 0px 20px 0px;
  margin: 50px;
  }

.appraise_li-list_img{ float:left;}
.appraise_li-list_img p{ color:#2a2a2a; padding-top:10px;}
.appraise_li-list_icon{  border-radius:50%; width:90px; height:90px; overflow:hidden;}
.appraise_li-list_icon img{ width:100%; }
.appraise_li-list_img p{ text-align:center; color:#2a2a2a;}
.appraise_li-list_top_icon{ float:left;}
.appraise_li-list_data{ float: right; color:#a8a8a8;  }
.appraise_li-list_txt{}
.norate-tip {
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
  margin: 50px 0;
}
.shop_bottom{   border: 1px solid #d9d9d9;
  height: 80px;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  margin-top: 40px;}
.shop_bottom li{ width:150px; float:left; }
.shop_bottom_pirce{ color:#fe5842;  margin-top: 15px;}
.shop_bottom_pirce span{ font-size:34px;}
.shop_bottom_list{ color:#b3b3b3;}
.shop_bottom_txt{ color:#222222;}
a.shop_bottom_but{ color:#fff; background:url(../images/xiangqing_23.png); font-size:18px; width:100px; height:50px; line-height:50px;  font-weight: bold;
  margin-right: 30px;display: block;}
  
  
#map-canvas{
	width: 500px;
	overflow: hidden;
	height: 300px;
}

.loading-surround--large {
	background-image: url(../images/bg-loading-large-100.gif);
	background-repeat: no-repeat;
	background-position: center center;
    height: 300px;
}