 @charset "utf-8";
/* CSS Document */
* {
	margin: 0 auto;
}
img {
	border: none;
}
article, aside, dialog, footer, header, section, footer, nav, figure, menu {
	display: block
}
form, input, button {
	border: 0;
	outline: 0;
}
input {
}
body, td, th {
	font-family: "微软雅黑";
}
a:link {
	color: #151515;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #151515;
}
a:hover {
	text-decoration: none;
	color: #FE5842;
}
a:active {
	text-decoration: none;
	color: #151515;
}
body {
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 30px;
	width: 100%;
}
.body {
	width: 1210px;
}
ul, li, em {
	list-style: none;
	padding: 0;
	font-style: normal
}
.header {
	width: 100%;
	color: #474747;
	font-size: 12px;
	line-height: 26px;
	min-width: 1210px;
}
.content {
	width: 100%;
}
.header_top {
	width: 100%;
	height: 30px;
	left: 0%;
	background: #f1f1f1;
}
.header_top a{
	font-size:12px;
}
.loginbar {
	float: left;
	height: 30px;
}
.login {
	float: left;
	color: #fe5842;
	width: 40px;
}
.regist {
	float: left;
	width: 40px;
}
.user-info__name {
  float: left;
  font-size: 12px;
  margin-right: 10px;
}
a.user-info__logout {
  color: #F76120;
}
.span {
	color: #7d7d7d;
	float: left;
}
.weixin {
	float: left; /*border-left:1px solid #7d7d7d*/
	width: 100px;
	position: relative;
	z-index:90;
}
.weixin .weixin_txt {
	float: left;
	width: 68px;
	padding-left: 20px;
	height: 30px;
	background: url(../images/o2o1_03.png) no-repeat 64px 8px;
}
.weixin:hover .weixin_txt {
	float: left;
	width: 68px;
	padding-left: 19px;
	height: 31px;
	position: absolute;
	z-index: 99;
	border: 1px solid #d9d9d9;
	border-bottom: 0;
	border-top: 0;
	background: #ffffff url(../images/o2o554_03.png) no-repeat 64px 8px;
	
}
.weixin:hover .weixin_txt a {
	color: #fe5842;
}
.weixin_img {
	float: left;
	margin-top: 7px;
}
.weixin .weixin_icon {
	display:none; 
}
.weixin:hover .weixin_icon {
	display: block;
	width: 170px;
	height: 130px;
	background: #fff;
	position: absolute;
	z-index: 97;
	border: 1px solid #d9d9d9;
	box-shadow: 1px 1px 2px rgba(203,203,203,.5);
	top: 30px;
}
.weixin_icon p {
	padding: 5px;
}
.weixin_icon span {
	color: #fe5842;
	padding-right: 3px;
}
.weixin_icon img {
	padding: 0 30px;
	width: 80px;
}
.list {
	float: right;
	font-size: 12px;
	width: 409px;
}
.list li {
	position: relative;
	width: 100px;
	float: left;
	height:30px;
	z-index:9
}
li {
	float: left
}
.li_txt {
	float: left;
	padding-left: 20px;
}
.li_img {
	float: left;
	margin-top: 7px;
	margin-left: 3px;
}
.list .span {
	margin: 0 5px;
	float: right;
}
.li_txt_info_txt {
	float: left;
	height: 30px;
	width: 76px;
	padding-left: 10px;
	background: url(../images/o2o1_03.png) no-repeat 65px 8px;
}
.li_txt_info{ z-index:90;}
.li_txt_info:hover .li_txt_info_txt {
	position: absolute;
	height: 31px;
	padding-left: 9px;
	z-index: 99;
	border: 1px solid #d9d9d9;

	border-bottom: 0;
	border-top: 0;
	background: #fff url(../images/o2o554_03.png) no-repeat 65px 8px;
}
.li_txt_info:hover .li_txt_info_txt a {
	color: #fe5842;
}
.li_txt_info .li_txt_info_ul {
	display:none; 
}
.li_txt_info:hover .li_txt_info_ul {
	display: block;
	background: #fff;
	border: 1px solid #d9d9d9;
     position: absolute;
 
	width: 76px;
	z-index:98;
	top: 30px;
	padding-left: 9px;
}
.li_liulan_txt {
	float: left;
	height: 30px;
	width: 76px;
	padding-left: 10px;
	background: url(../images/o2o1_03.png) no-repeat 65px 8px;
}
.li_liulan{ z-index:9}
.li_liulan:hover .li_liulan_txt {
	position: absolute;
	height: 31px;
	padding-left: 9px;
	z-index: 99;
	border: 1px solid #d9d9d9;
	border-bottom: 0;
	border-top: 0;
	background: #fff url(../images/o2o554_03.png) no-repeat 65px 8px;
}
.li_liulan:hover .li_liulan_txt a {
	color: #fe5842;
}
.li_liulan .history {
	display: none;
	width: 218px;
	position:absolute;
	background: #fff;
	border: 1px solid #d9d9d9;
	box-shadow: 1px 1px 2px rgba(203,203,203,.5);
	right: 12px;
 
	z-index: 98;
	top: 30px;
	padding-left: 9px;
}
.li_liulan:hover .history {
	display: block;
	width: 218px;
	background: #fff;
	border: 1px solid #d9d9d9;
	box-shadow: 1px 1px 2px rgba(203,203,203,.5);
	right: 12px;
	position: absolute;
	z-index: 98;
	top: 30px;
	padding-left: 9px;
}
.history li {
	padding: 10px;
	width: 200px;
	border-bottom: 1px solid #ECECEC;
	height:auto;
}
.history li .deal-link {
	float: left;
	margin-right: 10px;
}
.history .clear {
	margin-top: 15px;
	text-align: center;
	color: #fe5842;
}
.li_shop_txt {
	float: left;
	height: 30px;
	width: 76px;
	padding-left: 10px;
	background: url(../images/o2o1_03.png) no-repeat 65px 8px;
}
.li_shop{ z-index:9}
.li_shop:hover .li_shop_txt {
	position: absolute;
	height: 31px;
	padding-left: 9px;
	color: #fe5842;
	z-index: 99;
	border: 1px solid #d9d9d9;
	border-bottom: 0;
	border-top: 0;
	background: #fff url(../images/o2o554_03.png) no-repeat 65px 8px;
}
.li_shop:hover .li_shop_txt a {
	color: #fe5842;
}
.li_shop .li_txt_info_ul {
	display: none;
}
.li_shop:hover .li_txt_info_ul {
	display: block;
	background: #fff;
	border: 1px solid #d9d9d9;
	box-shadow: 1px 1px 2px rgba(203,203,203,.5);
	right: 13px;
	width: 86px;
	position: absolute;
	z-index: 98;
	top: 30px;
	padding-left: 9px;
	font-size:13px;
}
.hot {
	width: 1210px;
	height: 30px;
}
.hot a {
	color: #474747;
}
.hot a:hover {
	color: #fe5842;
}
.banner {
	background: #fede65;
	height: 80px;
	width: 100%;
	left: 0;
	top: 30px;
}
.nav {
	width: 1210px;
	margin-top: 30px;
	height: 70px;
	padding-bottom:10px;
}
.nav_hot {
	width: 1210px;
	height: 73px;
}
.nav .logo {
	float: left;
	width: 30%
}
.nav .logo img {
  height: 70px;
  width: 255px;
}
.nav .search {
	width: 43%;
	float: left;
	color: #686767;
	font-size: 14px;
}
.nav .search_txt {
	padding-left: 5%;
	margin-top: 10px;
}
.nav .search_txt span {
	width: 40px;
	margin-left: 10px;
}
.nav .menu {
	width: 17%;
  float: right;
  color: #929292;
  font-size: 12px;
  text-align: center;
}
.nav .ment_left {
	  float: left;
	width: 33%;
}
.nav .menu .hr {
	float: left;
}
.nav .menu .ment_left_img {
	padding: 0px 2px 0 0;
}
.nav .menu .ment_left_txt {
}
.nav form {
	width: 494px;
	height: 48px;
	background: url(../images/o2o5-24_20.png);
	padding: 10px 0 0 26px;/*border: 1px solid #d3d3d3;
	border-radius: 20px;
	position: relative;
	z-index: 2;*/
}
.nav input {
	width: 65%;
	height: 36px;
	float: left;
	  margin-left: 15px;
}
.nav .btnclick {
	/*background: #fe5842;*/
	width: 15%;
	height: 38px;
	float: right;
	background: transparent;
}
.menu {
	width: 100%;
	color: #fff;
}
.menu_left {
	width: 255px;
	float: left;
	margin-top: 30px;
}
.menu_left ul {
}
.menu_left li {
	border-bottom: 1px solid #9f968f;
	padding: 10px 15px 10px 16px
}
.menu .list {
	width: 100%;
	background: #908780;
	line-height: 25px;
	padding-bottom: 9px;
}
.menu .li_top {
	width: 100%;
}
.menu .icon {
	float: left;
	margin-top: 2px;
	margin-right: 5px;
}
.menu .li_txt {
	float: left;
}
.menu .li_bottom {
	padding-left: 11px;
}
.menu span {
	margin-left: 10px;
}
.menu_right {
	width: 955px;
	float: left;
	margin-top: 30px;
	color: #3d3d3d
}
.menu_right_top {
	border-bottom: 2px solid #fe5842;
	padding-left: 15px;
	height: 42px;
	line-height: 42px;
}
.menu_right li {
	margin-right: 30px;
	float: left;
}
.menu_right li:hover {
	color: #fe5842;
	cursor: pointer;
}
.menu_right .ctur {
	color: #FE5842;
}
.header_list {
	width: 1210px;
}
.grid_subHead {
	position: relative;
	z-index: 1;
*zoom:1;
	font-size: 14px;
	padding: 25px 0;
}
.grid_subHead .main_wrap {
	width: 700px;
	_width: 680px;
	float: left;
	margin-left: 18px;
	height: 300px;
	overflow: hidden;
}
.grid_subHead .col_sub {
	width: 300px;
	float: left;
}
.grid_subHead .col_extra {
	width: 480px;
	padding-right: 120px;
	margin-left: -600px;
}
.grid_subHead .shop_logo {
	margin-top: 2px;
	margin-top: 2px;
	width: 300px;
	height: 300px;
	border: 1px solid #d9d9d9;
}
.grid_subHead .shop_logo img {
	display: block;
	width: 100%;
	height:300px;
}
.grid_subHead .shop_name {
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
	color: #444;
}
.grid_subHead .shop_address {
	margin: 6px 0 11px;
	color: #999;
}
.mobile_href, .mobile_href {
	width: 175px;
	height: 273px;
	border-left: 1px solid #d9d9d9;
	text-align: txt;
	float: right
}
.shop_activity {
	border: 1px solid #d9d9d9;
	height: 115px;
	width: 125px;
	position: relative;
	margin-top: 20px;
	text-align: center;
	line-height: 26px;
}
.shop_activity_icon {
	position: absolute;
	left: -20px;
	top: -20px;
}
.shop_activity_title {
	color: #fe5842;
	font-size: 18px;
}
.shop_activity_txt {
	color: #a1a1a1;
	text-align: left;
	padding-left: 7px;
}
.shop_list_li {
	height: 180px;
	width: 100%;
	line-height: 36px;
}
.shop_list_li li {
	width: 100%;
	color: #676767;
}
.shop_list_li li span {
	color: #fe5842;
}
.shop_icon {
	margin-left: 10px;
}
.shop_icon li {
	float: left;
	margin-right: 40px;
}
.shop_icon li .shop_icon_img {
	float: left;
	margin-right: 5px;
}
.shop_icon li .shop_icon_img a{
	color:black;
}
.shop_icon li .shop_icon_txt {
	font-size: 20px;
	color: #333333;
	float: left;
	line-height: 34px;
}
.shop_menu {
	padding: 0;
	width: 100%;
	min-width: 1210px;
	background: #fe5842;
	height: 50px;
}
.shop_menu .box_menu {
	width: 1210px;
	height: 50px;
	margin: 0 auto;
}
.shop_menu .box_menu .crun {
	background: #ea3e27;
}
.shop_menu .box_menu li {
	line-height: 50px;
	float: left;
	font-size: 18px;
	color: #fff
}
.shop_menu .box_menu li:hover {
	background: #ea3e27;
	color: #fff;
}
.shop_menu .box_menu li a {
	padding: 0 26px;
	color: #fff;
	height: 50px;
	_padding: 0 20px;
}
.shop_menu .box_menu li a:hover {
	background: #ea3e27;
	color: #fff;
}
.mobile_href_img {
	text-align: center;
	width: 150px;
}
.grid_subHead .shop_state {
	margin-bottom: 13px;
}
.grid_subHead .shop_state .state_1 {
	background-color: #3fc06d;
}
.grid_subHead .shop_state .state_2 {
	background-color: #ee7800;
}
.grid_subHead .shop_state .state_3 {
	background-color: #fe5842;
}
.grid_subHead .shop_state .inner {
	color: #fff;
	padding: 7px 20px;
}
.grid_subHead .shop_btn {
}
.mian_wrap_shop {
	height: 40px;
	line-height: 40px;
	width: 100%;
	overflow: hidden;
}
.mian_wrap_shop .shop_name {
	float: left;
}
.mian_wrap_shop .shop_icon_shop {
	padding-top: 5px;
	float: left;
	margin-left: 20px;
}
.mian_wrap_shop .shop_icon_xing {
	float: right;
	padding-top: 6px;
	width:80px;
	text-align: right;
	margin-right: 20px;
}
.mian_wrap_shop .shop_icon_xing div{
	background:url(../images/black_star_16.png);
	  background-repeat: repeat-x;
	    text-align: left;
}
.mian_wrap_shop .shop_icon_xing div span{
	display: inline-block;
	height:16px;
	line-height:16px;
	background:url(../images/star_16.png);
	background-repeat: repeat-x;
}
.mian_wrap_shop .shop_icon_xing .shop_icon {
	margin-left: -6px;
}
.main_wrap_left {
	float: left;
	width: 100%;
}
.main_wrap_right {
	float: right;
	width: 359px;
	padding-top: 25px;
}
.songcan_data li {
	float: right;
	display: inline;
	margin-right: 10px;
	background-color: #26dab1;
	color: #fff;
	text-align: center;
	height: 55px;
	font-size: 14px;
	width: 100px;
	padding: 5px 0 10px 0;
}
.songcan_data li strong {
	font-weight: normal;
}
.songcan_data li strong em {
	font-size: 32px;
	font-weight: normal;
	margin-left: -5px;
}
.songcan_data li span {
	display: block;
	font-size: 14px;
	padding-left: 10px;
	text-align: left;
}
.songcan_data .renjun {
	background-color: #eb7c7c;
}
.songcan_data .peison {
	background-color: #e8c55c;
}
.songcan_data .renjun #shipmoney1 {
	display: inline;
	font-size: 32px;
	margin-left: -5px;
}
.i_star {
	display: inline-block;
*display:inline;
*zoom:1;
	vertical-align: middle;
	width: 84px;
	height: 15px;
	background-position: 0 -64px;
	overflow: hidden;
	margin: 0 10px;
	text-indent: -999em;
}
.i_star_5 {
	background-position: 0 -64px;
}
.i_star_4 {
	background-position: 0 -80px;
}
.i_star_3 {
	background-position: 0 -96px;
}
.i_star_2 {
	background-position: 0 -112px;
}
.i_star_1 {
	background-position: 0 -128px;
}
.i_qianyue, .i_renzheng {
	display: inline-block;
*display:inline;
*zoom:1;
	vertical-align: middle;
	width: 70px;
	height: 16px;
	background-position: -257px 0;
	overflow: hidden;
	margin-right: 10px;
	text-indent: -999em;
}
.i_renzheng {
	background-position: -327px 0;
}
.bdsharebuttonbox {
	margin-top: 10px;
	font-size: 12px;
}
.bdsharebuttonbox .txt {
	float: left;
	vertical-align: middle;
	margin: 7px 5px 0 0;
	display: inline;
	line-height: 18px;
	color: #999;
}
.content .bdshare-button-style1-16 a {
	background: url(../images/kuaisonSP.gif) no-repeat 0 0;
	padding: 1px 12px 4px 17px;
	margin: 6px 6px 6px 0;
	float: left;
	height: 16px;
	line-height: 16px;
	border-right: 1px solid #edeeee;
	cursor: pointer;
	font-size: 12px;
}
.shop_shear {
	height: 30px;
	line-height: 30px;
}
.shop_shear_txt {
	float: left;
}
.shop_shea_icon {
	padding-top: 5px;
	float: left;
}
.shop_shear .bds_tsina {
}
.shop_shear .bds_qzone {
}
.shop_shear .bds_tqq {
}
.shop_shear .bds_weixin {
}
.w-1200 {
	width: 1210px;
	overflow: hidden;
}
.pageNavigation {
	text-align: center;
	padding: 25px 0;
}
.pageNavigation a, .pageNavigation span {
	background-color: #fff;
	display: inline-block;
*display:inline;
*zoom:1;
	vertical-align: middle;
	margin: 0 0 0 -5px;
	padding: 8px 13px;
	border: 1px solid #ededed;
	color: #585858;
	font-size: 14px;
}
.pageNavigation a:hover {
	color: #d00;
}
.pageNavigation .cur, .pageNavigation .current {
	background-color: #f60;
	color: #fff;
	cursor: default;
}
.pageNavigation .cur:hover {
	color: #fff;
	text-decoration: none;
}
.pageNavigation .kill {
	color: #aaa;
	cursor: default;
}
.pageNavigation .kill:hover {
	color: #aaa;
	text-decoration: none;
}
.pageNavigation .cur:hover, .pageNavigation .current:hover {
	color: #fff;
	cursor: default;
	text-decoration: none;
}
.map_iframe {
	position: fixed;
	_position: absolute;
	left: 50%;
	top: 50%;
	margin: -250px 0 0 -350px;
	width: 700px;
	height: 500px;
	border: 1px solid #999;
	box-shadow: 0px 0px 6px rgba(0,0,0,.5);
	z-index: 999;
}
.close_map {
	width: 52px;
	height: 52px;
	display: block;
	position: absolute;
	top: -20px;
	right: -20px;
	background: url(../images/close.png) no-repeat 0 0;
	text-indent: -999em;
	overflow: hidden;
}
.col_main {
	float: left;
	width: 1020px;
}


.nav .form_sec .form_sec_txt {
  width: 54px;
  border: 0;
  background: url(../images/o2o1_03.png) no-repeat 48px 13px;
  padding-left: 10px;
}
.nav .form_sec .form_sec_txt1 {
  background: #Fff;
  display: none;
  position: absolute;
  width: 53px;
  height: 39px;
  padding-left: 26px;
  margin-left: -17px;
  border: 1px solid #d9d9d9;
  top: 39px;
  box-shadow: 1px 1px 2px rgba(203,203,203,.5);
  border-top: 0;
}


.nav .form_sec {
  width: 64px;
  height: 39px;
  line-height: 39px;
  background: #F0ECEB;
  float: left;
  cursor: pointer;
  position: relative;
}
.nav .form_sec.form_over {
   display:block;
}
.nav .form_sec.form_over .form_sec_txt1 {
   display:block;
}
.nav .form_sec:hover .form_sec_txt{
	position:absolute; top:-1px;
	background:#fff  url(../images/o2o554_03.png) no-repeat 64px 13px;
	box-shadow: 1px 1px 2px rgba(203,203,203,.5);
	border-right:1px solid #d9d9d9;
	border-left:1px solid #d9d9d9;
	border-top:1px solid #d9d9d9;
	width:53px;
	margin-left:-17px;
	padding-left:26px;
}
.nav .form_sec:hover .form_sec_txt:hover{ color:#fe5842;}

.nav .search_txt {
	padding-left: 5%;
}
.nav .search_txt span {
	width: 40px;
	margin-right: 18px;
}