
 @charset "utf-8";
/* CSS Document */
* {
	margin: 0 auto; 
}
img{ border:none;}
/*html5*/
article, aside, dialog, footer, header, section, footer, nav, figure, menu {
	display: block
}
body, td, th {
	font-family: "微软雅黑";
}
a:link {
	color: #151515;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #151515;
}
a:hover {
	text-decoration: none;
	color: #FE5842;
}
a:active {
	text-decoration: none;
	color: #151515;
}
.w-1200 a:link {
	color: #fe5842;
	text-decoration: none;
}
.w-1200 a:visited {
	text-decoration: none;
	color: #fe5842;
}
.w-1200 a:hover {
	text-decoration: none;
	color: #FE5842;
}
.w-1200 a:active {
	text-decoration: none;
	color: #fe5842;
}
body {
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 30px;
	width: 100%;
}
.body {
	width: 1210px;
}
ul, li {
	list-style: none;
	padding: 0;
}
form, input, button,textarea {
	border: 0;
	outline: 0;
}
input {
}
.cf:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.menu {
	width: 100%;
	color: #fff;
}
.menu_left {
	width: 255px;
	float: left;
	margin-top: 30px;
}
.menu_left ul {
}
.menu_left li {
	border-bottom: 1px solid #9f968f;
	padding: 10px 15px 10px 16px
}
.menu .list {
	width: 100%;
	background: #908780;
	line-height: 25px;
	padding-bottom: 9px;
}
.menu .li_top {
	width: 100%;
}
.menu .icon {
	float: left;
	margin-top: 2px;
	margin-right: 5px;
}
.menu .li_txt {
	float: left;
}
.menu .li_bottom {
	padding-left: 11px;
}
.menu span {
	margin-left: 10px;
}
.menu_right {
	width: 955px;
	float: left;
	margin-top: 30px;
	color: #3d3d3d
}
.menu_right_top {
	border-bottom: 2px solid #fe5842;
	padding-left: 15px;
	height: 42px;
	line-height: 42px;
}
.menu_right li {
	margin-right: 30px;
	float: left;
}
.menu_right li:hover {
 color:#fe5842;
 cursor:pointer;
}.menu_right .ctur {
	color: #FE5842;
}
.menu_table {
	width: 100%;
}
.nearby {
	border: 1px solid #d9d9d9;
	padding: 10px 20px;
	margin-top: 10px;
}
.nearby .category {
	font-weight: bold;
	color: #383636;
}
.nearby .category a {
	color: #717171;
	font-weight: bold;
}
.nearby .category a:hover {
	color: #FE5842;
}
.cate {
	float: left
}
.cate_cate {
	float: left
}
.cate_cate span {
	margin: 0 16px;
}
.sort {
	border: 1px solid #d9d9d9;
	margin-top: 20px;
}
.sort li {
	float: left;
	padding: 10px 27px;
	border-right: 1px solid #d9d9d9;
}
.sort li .li_txt {
	float: left;
}
.sort li .li_img {
	margin-top: 8px;
	float: left;
	margin-left: 3px;
}
.menu_table .category {
	border-bottom: 1px #e6e6e6 dashed;
	line-height: 43px;
}
.category_top {
	width: 100%;
	border-bottom: 1px solid #d9d9d9
}
.category_top_left {
	float: left;
	height: 47px;
}
.category_top_left li {
	float: left;
	margin: 10px 25px 0 0;
	background: url(../images/o2o5-24_20_154.png);
	width: 81px;
	height: 27px;
	text-align: center;
	color: #aaaaaa;
	line-height: 27px;
}
.category_top_left li:hover {
	color: #FE5842
}
#category_main {
	float: left;
	margin: 0 59px 0 0
}
.category_top_right {
	float: right;
	background: url(../images/o2o5-24_20_152.png);
	font-size: 18px;
	color: #fff;
	width: 72px;
	height: 36px;
	line-height: 36px;
	padding-left: 20px;
}
.category_top_right:hover {
	text-decoration: underline;
}
.datal {
	padding: 15px;
}
.category_list {
	float: left;
	  width: 921px;
}
.category_list li {
	float: left;
	border: 1px solid #d9d9d9;
	width: 285px;
	overflow: hidden;
	height: 450px;
	margin-top: 15px;
}
.category_list_img {
	position: relative
}
.category_list li .bmbox {
	display: none;
	width: 285px;
	float: left;
	height: 285px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	filter:alpha(opacity=80);
	color: #fff;
	text-align: center;
	font-size: 16px;
}
.category_list li:hover .bmbox {
	display: block;
}
.category_list li .bmbox_title {
	border-bottom: 2px solid #fff;
	  padding: 0px 5px 5px 10px;
  margin: 7px 25px;
	font-size: 18px;
}
.category_list li .bmbox_list {
	height: 136px;
	margin: 23px 0 0 30px;
}
.category_list li .bmbox_list_img {
	float: left
}
.category_list li .bmbox_list_li {
	float: left;
	padding-top: 10px;
	width: 92px;
}
.category_list li .bmbox_list_li li {
	background: url(../images/o2o11_1_117.png);
	/* float: left; */
	width: 59px;
	height: 30px;
	border: 0;
	padding-left: 23px;
	font-size: 14px;
	margin: 0;
}
.category_list li:hover {
	border-bottom: 2px solid #fe5842;
	height: 449px;
}
.category_list .border {
	margin: 15px 20px 0 20px;
}
.category_list .border1 {
	margin-right: 20px
}
.category_list_title {
	color: #424242;
	font-size: 14px;
	font-weight: bold;
}
 .category_list_description { font-size: 13px;
	color: #818181
}
.deal-tile__detail {
	color: #929292;
	border-bottom: 1px solid #d9d9d9;
}
.deal-tile__detail span { font-size: 13px;	margin-right: 20px;
	float: left
}
#price {
	color: #fe5842
}
#price strong {
	font-size: 22px;
}
#cheap {
	color: #fff;
	background: #5ad2a4;
	width: 103px;
	height: 22px;
	font-size: 12px;
	float: right;
	line-height: 22px;
	text-align: center;
	margin-top: 3px;
}
.extra-inner {
	height: 32px;
	padding: 10px;
}
.extra-inner div {
	float: left;
}
.extra-inner .sales {
	color: #4f4f4f
}
.extra-inner .num {
	color: #fe5842
}
.extra-inner .noreviews {
	float: right;
}
.extra-inner .noreviews .icon {
	margin-top: 4px;
}
.extra-inner .noreviews span {
	color: #5b5b5b;
	margin-left: 2px;
}
.bmbox_title span {
	font-size: 20px;
	color: #fe5842
}
.activity {
	float: left;
	padding: 10px;
	border: 1px solid #d9d9d9;
	margin-top: 15px;
}
.activity_title {
	font-size: 18px;
	color: #212121;
	border-bottom: 1px solid #d9d9d9;
	margin: 0 -10px;
	padding: 0 0 10px 25px;
}
.activity_img {
	margin-top: 10px;
}
.page .cur{ background:#fe5842; color:#fff;}
.page .cur:hover{ color:#fff}
.page {
	width: 100%;
	color: #565656;
	margin: 60px 0 100px 350px
}
.page .up_page {
	float: left;
	padding: 0px 10px;
	border: 1px solid #d9d9d9
}
.page .up_page:hover {
	color: #fe5842
}
.page .up_page:hover .up_page_img {
	background: url(../images/list_07_07.png);
}
.page .up_page_txt {
	float: left;
}
.page .up_page_img {
	float: left;
	width: 20px;
	height: 20px;
	background: url(../images/list_07.png);
	margin-top: 5px;
}
.page .next_page {
	float: left;
	padding: 0px 10px;
	border: 1px solid #d9d9d9
}
.page .next_page:hover {
	color: #fe5842
}
.page .next_page:hover .next_page_img {
	background: url(../images/list_09.png);
}
.page .next_page_txt {
	float: left;
}
.page .next_page_img {
	float: left;
	width: 20px;
	height: 20px;
	background: url(../images/list_07_09.png);
	margin-top: 5px;
}
..page ul {
float:left
}
.page li {
	float: left;
	width: 30px;
	text-align: center;
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	cursor: pointer;
}
.page li:hover {
	color: #fe5842;
}
.page .dian {
	float: left;
	width: 30px;
	text-align: center;
}
.body{ width:1210px;  margin-top: 30px;}



*{margin:0 auto;padding:0;list-style-type:none;}
 
.qiehuan{ width:100%;  margin-top: 40px; color:#4c4c4c; font-size:18px;}
#qiehuan_bg{ }
.qiehuan_left{ float:left; margin-right:20px; width:181px; height:55px; text-align:center; line-height:55px; border:1px solid #d9d9d9;}

.tab1{width:1210px; }
.menu{height:55px;color:#4c4c4c; font-size:18px;}
.menu li{float:left; margin-right:20px; width:181px; height:55px; text-align:center; line-height:55px; border:1px solid #d9d9d9;cursor:pointer;   background: #fff;}
.menu li.off{background: url(../images/dianpu_41.png); color:#fff; border:0;}

.menudiv{height:auto; }
 
 
.zzsc{ height: auto; margin:0px auto;  font-family:'微软雅黑';  padding: 30px;}
.zzsc .tab{ overflow:hidden; font-weight:bold;  }
.zzsc .tab .tab_title{ float:left; height:52px;}
.zzsc .tab .tab_form{ float:left; width:630px; border-bottom: 2px solid #d9d9d9;   height:50px;}
.zzsc .tab a{   display: block;
  padding: 10px 0px;
  float: left;
  text-decoration: none;
 
  width: 100px;
  text-align: center;
 border-bottom: 2px solid #d9d9d9; 
  color: #191919;}
.zzsc .tab a:hover{  color: #fe5842;
  text-decoration: none;
  border-bottom: 2px solid #fe5842;}
.zzsc .tab a.on{   color: #fe5842;
  text-decoration: none;
  border-bottom: 2px solid #fe5842;}
.zzsc .content{ overflow:hidden;  }
.form_sec{  float: right;
  margin-bottom: -10px;}
.select{ width:115px; height:25px; text-align:center;border:1px solid #d9d9d9;   margin-top: 17px;} 

.page .up_page {
	float: left;
	padding: 0px 10px;
	border: 1px solid #d9d9d9
}
.page .up_page:hover {
	color: #fe5842
}
.page .up_page:hover .up_page_img {
	background: url(../images/list_07_07.png);
}
.page .up_page_txt {
	float: left;
}
.page .up_page_img {
	float: left;
	width: 20px;
	height: 20px;
	background: url(../images/list_07.png);
	margin-top: 3px;
}
.page .next_page {
	float: left;
	padding: 0px 10px;
	border: 1px solid #d9d9d9
}
.page .next_page:hover {
	color: #fe5842
}
.page .next_page:hover .next_page_img {
	background: url(../images/list_09.png);
}
.page .next_page_txt {
	float: left;
}
.page .next_page_img {
	float: left;
	width: 20px;
	height: 20px;
	background: url(../images/list_07_09.png);
	margin-top: 3px;
}
..page dl {
float:left
}
.page dd {
	display:block;
	float: left;
	width: 30px;
	text-align: center;
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	cursor: pointer;
}
.page dd:hover {
	color: #fe5842;
}
.page .dian {
	float: left;
	width: 30px;
	text-align: center;
}

.shop_content{ margin-top:30px;}
 .appraise{ width:1210px;}
.appraise_list{ border:1px solid #d9d9d9}
.appraise_title{ border-bottom:1px solid #d9d9d9; height:150px; text-align:center; line-height:150px;}
.appraise_title li{ float:left}
.appraise_title .ping{ float:left;  margin-left: 70px;  color: #fe5842;}
.appraise_title .ping span{ font-size:30px;}
.appraise_title .appraise_icon{ float:left;  padding-top: 65px;
  padding-left: 40px;}
.appraise_title .appraise_icon div {
  width: 80px;
  height: 16px;
  background-image: url(../images/black_star_16.png);
  background-repeat: repeat-x;
  text-align: left;
}
.appraise_title .appraise_icon span {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  background-image: url(../images/star_16.png);
  background-repeat: repeat-x;
  overflow: hidden;
  vertical-align: top;
}
.appraise_title .pingfen{ width:454px; border-right:1px solid #d9d9d9;  height: 150px;}
.appraise_title .pingjia{ width:385px;border-right:1px solid #d9d9d9;}
.appraise_title .pingjia span{ color: #fe5842;}
.appraise_title .pinglun{ width:360px;}
.appraise_title .pinglun .fabiao{   width: 85px;
  display: block;
  height: 82px;
  background: #fe5842;
  margin-top: 38px;
  padding-top: 2px;
  margin-left: 120px;
  }
 .appraise_title .pinglun .fabiao_but{ width:87px; height:104px;}
.appraise_title .pinglun .fabiao p{ line-height:30px; color:#fff; font-weight:bold}
.appraise_li-list{ width:100%;}
.appraise_li-list dd{  border-bottom: 1px solid #d9d9d9;
  padding: 0px 0px 20px 0px;
  height: 145px;
  margin: 20px 0 20px 25px; margin-right: 0; 
  }
.appraise_li-list_right{overflow: hidden;  margin-left: 50px;
  float: left;  width: 1000px;} 
.appraise_li-list_img{ float:left;  width: 72px;  overflow:hidden;}
.appraise_li-list_img p{ color:#2a2a2a; padding-top:10px;}
.appraise_li-list_icon{  border-radius:50%; width:50px; height:50px; overflow:hidden;}
.appraise_li-list_icon img{ width:100%; }
.appraise_li-list_img p{ text-align:center; color:#2a2a2a;}
/*.appraise_li-list_top{ float:left; width:970px;}*/
.appraise_li-list_data{ float: right; color:#a8a8a8;  /*width: 950px;	*/}
.appraise_li-list_txt{ color:#5f5f5f;/*float:left;*/}

.shop_pingjia{   width:1130px;}
.shop_pinjiga_title{ color:#232323; font-size:18px; margin-left:10px;   margin-bottom: 5px;}
.shop_pinjgia_form{ width:1130px; border:1px solid #d9d9d9; }
.shop_pingjia_form_list ul{ width:100%; border-bottom:1px solid #d9d9d9;line-height:30px;height:30px; padding:10px 0}
.shop_pingjia_form_list ul li{ float:left; margin-left:23px;color:#767676; }
.shop_pingjia_form_list ul li .pingjia_icon{ float:left;  padding: 4px 2px 0 2px;}
.shop_pingjia_form_list ul li .pingjia_txt{ float:left;}
.shop_pingjia_form_list ul .zong{  } 
.shop_pingjia_form_list ul .red{   width: 35px;  margin-top: 4px;  height: 22px;  background: url(../images/dianpupingjia_08.png);  color: #fff;  padding-left: 29px;  line-height:22px;}
.shop_pingjia_form_list ul .xing{ margin-left:100px;    }
.shop_pingjia_form_list ul .yellow{ color:#fcbb00;}
.shop_pingjia_form_list ul .gray{ color:#999999;}
.shop_pingjia_form_list_txt{ float:left;}
.shop_pingjia_form_list_icon{ float:left;}

.appraise_li-list_top_icon {
  float: left;
}
.appraise_li-list_top_icon div, .priduct_pingjia_icon div {
  width: 60px;
  height: 12px;
  background-image: url(../images/o2o11_66.png);
  background-repeat: repeat-x;
  text-align: left;
}
.appraise_li-list_top_icon span, .priduct_pingjia_icon span {
  display: inline-block;
  height: 12px;
  line-height: 12px;
  background-image: url(../images/o2o11_152.png);
  background-repeat: repeat-x;
  overflow: hidden;
  vertical-align: top;
}


.textarea{}
.form_textarea{ width:1130px; height:194px;}
.button{ color:#767676; margin:15px 0;}
.button_txt{ float:left; margin-left:20px;}
.button_txt span{ margin-left:5px;}
.form_button{ line-height:34px; text-align:center; width:67px; height:34px; color:#fff; background:url(../images/dianpupingjia_20.png); float:right;  font-size: 16px;
  font-weight: bold;}

#commonpage{width:100%; padding-bottom: 5px;border: 1px solid #bfbfbf;height: 52px;margin-top: 20px; text-align: center;}
#commonpage .pages{display:inline-block;}
#commonpage .pages a,#commonpage .pages span{display: inline-block;height: 35px;width: 40px;line-height: 35px;border: 1px solid #eee;margin-left: 5px;}
#commonpage .pages a.prev{background:url(../images/shop_07.png) no-repeat;}
#commonpage .pages a.next{background:url(../images/shop_09.png) no-repeat;}
#commonpage .pn_page{position: relative;top: 12px;}
#commonpage .pages .current{background-color: #fe5842;color: #fff;}
.imgshowdiv {   float: right;overflow: hidden;width: 920px;}



.rightsead {
  width: 161px;
  height: 290px;
  position: fixed;
    top: 30%;
  right: 0px;
  z-index: 100;
}
.rightsead li {
  width: 161px;
  height: 60px;
}
.rightsead li a {
  height: 49px;
  float: right;
  display: block;
  min-width: 47px;
  max-width: 161px;
}
.rightsead li img {
  float: right;
}
.rightsead .p1 {
  width: 47px;
  height: 49px;
  float: left;
}
.rightsead .p2 {
  width: 112px;
  background-color: #A7D2A9;
  height: 47px;
  margin-left: 47px;
  border: 1px solid #8BC48D;
  text-align: center;
  line-height: 47px;
}
.rightsead .p3 {
    width: 112px;
  background-color: #EC9890;
  height: 47px;
  margin-left: 47px;
  border: 1px solid #E6776C;
  text-align: center;
  line-height: 47px;
}
.rightsead li a .shows {
  display: block;
}
.rightsead li a .hides {
  margin-right: -143px;
  cursor: pointer;
  cursor: hand;
}
.rightsead li a.wechat .hides {
  display: none;
  position: absolute;
  right: 143px;
}
.rightsead li a.wechat .qrcode {
  margin: -100px 57px 0px 0px;
  display: none;
  border: 1px solid rgb(204, 204, 204);
}
.rightsead li a .qq_div {
	width:161px;
	display:none;
	margin-right:-163px;
}
.rightsead li a .tel_div {
	width:161px;
	display:none;
	margin-right:-163px;
}
.rightsead li a .btn_div {
	width:161px;
	display:none;
	margin-right:-163px;
}