@charset "utf-8";
body{font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:normal;margin:0px;padding:0px;background:#fff;}
p,from,h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;}
ul,ol{margin:0px;padding:0px;list-style-type:none;}
img{border:none;}
a{color:#333333;text-decoration:none;}
a:hover{color:#666666;text-decoration:underline;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-table}
*html .clearfix{height:1%}
.clearfix{display:block}
*+html .clearfix{min-height:1%}
body, td, th {
	font-family: "微软雅黑";
}
a:link {
	color: #5b5b5b;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #151515;
}
a:hover {
	text-decoration: none;
	color: #FE5842;
}
a:active {
	text-decoration: none;
	color: #151515;
}
ul,li{ 	list-style: none; padding:0;}
*{margin:0;padding:0;list-style-type:none; margin:0 auto;}
/* ny_zb */
.ny_zb{width:268px;overflow:hidden; border:1px solid #d9d9d9;font-family:"微软雅黑";margin:40px auto 0 auto;}
.ny_zbbt{background-color:#f1f1f1;height:40px;line-height:40px;overflow:hidden;border-top:2px solid #b7b7b7;}
.ny_zbbt span{padding-left:30px;font-size:16px;color:#000;line-height:40px;}

#tab1 .menu {
    border: 1px solid #d9d9d9;
    float: left;
    height: auto;
    text-align: center;
    width: 260px;
}
.ny_zblb1{width:268px;overflow:hidden; border:1px solid #d9d9d9;font-family:"微软雅黑"; float:left;  border-bottom:0}

.ny_zblb1 li{line-height:33px;font-size:14px;color:#333;float:left;width:100%; text-align:center; border-bottom:1px solid #d9d9d9;}
/*.ny_zblb1 li a{display:block; width:100%; height:70px; line-height:70px; text-decoration:none;  color: #6b6b6b;
  background: url(../images/shop-goods_03.png) no-repeat 78px 28px;
  
  font-size: 16px;}*/
.ny_zblb1 li a.cur{color:#fff; background:#847a7b  url(../images/shop-goods_06.png) no-repeat 78px 28px;;text-decoration:none;}

.ny_zblb1  ul{display:none;color:#666;padding:5px 0 5px 30px;}
.ny_zblb1  ul li{float:none;background-image:none;height:34px;line-height:34px;margin-top:0px;font-size:13px; border:0; color:#6a6a6a; cursor:pointer;}
 .ny_zblb1  ul li  {border-bottom: 1px solid #d9d9d9;
    color: #6b6b6b;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    text-align: center;
    width: 210px;}
.ny_zblb1  ul li  a{color: #6b6b6b;display: inline-block;width: 215px;}
.ny_zblb1  ul li .ny_zblb1_txt{ float:left; margin-left:15px;}
.ny_zblb1  ul li .ny_zblb1_icon{float:right; margin-right:15px; font-size: 23px;}

.ny_zblb1  ul li:hover{color:#ee1c25;}

.tab1{width:1210px; margin-top:30px;}
.menu{}
.menu li{  }
.menu li:hover{ }
.menu li.off{ color:#fff; }
#tab1 .menudiv{ width:920px; float: right;border:#d9d9d9 solid 1px; padding-bottom:30px;}


.shop_menu{ width:100%; min-width:1250px; background:#fe5842;height:50px;}
.shop_menu .box_menu{ width:1250px; height:50px; margin:0 auto;}
.shop_menu .box_menu .crun{background:#ea3e27;}
.shop_menu .box_menu li{ line-height:50px; float:left; font-size:18px; color:#fff}
.shop_menu .box_menu li:hover{background:#ea3e27;color:#fff;}
.shop_menu .box_menu li a { padding:0 20px; color:#fff; height:50px; _padding:0 20px;}
.shop_menu .box_menu li a:hover{ background:#ea3e27;color:#fff;}


.server{ width:880px; color:#393939; line-height:26px;}
.server .section_title{ font-size:18px; color:#ee1c25; width:100%; margin-top:20px;  margin-bottom: 20px;}
.server .section_txt{ border-bottom:2px solid #ee1c25; width:100px; float:left;  height: 40px;  font-weight: bold;padding-left: 10px;}
.server .section_border{border-bottom:2px solid #d9d9d9; width:715px; height:40px;float:left; line-height:50px; color:#5b5b5b; text-align:right; cursor:pointer; font-size:14px; overflow:hidden; padding-right:8px;}
.server p{ padding:5px 0;}
.server .server_title{ font-size:18px; color:#fe5842; text-align:center; width:100%; margin-bottom:30px;}
.server .server_txt{width:100%;}
.server .server_txt span{ color:#fe5842; font-size:18px;}
 
h1{ text-align:center;}
form, input, button,select {
	border: 0;
	 }
#mealprolist{ width:830px; margin:0px auto;  	font-family: "微软雅黑";    }
#mealprolist .tab{ overflow:hidden;  }
#mealprolist .tab .tab_title{ float:left; font-size:18px;}
#mealprolist .tab .tab_form{ float:left;   width: 470px;
  border-bottom: 2px solid #d9d9d9;
  height: 60px;}
#mealprolist .tab a{   display: block;
  padding: 10px 10px;
  float: left;
  text-decoration: none;
  line-height:40px;
  width: 100px;
  text-align: center;
 border-bottom: 2px solid #d9d9d9; 
  color: #191919;}
#mealprolist .tab a:hover{  color: #ee1c25;
  text-decoration: none;
  border-bottom: 2px solid #ee1c25;}
#mealprolist .tab a.on{   color: #ee1c25;
  text-decoration: none;
  border-bottom: 2px solid #fe5842;}
#mealprolist .content{ overflow:hidden;  }
#mealprolist .content ul li.bbb{ display:none;}
.form_sec{  float: right;
  margin-bottom: -10px;}
.select{ width:115px; height:35px; text-align:center;border: 2px solid #d9d9d9;   margin-top: 12px;} 



.appraise_li-list{ width:100%;}
.appraise_li-list dd{  border-bottom: 1px solid #d9d9d9;
  padding: 0px 0px 20px 0px;
  height: 145px;
  margin: 50px 30px;
    width: 770px;
  }
  
  
  
  .order_form {
	float: right;
	width: 340px;
	padding: 0px 4px;
	color: #6f6f6f;
	height:40px;
	padding-top:12px;
}
.order_form .check {
	float: left;
	padding-left: 32px;
	padding-top: 5px;
	  overflow: hidden;
}
.order_form .checkbox {
}
.order_form .checkbox span {
}
.order_form .order_select {
	float: right;
	margin-right: 10px;
  height: 35px;
  text-align: center;
  background: #d9d9d9;
  line-height: 39px;
  color: #4c4c4c;
  width: 249px;
  padding: 2px;
}
.order_form .order_select .order_select_txt {
	float: left;
	color: #4c4c4c;
	width: 40px;
	height: 35px;
overflow: hidden;
}
.order_form .order_select .order_select_icon {
	float: right;
	padding-top: 14px;
	padding-right: 7px;
}
.order_form .order_select .order_input {
	float: left;
  width: 209px;
  height: 35px;
 
}


.category_list{ width:900px;}
.category_list li {
	float: left;
	border: 1px solid #d9d9d9;
	width: 190px;
	overflow: hidden;
	/*height:294px;*/
	height:280px;
    margin: 15px 10px 0 10px;
}
.category_list_img {
	position: relative
}
.category_list li .bmbox {
	display: none;
	width: 285px;
	float: left;
	height: 285px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	background: rgba(0,0,0,0.5);
filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000, endcolorstr=#7F000000);
	color: #fff;
	text-align: center;
	font-size: 16px;
}
.category_list li:hover .bmbox {
filter:alpha(opacity=50);
	display: none;
	width: 285px;
	float: left;
	left: 0;
	height: 285px;
	overflow: hidden;
	position: absolute;
	top: 0;
	background: rgba(0,0,0,0.8);
	background: rgba(0,0,0,0.5);
filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000, endcolorstr=#7F000000);
	color: #fff;
	text-align: center;
	font-size: 16px;
}
.category_list li .bmbox_title {
	border-bottom: 2px solid #fff;
	padding: 20px 5px 5px 10px;
	margin: 22px 25px;
	font-size: 18px;
}
.category_list li .bmbox_list {
	height: 136px;
	margin: 23px 0 0 30px;
}
.category_list li .bmbox_list_img {
	float: left
}
.category_list li .bmbox_list_li {
	float: left;
	padding-top: 10px;
	width: 92px;
}
.category_list li .bmbox_list_li li {
	background: url(../images/o2o11_1_117.png);
	/* float: left; */
	width: 59px;
	height: 30px;
	border: 0;
	padding-left: 23px;
	font-size: 14px;
	margin: 0;
}
.category_list li:hover {
	border-bottom: 2px solid #fe5842;
	height: 279px;
}
 
.category_list_title {
	color: #424242;
	font-size: 14px;
	font-weight: bold;
	 padding-left:10px;
}
 .category_list_description { font-size: 13px;
	color: #818181;
	  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 
  line-height: 25px;
}
.datal {
 line-height: 30px;
}
.deal-tile__detail {
	color: #929292;
	border-bottom: none;
		 padding-left:10px;
}
.deal-tile__detail span { font-size: 13px;	margin-right: 20px;
	float: left
}
#price {
	color: #fe5842
}
#price strong {
	font-size: 22px;
}
#cheap {
	color: #fff;
	background: #5ad2a4;
	width: 103px;
	height: 22px;
	font-size: 12px;
	float: right;
	line-height: 22px;
	text-align: center;
	margin-top: 3px;
}
.extra-inner {
	height: 32px;
	padding: 10px;
}
.extra-inner div {
	float: left;
}
.category_list li .extra-inner .sales {
	background:url(../images/shop-goods-1_09.png); width:24px; height:24px;
}
.category_list li:hover .extra-inner .sales {
	background:url(../images/shop-goods_09.png); width:24px; height:24px;
}
.extra-inner .num {
	color: #fe5842
}
.extra-inner .noreviews {
	float: right;
}
.extra-inner .noreviews .icon {
	margin-top: 4px;
}
.extra-inner .noreviews span {
	color: #5b5b5b;
	margin-left: 2px;
}
.category_list li:hover .extra-inner .noreviews span {
	color: #ee1c25;
 
}
#meal_prolist .proimg{width:190px;height:142px;}
#tab1 .menu li { width: 210px;}
#tab1 .ny_zblb1 .selected{background-color:#f98777}
#tab1 .ny_zblb1 .selected a{color:#FFF}