
/* CSS Document */
aside, dialog, header, section, nav, figure, menu {
	display: block
}
form, input, button,textarea {
	border: 0;
	outline: 0;
}
a:link {
	color: #5b5b5b;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #151515;
}
a:hover {
	text-decoration: none;
	color: #FE5842;
}
a:active {
	text-decoration: none;
	color: #151515;
}


#tab1{width:1210px; margin-top:30px;}
#tab1 .menu{height:auto; width:260px; float:left; text-align:center;}
#tab1 .menu li{ width:260px;text-align:center;line-height:60px;height:70px;cursor:pointer; color:#6b6b6b;font-size:16px;overflow:hidden; border-bottom:1px solid #d9d9d9 }
#tab1 .menu li:hover{background:#847a7b;color:#fff; }
#tab1 .menu li.off{background:#847a7b;color:#fff; }
#tab1 .menu a{width:90%;height:90%;display: block;margin-top: 4px;}
#tab1 .menudiv{ width:920px; height:auto; float: right;border:#d9d9d9 solid 1px; min-height:500px; padding-bottom:50px;}
 
#tab1 .menudiv  a:link {
	color: #565656;
	text-decoration: none;
}
#tab1 .menudiv  a:visited {
	text-decoration: none;
	color: #565656;
}
#tab1 .menudiv  a:hover {
	text-decoration: underline;
	color: #FE5842;
}
#tab1 .menudiv a:active {
	text-decoration: none;
	color: #151515;
}



#tab1 .server{ width:880px; color:#393939; line-height:26px;}
#tab1 .server .section_title{ font-size:18px; color:#ee1c25; width:100%; margin-top:20px;  margin-bottom: 20px;}
#tab1 .server .section_txt{ border-bottom:2px solid #ee1c25; width:100px; float:left;  height: 40px;  font-weight: bold;padding-left: 10px;}
#tab1 .server .section_border{border-bottom:2px solid #d9d9d9; width:715px; height:40px;float:left; line-height:50px; color:#5b5b5b; text-align:right; cursor:pointer; font-size:14px; overflow:hidden; padding-right:8px;}
#tab1 .server p{ padding:5px 0;}
#tab1 .server .server_title{ font-size:18px; color:#fe5842; text-align:center; width:100%; margin-bottom:30px;}
#tab1 .server .server_txt{width:100%;}
#tab1 .server .server_txt span{ color:#fe5842; font-size:18px;}

#tab1 .dynamics li{ width:90%; height:50px; line-height:50px; border-bottom:1px dashed #d9d9d9; padding:0 10px;}
#tab1 .shop_dynamics_left{ float:left;}
#tab1 .shop_dynamics_left span{ margin-right:5px;}
#tab1 .shop_dynamics_right{ float:right; color:#8b8b8b;}

#tab1 .shop_page{ width:148px; height:44px; border:1px solid #bfbfbf; margin-top:20px; text-align:center;}
#tab1 .shop_page_icon{ width:48px; height:38px; float:left; padding-top:6px;}
#tab1 .shop_page_num{ width:48px; line-height:48px; color:#fff; font-size:16px; float:left; background:#fe5842; height:44px;}

.photo{   overflow:hidden;}
.photo ul { width:960px;}
.photo ul li{ width:190px;  height:190px; overflow:hidden; margin-right:20px; float:left; margin-bottom:20px;}

 .widget-carousel-indicator-list li img{height: 55px;width: 55px;}
 .widget-carousel-indicator-list li {margin-left:5px;}