@charset "utf-8";
.col_main { float:left; width:1030px;}
.col_sub,.col_extra { float:left;}
.po_re { position:relative; z-index:1; *zoom:1;}
.po_ab {   left:0; top:0;}
.display0 { display:none;}
.display1 { display:block;}
.wrapper .display10 { display:none;}
.blank10 { height:10px; overflow:hidden;}
.blank20 { height:20px; overflow:hidden;}
.bgk {  margin-top:30px;}
.w-1198 {width:1198px; margin:0 auto;}
.w-1199 {width:1199px; margin:0 auto;}
.blue_font { color:#36c;}.blue_font:hover { color:#d00;}
.orange_font { color:#f50;}.orange_font:hover { color:#d00;}
.gray_font { color:#999;}a.gray_font:hover { color:#d00;}
.left { float:left;}
.right { float:right;}
.advs img { vertical-align:top;}
.header .return_home,.footer .col .t,.footer-nav-2014 li,.i_zeng,.i_jian,.i_first,.announcement .tit,.announcement .prev,.announcement .next,.i_star,.i_qianyue,.i_renzheng,#returnTop,.distanceNode .arrow { background:url(../images/kuaisonSP.gif) no-repeat 0 0;}
.sys_btn { display:inline-block; *display:inline; *zoom:1; border:1px solid #ec7b01; font-size:16px; border-bottom:1px solid #c76700; padding:6px 20px; background-color:#ec7b01; color:#fff;}
.sys_btn:hover { color:#fff; background-color:#e27500; text-decoration:none;}
.sys_btn_gray { color:#555; background-color:#f3f3f3; border:1px solid #f3f3f3; border-bottom:1px solid #e4e4e4;}
.sys_btn_gray:hover { color:#555; background-color:#efefef; border:1px solid #efefef; border-bottom:1px solid #dedede;}

.header {  border-bottom:1px solid #e6e6e6;}
.header img { vertical-align:top;}
.header .logo { float:left; width:268px; overflow:hidden;}
.header .subLogo { float:left; margin-top:12px;}
.header .login_info { float:right; margin-top:10px;}
#login_info2 .login_success { float:left; margin-top:8px;}
.header .sys_btn { float:left; display:inline; margin-left:6px;}
.header .btn_null { background-color:#fff; color:#ec7b01;}
.header .btn_null:hover { color:#ec7b01; background-color:#fff4da; text-decoration:none;}
.header .return_home { float:left; display:inline; margin:5px 0 0 15px; background-position:-582px 6px; font-size:16px; padding-left:22px;}
.header .login_info_inner { float:left;}
.header .login_info_inner .username { color:#f40;}
.header .login_info_inner .shangjia { color:#f30;}.header .login_info_inner .shangjia:hover { color:#d00;}
.header .login_info_inner .login_success { display:block; font-size:14px; line-height:38px; margin-right:12px;}
.footer { margin-top:25px; border-top:1px solid #eaeaea; padding:30px 0 15px; text-align:center;}
.footer .ul { width:884px; margin:0 auto;}
.footer .col { float:left; text-align:left; width:120px; border-left:1px solid #ddd; padding:0 30px 6px 70px; line-height:22px;}
.footer .noBorder { border:0 none;}
.footer .col .t { font-size:16px; line-height:40px; padding-left:26px;}
.footer .col .t_1 { background-position:-575px -22px; padding-left:30px;}
.footer .col .t_2 { background-position:-576px -60px;}
.footer .col .t_3 { background-position:-576px -96px;}
.footer .col .t_4 { background-position:-576px -134px;}
.footer .col .t a { color:#404040;}
.footer .col .tel { margin:-10px 0 10px; color:#f56b00; font-family:Georgia; font-size:20px;}
.footer .col a { color:#999;}
.footer .col a:hover { color:#d00;}
.footer-nav-2014 { margin-top:20px;}
.footer-nav-2014 li { display:inline-block; *display:inline; *zoom:1; background-position:-599px -184px; padding:0 12px;}
.footer-nav-2014 .first { background:none;}
.footer-nav-2014 a { color:#36c;}.footer-nav-2014 a:hover { color:#d00;}
.footer .copyright { margin-top:15px;}

.i_zeng,.i_jian,.i_first { display:inline-block; *display:inline; *zoom:1;   width: 20px;
  height: 20px; margin-left:5px; vertical-align:middle;}
.i_zeng { background:url(../images/dingcan_20.png);}
.i_jian  { background:url(../images/dingcan_22.png);}
.i_first  { background:url(../images/dingcan_24.png);}

.qiehuan{ width:100%;  margin-top: 40px; color:#4c4c4c; font-size:18px;}
#qiehuan_bg{ background: url(../images/dianpu_41.png); color:#fff; border:0;}
.qiehuan_left{ float:left; margin-right:20px; width:181px; height:55px; text-align:center; line-height:55px; border:1px solid #d9d9d9;}
.announcement { border:1px solid #d9d9d9;  height: 80px;
  overflow: hidden;
  width: 1210px;}
.announcement .tit {  float: left;
  display: inline;
  /* margin: 8px 5px 10px 10px; */
  width: 93px;
  height: 78px;
  /* text-indent: -999em; */
  overflow: hidden;}
  .announcement_left{ float:left; position:relative;width:832px;   height: 78px; border-right:1px solid #d9d9d9;}
 .announcement .clearfix{ color:#404040; font-size:15px; float:left;  width: 780px; height:80px; position:relative;}
.announcement .ft {   padding: 7px 10px;
  float: left;
  width: 345px;}
.announcement .ft .display11{   width: 100%;
  height: 7px;
  line-height: 7px;
  text-align: left;}
.announcement .inner {    font-size:15px; padding:10px; display:none;}
.announcement .ft s { margin-top:-3px;}
.announcement .btn {   left: auto;
  right: 10px;
  top: 2px;
  height: 76px;
  width: 38px;
    float: right;
  margin-right: 10px;
  margin-top: 2px;
}
.announcement .prev,.announcement .next { margin-left:2px; display:inline-block; *display:inline; *zoom:1; vertical-align:middle; width:36px; height:36px;  overflow:hidden; font:0pt/1000px Arial;}
.announcement .prev {   background:#cccccc url(../images/dianpu_34.png); margin-bottom:3px;}
.announcement .next {   background: #dfdfdf url(../images/dianpu_36.png);}
.announcement .disable .prev {  background:#cccccc url(../images/dianpu_34.png); cursor:default;margin-bottom:3px;}}
.announcement .disable .next {  background: #dfdfdf url(../images/dianpu_36.png); cursor:default;}
.announcement a:hover span { opacity:.8;}
.announcement .disable:hover span { opacity:1;}

.grid_subHead { position:relative; z-index:1; *zoom:1; font-size:14px; padding:25px 0;}
.grid_subHead .main_wrap {  width: 873px;  float: left;   margin-left: 15px;}
.grid_subHead .col_sub { width:140px;   float: left; }
.grid_subHead .col_extra { width:480px; padding-right:120px; margin-left:-600px;}
.grid_subHead .shop_logo { margin-top:2px;  margin-top: 2px;
  width: 140px;
  height: 140px;
  border: 1px solid #d9d9d9;}
.grid_subHead .shop_logo img { display:block; width:100%;  }
.grid_subHead .shop_name { font-size:20px; font-weight:bold; vertical-align:middle; color:#444;}
.grid_subHead .shop_address { margin:6px 0 11px; color:#999;}
.mobile_href,.mobile_href {     width: 142px;
  height: 103px;
  border-left: 1px solid #d9d9d9; text-align:right;float:right}
.mobile_href img,.mobile_href img { display:block; margin-bottom:8px;  border:1px solid #e9e8e8; }
.mobile_href_img{ text-align: center; float:right; width:110px;}
.grid_subHead .shop_state { margin-bottom:13px;}
.grid_subHead .shop_state .state_1 { background-color:#3fc06d;}
.grid_subHead .shop_state .state_2 { background-color:#ee7800;}
.grid_subHead .shop_state .state_3 {   background-color: #fe5842;}
.grid_subHead .shop_state .inner { color:#fff;   padding: 7px 20px;}
.grid_subHead .shop_btn {}
.mian_wrap_shop{ height:40px; line-height:40px; width:874px; overflow:hidden; }
.mian_wrap_shop .shop_name{ float:left;}
.mian_wrap_shop .shop_icon_shop{ padding-top:5px;float:left;  margin-left: 20px;}
.mian_wrap_shop .shop_icon_xing{float:right;  padding-top: 6px;  width: 100px;}
.mian_wrap_shop .shop_icon_xing .shop_icon{  margin-left: -6px;}

.main_wrap_left{ float:left; width:446px;}
.main_wrap_right{ float:right; width:359px;  padding-top: 25px;}



.songcan_data li { float:right; display:inline;   margin-right:10px; background-color:#ff7471; color:#fff; text-align:center;    height: 55px;
  font-size: 14px;
  width: 100px;
  padding: 5px 0 10px 0;}
.songcan_data li strong { font-weight:normal;}
.songcan_data li strong em { font-size:32px;  font-weight:normal;  margin-left: -5px;}
.songcan_data li span { display:block; font-size:14px;  padding-left: 10px; text-align:left;}
.songcan_data .renjun { background-color:#0ccfa3; }
.songcan_data .peison { background-color:#5ed8ff;  }
.songcan_data .renjun #shipmoney1 { display:inline; font-size:32px;  margin-left: -5px;}

.i_star { display:inline-block; *display:inline; *zoom:1; vertical-align:middle; width:84px; height:15px; background-position:0 -64px; overflow:hidden; margin:0 10px; text-indent:-999em;}
.i_star_5 { background-position:0 -64px;}
.i_star_4 { background-position:0 -80px;}
.i_star_3 { background-position:0 -96px;}
.i_star_2 { background-position:0 -112px;}
.i_star_1 { background-position:0 -128px;}
.i_qianyue,.i_renzheng { display:inline-block; *display:inline; *zoom:1; vertical-align:middle; width:70px; height:16px; background-position:-257px 0; overflow:hidden; margin-right:10px; text-indent:-999em;}
.i_renzheng { background-position:-327px 0;}

.bdsharebuttonbox { margin-top:10px; font-size:12px;}
.bdsharebuttonbox .txt { float:left; vertical-align:middle; margin:7px 5px 0 0; display:inline; line-height:18px; color:#999;}
.content .bdshare-button-style1-16 a { background:url(../images/kuaisonSP.gif) no-repeat 0 0; padding:1px 12px 4px 17px; margin:6px 6px 6px 0; float:left; height:16px; line-height:16px; border-right:1px solid #edeeee; cursor:pointer; font-size:12px;}
.shop_shear{ height:30px; line-height:30px;}
.shop_shear_txt{ float:left;}
.shop_shea_icon{ padding-top:5px; float:left;}

.shop_shear .bds_tsina { }
.shop_shear .bds_qzone {  }
.shop_shear .bds_tqq  { }
.shop_shear .bds_weixin { }
.w-1200{ width:1210px;}
.pageNavigation { text-align:center; padding:25px 0;}
.pageNavigation a,.pageNavigation span { background-color:#fff; display:inline-block; *display:inline; *zoom:1; vertical-align:middle; margin:0 0 0 -5px; padding:8px 13px; border:1px solid #ededed; color:#585858; font-size:14px;}.pageNavigation a:hover { color:#d00;}
.pageNavigation .cur,.pageNavigation .current { background-color:#f60; color:#fff; cursor:default;}.pageNavigation .cur:hover { color:#fff; text-decoration:none;}
.pageNavigation .kill { color:#aaa; cursor:default;}
.pageNavigation .kill:hover { color:#aaa; text-decoration:none;}
.pageNavigation .cur:hover,.pageNavigation .current:hover { color:#fff; cursor:default; text-decoration:none;}

.map_iframe { background-color:#fff; position:fixed; _position:absolute; left:50%; top:50%; margin:-250px 0 0 -350px; width:700px; height:500px; border:1px solid #999;box-shadow:0px 0px 6px rgba(0,0,0,.5); z-index:999;}
.close_map { width:52px; height:52px; display:block; position:absolute; top:-20px; right:-20px; background:url(../images/close.png) no-repeat 0 0; text-indent:-999em; overflow:hidden;}

.sys_tips { background-color:#ff9100; border-radius:6px; padding:6px; position:absolute; top:800px; left:50%; z-index:999; width:420px; margin-left:-210px; box-shadow:0px 0px 8px rgba(0,0,0,.4);}
.sys_tips .hd { text-align:left; font-size:14px; font-weight:bold; color:#fff; padding:3px 0 6px 6px; text-shadow:1px 1px 0 rgba(0,0,0,.3);}
.sys_tips .bd { padding:25px 10px 25px 150px; border-radius:4px; background:#fff url(../images/sys_tips_bg.png) no-repeat 25px 13px; font-size:16px; color:#222;}
.sys_tips .bd p {}
.sys_tips .bd .btn { margin:15px 0;}
.sys_tips .btn1,.sys_tips .btn2 { border:1px solid #dadada; background-color:#f3f3f3; display:inline-block; *display:inline; *zoom:1; margin:0; font-size:14px; font-weight:bold; padding:4px 10px; border-radius:2px;}
.sys_tips .btn1 { border:1px solid #c5cbc1; background-color:#f6fcee; margin-right:8px;}
.sys_tips .bd .close { color:#36c;}.sys_tips .bd .close:hover { color:#d00;}

.replay_tips { background-color:#ff9100; border-radius:6px; padding:6px; position:absolute; top:0; left:50%; z-index:999; width:680px; margin-left:-340px; box-shadow:0px 0px 8px rgba(0,0,0,.4);}
.replay_tips .hd { text-align:left; font-size:14px; font-weight:bold; color:#fff; padding:3px 0 6px 6px; text-shadow:1px 1px 0 rgba(0,0,0,.3);}
.replay_tips .hd .close { display:inline; float:right; margin:5px; width:11px; height:10px; background:url(../images/x4_member_sp.gif) no-repeat -40px 0; overflow:hidden; text-indent:-999em;}
.replay_tips .bd { padding:10px; border-radius:4px; background-color:#fff;}
.replay_tips .write_2014 { text-align:center; margin-top:10px;}
.replay_tips .write_2014 .textarea,.replay_tips .comment_source .input { outline:0; width:643px; height:60px; border:1px solid #999; padding:8px; font-size:14px; color:#333; margin:8px 0;}
.replay_tips .write_2014 .timer { text-align:left; color:#999;}
.replay_tips .comment_source { margin-bottom:10px;}
.replay_tips .comment_source .comment_content { color:#333; margin-top:6px; font-size:14px;}
.replay_tips .comment_source .comment_content img { vertical-align:-8px;}
.replay_tips .comment_source .comment_user { color:#369;}
.replay_tips .comment_replay_list { height:300px; overflow:scroll; overflow-x:hidden; border:1px solid #e6e6e6; background-color:#f8f8f8;}
.replay_tips .comment_replay_list .rep_list { margin:10px; padding:0 0 8px 8px; border-bottom:1px solid #e6e6e6;}
.replay_tips .comment_replay_list .rep_list .comment_content { font-size:14px; color:#404040; margin-top:6px;}
.replay_tips .global_btn_blue_big,.replay_tips .sys_btn_blue { border:1px solid #0d6eb8; border-radius:3px; background-color:#1a7cde; color:#fff; cursor:pointer; padding:4px 15px; display:block; margin:0 auto;}

#returnTop {display:block; _display:none;  position:fixed; bottom:-200px; _bottom:auto; right:10px; _position:absolute; z-index:999; width:40px; height:40px; background-position:0 -750px; text-indent:0em; color:#fff; overflow:hidden; text-indent:-999em; transition:bottom 0.9s; -webkit-transition:bottom 0.9s; -o-transition:bottom 0.9s; -moz-transition:bottom 0.9s;}
#returnTop:hover { FILTER: alpha(opacity=50); moz-opacity: 0.5; opacity: 0.5;}
#distanceNode { position:absolute; right:0; top:50px; width:auto; padding:6px 8px; font-size:12px; line-height:18px; background-color:#e74c3c; color:#fff; border-radius:3px; box-shadow:1px 1px 3px #999;}
#distanceNode .arrow { display:block; background-position:-309px -63px; width:11px; height:7px; overflow:hidden; position:absolute; right:30px; top:-5px;}

.newOrderId { display:block; width:60px; text-align:center; position:absolute; top:32px; right:41px; background-color:#e74c3c; border-radius:3px; color:#fff; padding:4px 0;}
.newOrderId:hover { color:#fff;}
.newOrderId .arrow { display:block; background:url(../images/kuaisonSP.gif) no-repeat -309px -63px; width:11px; height:7px; overflow:hidden; position:absolute; right:25px; top:-5px;}