@charset "utf-8";

.zzsc .tab{ overflow:hidden; font-weight:bold;  }
.zzsc .tab .tab_title{ float:left;}
.zzsc .tab .tab_form{ float:left; width:370px; border-bottom: 2px solid #d9d9d9;   height:50px;}
.zzsc .tab a{   display: block;
  padding: 10px 0px;
  float: left;
  text-decoration: none;
 
  width: 100px;
  text-align: center;
 border-bottom: 2px solid #d9d9d9; 
  color: #191919;}
.zzsc .tab a:hover{  color: #fe5842;
  text-decoration: none;
  border-bottom: 2px solid #fe5842;}
.zzsc .tab a.on{   color: #fe5842;
  text-decoration: none;
  border-bottom: 2px solid #fe5842;}
.zzsc .content{ overflow:hidden;  }
.form_sec{  float: right;
  margin-bottom: -10px;}
.select{ width:115px; height:25px; text-align:center;border: 1px solid #d9d9d9;   margin-top: 17px;} 



.appraise_li-list_icon{  border-radius:50%; width:50px; height:50px; overflow:hidden;}

.appraise_li-list{ width:100%;}
.appraise_li-list dd{  border-bottom: 1px solid #d9d9d9;
  padding: 0px 0px 20px 0px;
  margin: 20px;
  }
.appraise_li-list dd:last-child{
	border-bottom:none;
}
.appraise_li-list_right{ float:left;  width: 610px;  margin-left: 40px;  }
.appraise_li-list_img{ float:left;}
.appraise_li-list_img p{ color:#2a2a2a; padding-top:10px;}
.appraise_li-list_icon img{ width:100%; }
.appraise_li-list_top_icon{ float:left;}
.appraise_li-list_top_icon div, .priduct_pingjia_icon div {
  width: 60px;
  height: 12px;
  background-image: url(../images/o2o11_66.png);
  background-repeat: repeat-x;
  text-align: left;
}
.appraise_li-list_top_icon span, .priduct_pingjia_icon span {
  display: inline-block;
  height: 12px;
  line-height: 12px;
  background-image: url(../images/o2o11_152.png);
  background-repeat: repeat-x;
  overflow: hidden;
  vertical-align: top;
}
.appraise_li-list_data{ float: right; color:#a8a8a8;font-size: 12px;line-height: 12px;}
.appraise_li-list_txt{ color:#5f5f5f;margin: 10px 0;}
.biz-reply {
 font-size: 12px;
  color: #C6895A;
}
.pic-list .pic-thumbnails{position:relative;width:665px;overflow:hidden}
.pic-thumbnails .pic-thumbnail-list li{float:left;margin-right:13px}
.pic-thumbnail{display:inline-block;zoom:1;*display:inline;position:relative;width:100px;height:100px;background:url(../images/icon-loading16x16.vecf78228.gif) no-repeat center;overflow:hidden}
.pic-thumbnail img{min-height:100px;min-width:100px;_height:100px;_width:100px}


.page {
	width: 100%;
	color: #565656;
	margin: 60px 0 0 350px;
	  height: 27px;
}
.page .up_page {
	float: left;
	padding: 0px 10px;
	border: 1px solid #d9d9d9
}
.page .up_page:hover {
	color: #fe5842
}
.page .up_page:hover .up_page_img {
	background: url(../images/list_07_07.png);
}
.page .up_page_txt {
	float: left;
}
.page .up_page_img {
	float: left;
	width: 20px;
	height: 20px;
	background: url(../images/list_07.png);
	margin-top: 3px;
}
.page .next_page {
	float: left;
	padding: 0px 10px;
	border: 1px solid #d9d9d9
}
.page .next_page:hover {
	color: #fe5842
}
.page .next_page:hover .next_page_img {
	background: url(../images/list_09.png);
}
.page .next_page_txt {
	float: left;
}
.page .next_page_img {
	float: left;
	width: 20px;
	height: 20px;
	background: url(../images/list_07_09.png);
	margin-top: 3px;
}
.page dl {
float:left
}
.page dd {
	display:block;
	float: left;
	width: 30px;
	text-align: center;
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	cursor: pointer;
}
.page dd:hover {
	color: #fe5842;
}
.page .dian {
	float: left;
	width: 30px;
	text-align: center;
}
 .widget-carousel-indicator-list li img{height: 50px;}
 .widget-carousel-indicator-list li {margin-left:5px;}