html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-family:Arial,simsun,sans-serif,"宋体";font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline}
:focus{outline:0}
body{background:#fff;line-height:1}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
caption,th,td{font-weight:400;text-align:left}
blockquote:before,blockquote:after,q:before,q:after{content:""}
blockquote,q{quotes:"" ""}
a img{border:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
h1,h2,h3,h4,h5,h6{font-weight:700}
strong{font-weight:700}
cite,em{font-style:normal}
i{font-style:italic}
th,td{border:1px solid #999;padding:.5em 1em}
th{font-weight:700;text-align:center}
caption{text-align:center}
img{vertical-align:middle}
a{color:#25d;text-decoration:none}
a:link,a:visited{color:#25d}
a:hover,a:focus,a:active{color:red}
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.f30{font-size:30px}
.fb{font-weight:700}
.fn{font-weight:400}
.t2{text-indent:2em}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline}
.no_unl{text-decoration:none}
.arial{font-family:arial}
.simsun{font-family:'宋体'}
.yahei{font-family:'微软雅黑'}
.white{color:#fff}
.red{color:red}
.green{color:green}
.blue{color:#00f}
.yellow{color:#ff0}
.gray{color:gray}
.orange{color:#f60}
.c_000{color:#000}
.c_333{color:#333}
.c_666{color:#666}
.c_999{color:#999}
.c_ccc{color:#ccc}
.c_f50{color:#f50}
.c_090{color:#090}
.c_47d{color:#47d}
.c_e22{color:#e22}
.c_e43{color:#e43}
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.bc{margin-left:auto;margin-right:auto}
.fl{float:left;display:inline}
.fr{float:right;display:inline}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}
.vm{vertical-align:middle}
.pr{position:relative}
.pa{position:absolute}
.abs-right{position:absolute;right:0}
.zoom{zoom:1}
.hidden{visibility:hidden}
.none{display:none}
.w{width:100%}
.w10{width:10px}
.w20{width:20px}
.w30{width:30px}
.w40{width:40px}
.w50{width:50px}
.w60{width:60px}
.w70{width:70px}
.w80{width:80px}
.w90{width:90px}
.w100{width:100px}
.w120{width:120px}
.w150{width:150px}
.w180{width:180px}
.w210{width:210px}
.w240{width:240px}
.w960{width:960px}
.w1000{width:1000px}
.h{height:100%}
.h50{height:50px}
.h100{height:100px}
.m5{margin:5px}
.m10{margin:10px}
.m15{margin:15px}
.m20{margin:20px}
.m25{margin:25px}
.m30{margin:30px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml25{margin-left:25px}
.ml30{margin-left:30px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr25{margin-right:25px}
.mr30{margin-right:30px}
.p5{padding:5px}
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}
.p25{padding:25px}
.p30{padding:30px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt25{padding-top:25px}
.pt30{padding-top:30px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb25{padding-bottom:25px}
.pb30{padding-bottom:30px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl25{padding-left:25px}
.pl30{padding-left:30px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr25{padding-right:25px}
.pr30{padding-right:30px}
.hotxt{line-height:100%;padding-bottom:10px;display:inline-block;overflow:hidden}
#hot a{margin-left:10px;color:#666}
#wireAd_lb{width:1000px;margin:10px auto}
#wireAd_lb{width:1000px;margin:10px auto}
#wireAd_lt{display:block;position:absolute;right:120px;top:6px}
#wireAd_dt{display:block;position:absolute;right:147px;top:26px}
#wireAd_pr{float:right;display:inline;margin:45px 40px 0 0}
#wireAd_fz_lt{width:1000px;margin:10px auto;text-align:center}
#wireAd_fz_lb{width:1000px;margin:10px auto}
#wireAd_zp_lb{width:772px;margin:10px auto}
#wireAd_fz_txt{background:0 0;border:0;padding:4px 5px 0 5px;height:25px;line-height:25px}
#wireAd_f_pr{position:absolute;top:0;right:0}
#ad192{clear:both}
#colorbox,#cboxOverlay,#cboxWrapper{position:absolute;top:0;left:0;z-index:9999;overflow:hidden}
#cboxOverlay{position:fixed;width:100%;height:100%}
#cboxMiddleLeft,#cboxBottomLeft{clear:left}
#cboxContent{position:relative}
#cboxLoadedContent{overflow:auto}
#cboxTitle{margin:0}
#cboxLoadingOverlay,#cboxLoadingGraphic{position:absolute;top:0;left:0;width:100%;height:100%}
#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow{cursor:pointer}
.cboxPhoto{float:left;margin:auto;border:0;display:block;max-width:none}
.cboxIframe{width:100%;height:100%;display:block;border:0}
#colorbox,#cboxContent,#cboxLoadedContent{box-sizing:content-box}
#cboxOverlay{background:#000}
#colorbox{border:8px solid #9f9f9f}
#cboxContent{background:#fff;overflow:hidden}
.cboxIframe{background:#fff}
#cboxError{padding:50px;border:1px solid #ccc}
#cboxLoadedContent{margin-top:34px}
#cboxTitle{background:url(img/fe_window_bg.png) repeat-x 0 0;height:34px;font:400 14px/34px "";padding:0 10px;width:100%;color:#333;position:absolute;left:0;top:0}
#cboxClose{position:absolute;top:0;right:10px;background:url(img/fe_window_bg.png) no-repeat 0 -35px;float:right;height:18px;margin-top:7px;width:18px;text-indent:-5000px;overflow:hidden}
#cboxClose:hover{background-position:0 -53px}
.scheme_list{width:830px}
.pup_list{width:740px;overflow:hidden}
.w450{width:450px}
.pup_p1{font:400 14px/24px "微软雅黑";margin:0 0 20px}
.price_step_btns{overflow:hidden;clear:both;height:34px;text-align:center}
.price_step_btns a{display:inline-block}
.ding_btn{margin-right:10px}
.ding_btn,.ding_btn em{display:inline-block;vertical-align:top;height:34px;background:url(img/ding_btn.gif) no-repeat;font:700 14px/34px arial;color:#fff}
.ding_btn,.ding_btn:hover{background-position:right top;padding-right:20px;text-decoration:none;color:#fff}
.ding_btn em{background-position:left top;width:20px}
a.ding_btn_gray,a.ding_btn_gray em{display:inline-block;vertical-align:top;height:34px;background:url(img/ding_btn_gray.gif) no-repeat;font:700 14px/34px arial;color:#fff}
a.ding_btn_gray,a.ding_btn_gray:hover{background-position:right top;padding-right:20px;text-decoration:none;color:#585858}
a.ding_btn_gray em{background-position:left top;width:20px}
.step_content{margin:0;padding:10px 20px 20px;background:#fff;border:1px solid #5A79AC;overflow:hidden}
.step_content .price_step{padding-top:10px}
.step_content .price_region_line{margin:0}
.step_content .price_step_select{background:#fffeef;border:1px solid #ece8dc;padding:5px 10px;margin:20px 0}
.btnPost{display:inline-block;width:179px;height:59px;background:url(img/btnpost.png) no-repeat 0 0;cursor:pointer;overflow:hidden;vertical-align:middle;margin-top:25px}
.btnPost:hover{background-position:0 -63px}
.btnPost:active{background-position:0 -126px}
.btnPost input{display:block;width:179px;border:none;background:0 0;height:59px;font:22px/59px "微软雅黑",sans-serif;color:#fff;text-indent:179px;cursor:pointer;overflow:hidden}
.btnPost.nopost{background-position:0 -189px}
.wb-m-wlt-ico,.wb-m-wlt-ico i{background:url(img/list-icon.png) no-repeat 100% -172px}
.wb-m-wlt-ico{height:14px;padding-right:14px;font-weight:700;overflow:hidden;display:inline-block;margin-right:3px;vertical-align:middle;color:#f55700;font-family:Tunga;font-size:12px;margin-top:5px}
.wb-m-wlt-ico i{background-position:0 -172px;height:14px;line-height:18px;font-style:normal;text-align:center;display:inline-block;float:left;padding-left:15px;vertical-align:baseline}
.boxlist li .wb-m-wlt-ico{position:absolute;right:29px;top:6px}
.boxbg ul li .wb-m-wlt-ico{top:35px}
.rsale .userinfo li .wb-m-wlt-ico{margin-top:0}
.rsale .userinfo li .wb-m-wlt-ico i{display:inline-block}
#qqWrapBox,.qqbbWrapBox{position:relative;display:inline-block}
.qqbbWrapBox{left:20px}
.qqbbWrapBox.onlybangbang{left:0}
#qqiconimg{position:relative;top:-1px;cursor:pointer;margin-left:0}
.qqbbiconimg{position:relative!important;top:3px!important;cursor:pointer;margin-left:0}
#qqtalktip{font-size:12px;color:#999}
#qqtalktip img{margin-right:4px}