@charset "utf-8";

@import url(topbar.css);

body {
	font-family: Arial,"宋体";
	font-size: 12px;
	color: #333
}

p,div,form,ul,dl,ol,li,dt,dd,h1,h2,h3 {
	margin: 0;
	padding: 0;
	list-style: none
}

.orange {
	color: #f60
}

.c_f50 {
	color: #f50
}

.c_e22 {
	color: #e22
}

.cl {
	clear: both
}

#header,#content,#footer {
	width: 1200px;
	margin-left: auto;
	margin-right: auto
}

#content #main {
	float: left;
	width: 100%;
	border-top: 2px solid #e50;
	*overflow: hidden
}

#content #side {
	float: right;
	width: 228px
}

a {
	text-decoration: none
}

.bestbroker p em,.breadCrumb span.crb_i,.onclick .moreck,.mapbox_m input.linebtn,.hcicon,.life_st,.life_st i,.icon_hcarrow,.minimap_close,.minimap_arrow,.peizhi span,.xiaoqu_img,.rec_tit h3,.rec_tit h3 span,.su_con .detail_contact,.su_con .detail_contact1,.postBtn {
	background: url(img/fang-detail-sprites.png) no-repeat
}

#header {
	height: 80px;
	position: relative
}

#logo {
	width: 188px;
	height: 52px;
	position: absolute;
	top: 23px;
	left: 10px
}

.breadCrumb {
	position: absolute;
	left: 290px;
	top: 25px;
	line-height: 25px
}

.breadCrumb span {
	margin-right: 7px
}

.breadCrumb span.crb_i {
	padding-left: 15px;
	background-position: -198px -216px
}

.postBtn {
	position: absolute;
	right: 10px;
	top: 30px;
	width: 135px;
	height: 36px;
	background-position: 0 -181px
}

.main_topb {
	display: block;
	float: left;
	margin-top: 0;
	height: 2px;
	width: 100%;
	background: url(img/detail_primary_bg.png) no-repeat 0 0;
	font-size: 0
}

.detailPrimary {
	padding: 20px;
	border: 1px solid #e1e1e1;
	border-top: 0;
	background: #fff
}

.bigtitle h1 {
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	font-family: "微软雅黑",sans-serif;
	display: inline;
	zoom: 1;
	color: #666
}

.bigtitle span {
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	font-family: "微软雅黑",sans-serif
}

.mtit_con {
	margin: 10px auto 20px;
	line-height: 20px
}

.mtit_con a {
	color: #999!important
}

.mtit_con a:hover {
	color: #f60!important
}

.mtit_con_left {
	position: relative;
	top: 3px;
	left: -5px
}

.mtit_con_left li {
	float: left;
	padding-left: 20px;
	margin-right: 10px;
	background: url(img/main_title_bg.png) no-repeat
}

.mtit_con_left li.time {
	background-position: 0 0
}

.mtit_con_left li.count {
	background-position: 0 -36px
}

.mtit_con {
	position: relative;
	z-index: 3
}

.mtit0,.mtit1,.mtit2,.mtit3,.mtit4,.mtit5 {
	display: inline-block;
	width: 12px;
	height: 12px;
	overflow: hidden;
	margin-right: 5px;
	vertical-align: middle;
	background: url(img/main_title_bg.png) no-repeat -4px -233px
}

.mtit0 {
	width: 7px;
	height: 12px;
	background-position: -6px -272px;
	margin-left: 3px;
	margin-right: 0
}

.mtit1 {
	width: 9px;
	height: 13px;
	background-position: -5px -79px
}

.mtit2 {
	width: 13px;
	height: 12px;
	background-position: -4px -117px
}

.mtit3 {
	width: 10px;
	height: 12px;
	background-position: -5px -152px
}

.mtit4 {
	width: 8px;
	height: 12px;
	background-position: -6px -192px
}

.mtit5 {
	width: 12px;
	height: 12px;
	background-position: -4px -233px
}

.mtit_con_right li {
	position: relative;
	float: left;
	display: block;
	padding: 1px 1px 0 1px;
	margin-left: 5px;
	border: 0;
	cursor: pointer
}

.mtit_con_right li.hover {
	z-index: 4;
	padding: 0;
	border: 1px solid #e1e1e1;
	border-bottom: 0
}

.mtit_con_right #freemsg.hover {
	z-index: 4;
	padding: 1px 1px 0 1px;
	border: 0
}

.mtit_con_right #share.hover {
	z-index: 4;
	padding: 1px 1px 0 1px;
	border: 0
}

.ml_1,.ml_2,.ml_3,.ml_4,.ml_5 {
	display: block;
	padding: 3px 5px;
	line-height: 14px;
	background: #fff;
	white-space: nowrap
}

.mtit_con_right li.hover {
	color: #f60
}

.mtit_con_right li.hover .mtit0 {
	background-position: -6px -301px
}

.mtit_con_right li.hover .mtit1 {
	background-position: -5px -355px
}

.mtit_con_right li.hover .mtit2 {
	background-position: -4px -393px
}

.mtit_con_right li.hover .mtit3 {
	background-position: -5px -428px
}

.mtit_con_right li.hover .mtit4 {
	background-position: -6px -468px
}

.mtit_con_right li.hover .mtit5 {
	background-position: -4px -327px
}

.collectBox li,.reportBox li,.controlBox1 li,.controlBox li {
	line-height: 22px;
	padding: 0 15px 0 0;
	text-align: right
}

.collectBox,.reportBox,.controlBox1,.controlBox {
	position: absolute;
	z-index: 3;
	left: 323px;
	top: 20px;
	display: none;
	width: 61px;
	background: #fff;
	border: 1px solid #e1e1e1
}

.collectBox {
	left: 323px;
	width: 195px
}

.reportBox {
	left: 560px;
	width: 100px
}

.controlBox {
	left: 667px;
	width: 61px
}

.controlBox1 {
	left: 667px;
	width: 195px
}

.mtit_con .shadow_ {
	display: block;
	width: 100%;
	height: 1px;
	barder-bottom: 1px solid #f9e9e9;
	background: #f0f0f0;
	margin: 1px 0 -2px;
	font-siez: 0;
	line-height: 0;
	visibility: visible;
	overflow: hidden
}

.mtit_con_ul {
	padding: 3px 0 4px 0
}

.gallery {
	float: left;
	*display: inline;
	width: 244px;
	height: 306px;
	border: 1px solid #e1e1e1;
	background: #fff;
	margin-right: 30px
}

.g_img {
	width: 240px;
	height: 240px;
	margin: 2px;
	background: #fff;
	color: #999;
	text-align: center;
	display: table;
	table-layout: fixed;
	overflow: hidden
}

.g_img span {
	display: table-cell;
	vertical-align: middle;
	*display: block;
	*font-size: 209px;
	*font-family: Arial;
	overflow: hidden
}

.g_img img {
	max-width: 240px;
	_width: expression(this.width > 240 ? '240px': true);
	max-height: 240px;
	_height: expression(this.height > 240 ? '240px': true);
	vertical-align: middle;
	overflow: hidden
}

.g_thumb {
	height: 51px;
	padding: 10px 10px 0 24px;
	border-top: 1px solid #e1e1e1;
	background: #fdfdfd;
	overflow: hidden;
	position: relative
}

.g_thumb_main {
	width: 204px;
	height: 41px;
	overflow: hidden;
	position: relative
}

.g_thumb ul {
	height: 41px;
	position: absolute;
	top: 0;
	left: 0
}

.g_thumb li {
	list-style: none;
	float: left;
	display: inline;
	width: 37px;
	height: 37px;
	border: 1px solid #e1e1e1;
	padding: 1px;
	margin-right: 10px;
	background: #fff;
	overflow: hidden
}

.g_thumb li.hover {
	border: 2px solid #EF7D49;
	padding: 0
}

.g_thumb li img {
	padding-top: 4px;
	text-align: center;
	vertical-align: middle;
	width: 37px
}

.icon_left,.icon_right {
	display: inline-block;
	width: 6px;
	height: 11px;
	overflow: hidden;
	background: url(img/detail_bg.png) no-repeat 0 0;
	position: absolute;
	top: 25px;
	cursor: pointer
}

.icon_left {
	float: left;
	left: 5px;
	background-position: -7px -27px
}

.icon_right {
	float: right;
	right: 5px;
	background-position: -7px -88px
}

.icon_left.on,.icon_left:hover {
	background-position: -7px -57px
}

.icon_right.on,.icon_right:hover {
	background-position: -7px -118px
}

.sumary {
	width: 65%;
	float: left;
	*display: inline;
	background: #fff;
	zoom: 1
}

.suUl a:link,.suUl a:visited {
	color: #25d;
	font-size: 14px
}

.suUl a:hover,.suUl a:active {
	color: red
}

.suUl .f12 a:link,.suUl .f12 a:visited,.suUl #jtdt a:visited {
	color: #25d;
	font-size: 12px
}

.suUl .moreck :link,.suUl .moreck :hover {
	font-size: 12px
}

.suUl li {
	clear: both;
	display: block;
	font-size: 12px;
	line-height: 30px;
	list-style: none;
	color: #666;
	padding-bottom: 5px
}

.liv0 {
	position: relative
}

.suUl li:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden
}

.suUl li img {
	vertical-align: middle
}

.suUl li:first {
	z-index: 1
}

.su_tit {
	width: 70px;
	text-align: justify;
	float: left;
	font-size: 14px;
	color: #9a9a9a
}

.su_con {
	float: left;
	border: 1px solid #fff;
	font-size: 14px
}

.w382 {
	width: 382px
}

.su_con .wlfs {
	position: relative;
	display: inline-block;
	margin-right: 6px
}

.su_con .wlfs .info {
	color: #666;
	line-height: 22px;
	border: 1px solid #e1e1e1;
	padding: 0 10px
}

.su_con .wlfs .check {
	position: absolute;
	right: 1px;
	bottom: 1px;
	display: none;
	width: 10px;
	height: 10px;
	text-indent: -999em;
	overflow: hidden;
	background: url(img/wlfs_check.png) no-repeat 0 0
}

.su_con .wlfs:hover .info {
	border: 2px solid #ED7E47
}

.su_con .wlfs.active .info {
	border: 2px solid #ED7E47
}

.su_con .wlfs.active .check {
	display: block
}

.su_con .xiaobao {
	position: relative;
	width: 325px;
	height: 55px;
	padding-top: 15px;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	background: #fdfdfd
}

.su_con .xb_tit {
	float: left;
	*display: inline;
	width: 115px;
	height: 40px;
	margin: 0 15px 0 60px;
	border-right: 1px dotted #e1e1e1;
	font: 300 14px "微软雅黑"
}

.su_con .xb_item {
	width: 50px;
	float: left;
	*display: inline;
	margin-right: 15px;
	text-align: center;
	line-height: 12px
}

.su_con .xb_icon {
	display: block;
	width: 35px;
	height: 46px;
	overflow: hidden;
	background: url(img/icon_xiaobao.png) no-repeat 0 0;
	position: absolute;
	left: 10px;
	top: 10px
}

.su_con .detail_contact {
	display: inline-block;
	float: left;
	width: 158px;
	height: 44px;
	margin-top: 5px;
	background-position: 0 -448px;
	overflow: hidden;
	cursor: pointer
}

.su_con .detail_contact1 {
	display: inline-block;
	float: left;
	width: 158px;
	height: 44px;
	margin-top: 5px;
	background-position: 0 -502px;
	overflow: hidden;
	cursor: pointer
}

#movebar li {
	padding-bottom: 0
}

#movebar span.ml20 {
	position: relative;
	top: -3px;
	*top: -5px;
	_top: -2px;
	font-size: 14px
}

.suUl li .c_999 a {
	font-size: 12px
}

.suUl .cankao #jtdt :link,.suUl .cankao #jtdt :hover {
	font-size: 12px
}

.suUl li .ml20 a {
	font-size: 14px
}

.suUl .su_con #jtdt a {
	font-size: 12px
}

.suUl #showChatSpan .moreck,.suUl #showMore .moreck {
	font-size: 12px
}

.showmorediv a:link,.showmorediv a:visited,.showmoresame a:link,.showmoresame a:visited {
	font-size: 12px
}

.countwrap {
	display: inline;
	float: left;
	margin-left: 70px;
	padding: 0 10px;
	border: 1px solid #f7f7f7;
	background: #fcfcfc;
	color: #a6a6a6
}

.countwrap a {
	color: red
}

.countwrap a:link,.countwrap a:visited,.countwrap a:hover,.countwrap a:active {
	color: red
}

.countwrap font {
	margin: 0 10px
}

.dimension {
	display: inline;
	float: left;
	margin-left: 15px
}

.xiaobao {
	position: relative;
	height: 55px;
	padding: 10px 10px 5px 15px;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	background: #fdfdfd;
	font-size: 12px
}

.xiaobao.ml65 {
	margin-left: 65px
}

.xiaobao .xb_tit {
	float: left;
	display: inline;
	width: 115px;
	height: 50px;
	margin: 0 15px 0 45px;
	border-right: 1px dotted #e1e1e1;
	font: 300 14px/24px "微软雅黑"
}

.xiaobao .xb_tit a {
	color: #333
}

.xiaobao .xb_tit a .orange {
	color: #f60
}

.xiaobao .xb_item {
	float: left;
	display: inline;
	margin-right: 15px;
	text-align: center;
	line-height: 14px;
	word-break: keep-all
}

.xb_iconN1,.xb_iconN2,.xb_iconN3,.xb_iconN4,.xb_iconN5 {
	background: url(img/fang_icon_xiaobao.gif) no-repeat;
	display: inline-block;
	width: 30px;
	height: 30px;
	overflow: hidden;
	margin-bottom: 4px
}

.xb_iconN1 {
	background-position: 0 0
}

.xb_iconN2 {
	background-position: 0 -30px
}

.xb_iconN3 {
	background-position: 0 -60px
}

.xb_iconN4 {
	background-position: 0 -90px
}

.xb_iconN5 {
	background-position: 0 -120px;
	width: 23px;
	height: 25px;
	margin-top: 4px;
	float: left
}

.xiaobao .xb_item.last {
	margin-right: 0
}

.xiaobao .xb_icon {
	position: absolute;
	left: 10px;
	top: 10px;
	display: block
}

.xb_icon,.xb_icon1,.xb_icon2,.xb_icon3,.xb_icon4,.xb_icon5,.xb_icon6,.xb_icon7,.xb_icon8 {
	display: inline-block;
	width: 37px;
	height: 32px;
	overflow: hidden;
	background: url(img/icon_xiaobao.png) no-repeat 0 0
}

.xb_icon {
	height: 47px;
	background-position: 0 0
}

.xb_icon1 {
	background-position: 0 -59px
}

.xb_icon2 {
	background-position: 0 -99px
}

.xb_icon3 {
	background-position: 0 -140px
}

.xb_icon4 {
	background-position: 0 -181px
}

.xb_icon5 {
	background-position: 0 -228px
}

.xb_icon6 {
	height: 35px;
	background-position: 0 -269px
}

.xb_icon7 {
	background-position: 0 -315px
}

.xb_icon8 {
	background-position: 0 -355px
}

.icon_call,.icon_check,.icon_service,.icon_help,.icon_58hz,.xb_icon_mi,.xb_icon_mi2,.xb_icon_mi3,.xb_icon_mi4 {
	display: inline-block;
	background: url(img/detail_bg.png) no-repeat;
	overflow: hidden;
	vertical-align: middle
}

.xb_icon_mi {
	width: 17px;
	height: 13px;
	background-position: -1px -208px
}

.xb_icon_mi2 {
	width: 18px;
	height: 17px;
	overflow: hidden;
	background-position: -1px -179px
}

.xb_icon_mi3 {
	width: 18px;
	height: 17px;
	overflow: hidden;
	background-position: -1px -271px
}

.xb_icon_mi4 {
	width: 18px;
	height: 20px;
	overflow: hidden;
	background-position: -1px -403px
}

.icon_call {
	width: 17px;
	height: 16px;
	overflow: hidden;
	background-position: -1px -306px
}

.icon_check {
	width: 16px;
	height: 16px;
	overflow: hidden;
	background-position: -2px -341px
}

.icon_service {
	width: 18px;
	height: 16px;
	overflow: hidden;
	background-position: -1px -372px
}

.icon_help {
	width: 18px;
	height: 19px;
	overflow: hidden;
	background-position: -1px -432px
}

.icon_58hz {
	width: 18px;
	height: 19px;
	overflow: hidden;
	background-position: -2px -460px
}

.description {
	clear: both
}

.des_tit {
	margin-bottom: 15px;
	background-position: 0 0;
	background-repeat: repeat-x;
	height: 36px;
	border-left: 1px solid #ececec;
	border-bottom: 2px solid #f88500
}

.des_tit .desMenu a {
	float: left;
	display: block;
	_display: inline;
	height: 36px;
	list-style: none;
	cursor: pointer;
	border-top: 1px solid #ececec;
	border-right: 1px solid #ececec
}

.des_tit .desMenu a span {
	display: block;
	_display: inline;
	_zoom: 1;
	height: 35px;
	line-height: 35px;
	padding: 0 15px;
	font-size: 14px;
	color: #585858;
	font-family: '微软雅黑'
}

.des_tit .desMenu a.cur {
	border-right: 1px solid #f88500;
	border-top: 1px solid #f88500
}

.des_tit .desMenu a span strong {
	color: red
}

.des_tit .desMenu a.cur span {
	font-weight: 700;
	background: #f88500;
	height: 36px;
	line-height: 36px;
	margin-top: 0;
	font-weight: 700;
	color: #fff
}

.des_con {
	font-size: 14px
}

.des_con .cur {
	display: block;
	padding: 0 10px
}

.descriptionBox {
	margin: 20px auto
}

.descriptionBox p {
	line-height: 2;
	word-wrap: break-word;
	word-break: break-all
}

.descriptionBox a.kw_link {
	color: #333
}

.descriptionImg {
	margin: 0;
	padding: 0
}

.descriptionImg a {
	display: block;
	overflow: hidden
}

.descriptionImg img {
	text-align: left;
	margin-bottom: 10px;
	display: block;
	max-width: 640px;
	_width: 640px;
	overflow: visible
}