@charset "utf-8";@import url(topbar.css);
#modify,#minsearch,#link_city_change {
	display: none
}

#header {
    height: 70px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
#navlist {
	position: relative;
	z-index: 1000;
	width: 990px;
	margin: 0 auto;
	font-size: 12px
}

#navlist ul {
	padding-left: 2px;
	height: 27px;
	line-height: 27px;
	position: absolute;
	left: 320px;
	top: -27px;
	overflow: hidden
}

#navlist li {
	border-right: 1px solid #d6d6d6;
	border-left: 1px solid #fff;
	height: 14px;
	line-height: 14px;
	float: left;
	padding: 0 15px;
	margin-top: 6px
}

#navlist li.sel {
	background: #fff;
	height: 27px;
	line-height: 26px;
	margin: 0;
	border-left: 1px solid #d6d6d6;
	font-weight: 900;
	margin-left: -1px
}

#navlist li#navbrn {
	border-right: none
}

#navlist li#navbln {
	border-left: none
}

#navlist li.sel#navbrn {
	border-right: 1px solid #d6d6d6
}

#navlist li.sel#navbln {
	border-left: 1px solid #d6d6d6
}

#navlist li a {
	color: #666
}

body,div,dl,dt,dd,ul,li,h1,h2,h3,p,table,th,td {
	padding: 0;
	margin: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

input {
	outline: 0
}

img {
	border: 0
}

ol,ul {
	list-style: none
}

h1,h2,h3 {
	font-size: 100%;
	text-align: left
}

.clear {
	height: 0;
	overflow: hidden;
	clear: both
}

a {
	text-decoration: none;
	color: #15c
}

a:hover {
	text-decoration: none;
	color: red
}

.fl {
	float: left
}

.fr {
	float: right
}

.clearfix {
	zoom: 1
}

.clearfix:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both
}

.red {
	color: red
}

body {
	font: 14px/1.2 Arial,SimSun
}

.wb-header,.wb-content,.wb-footer {
	margin: 0 auto
}

.bor {
	margin-top: 10px;
	border: 1px solid #dcdcdc
}

.wb-header {
	height: 62px;
	position: relative
}

.wb-header .logo {
	position: absolute;
	top: 16px;
	left: 0
}

.wb-header h1 {
	font: 400 24px Microsoft YaHei;
	color: #404040;
	position: absolute;
	top: 20px;
	left: 300px
}

.wb-header .fabu {
	width: 199px;
	height: 31px;
	padding-top: 1px;
	margin-top: 23px;
	border: 1px solid #ffb38c;
	background: url(img/hl_bg.png) 0 -218px repeat-x;
	right: 0;
	position: absolute;
}

.wb-header .fabu a {
	width: 99px;
	height: 31px;
	text-align: center;
	color: #e50;
	font: 700 14px/31px "宋体"
}

.wb-header .fabu .fabu_zp {
	border-right: 1px dashed #ffb38c
}

.wb-header .fabu a:hover {
	text-decoration: underline
}

.tabs {
	height: 34px;
	padding-left: 1px;
	border: 1px solid #dcdee1;
	border-bottom: 2px solid #e71;
	border-left: none
}

.tabs a {
	height: 34px;
	line-height: 34px;
	display: inline-block;
	padding: 0 18px 0 19px;
	margin-left: -1px;
	border: solid #edeeef;
	border-width: 0 1px;
	position: relative;
	z-index: 1;
	color: #585858
}

.tabs .selCur {
	margin-top: -1px;
	background: #e71;
	border-color: #d50;
	border-width: 1px 1px 0 1px;
	color: #fff;
	font-weight: 700;
	z-index: 2
}

.searInfo {
	padding: 24px 0 24px 21px;
	border: 1px solid #dcdee1;
	border-top: none
}

.itemInfo {
	width: 170px;
	float: left;
	margin-right: 15px;
	display: inline;
	border: 1px solid #cdcfd1;
	border-bottom-color: #abadb2;
	background: #fff;
	position: relative
}

.itemInfo .itemT {
	width: 162px;
	padding-left: 8px;
	height: 32px;
	line-height: 32px;
	float: left;
	color: #666;
	display: inline;
	cursor: pointer
}

.itemInfo .itemT a {
	color: #323234
}

.itemInfo .itemT b {
	width: 7px;
	height: 4px;
	overflow: hidden;
	display: inline-block;
	background: url(img/hirelist.png) no-repeat -202px 0;
	position: absolute;
	top: 14px;
	right: 7px
}

.selItem {
	zoom: 1;
	margin-top: 20px;
	display: none
}

.selItem:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both
}

.selItem .itemInfo {
	z-index: 12;
	font-size: 12px
}

.selItem .itemInfo .infoList {
	width: 170px;
	padding-top: 3px;
	position: absolute;
	top: 32px;
	left: -1px;
	background: #fff;
	border: 1px solid #cdcfd1;
	border-top: none;
	display: none
}

.selItem .itemInfo .infoList li {
	line-height: 24px;
	height: 24px
}

.selItem .itemInfo .infoList li a {
	color: #404040;
	display: block;
	padding-left: 8px;
	zoom: 1
}

.selItem .itemInfo .infoList li a:hover {
	background: #f5f5f5 url(img/hl_icon.png) 146px 7px no-repeat
}

.searInfo .selInfo .itemInfo {
	width: 177px;
	z-index: 900
}

.searInfo .selInfo .itemInfo .itemT {
	width: 169px
}

.selInfo .zidx900 {
	z-index: 900
}

.selInfo .divJobCate,.selInfo .divIndCate {
	width: 836px;
	position: absolute;
	top: 32px;
	left: -1px;
	z-index: 900;
	font-size: 12px;
	background: #fff;
	border: 1px solid #cdcfd1
}

.selInfo .divJobCate h3 {
	display: none;
	height: 36px;
	line-height: 36px;
	padding-left: 7px;
	background: #f6f6f6;
	border-bottom: 1px solid #c8c8c8;
	color: #000;
	font-size: 14px
}

.jobcatebox th {
	width: 140px;
	padding: 6px 17px 6px 0;
	text-align: right;
	font-weight: 400;
	background: #fafafa;
	border-right: 1px solid #e9e9e9
}

.jobcatebox tr,.jobcatebox td,.jobcatebox th {
	border-bottom: 1px solid #e9e9e9
}

.jobcatebox th,.jobcatebox td {
	height: auto;
	line-height: 24px;
	vertical-align: top
}

.jobcatebox th {
	color: #585858
}

.jobcatebox td {
	width: 678px;
	padding: 5px 0
}

.jobcatebox a:hover {
	color: #F77D40
}

.jobcatelist li {
	float: left;
	display: inline;
	height: 24px;
	margin-left: 5px;
	position: relative
}

.jobcatelist li p {
	width: 152px;
	padding: 2px;
	overflow: hidden;
	zoom: 1
}

.jobcatelist li span {
	float: left;
	padding: 0 15px 0 10px;
	text-align: left;
	background: url(img/hl_icon.png) right -37px no-repeat;
	color: #25D;
	cursor: pointer
}

.jobcatelist .selected {
	position: relative;
	z-index: 99;
	margin-left: -16px;
	zoom: 1
}

.jobcatelist .selected p {
	position: relative;
	z-index: 2;
	border: 2px solid #C8C8C8;
	border-bottom: none;
	width: 170px;
	padding: 3px 0 1px 3px;
	background: #fff;
	overflow: hidden;
	zoom: 1;
	margin-top: -3px
}

.jobcatelist .selected p a {
	color: #f77d40
}

.jobcatelist .selected span {
	background-position: right -55px;
	padding-left: 28px;
	color: #f77d40
}

.jobcatelist .selected .subcate {
	display: block;
	top: 25px
}

.jobcatelist .selected .scr {
	left: auto;
	right: 0
}

.subcate {
	background: red;
	display: none;
	position: absolute;
	z-index: 1;
	left: 0;
	width: 408px;
	background: #fff;
	border: 2px solid #C8C8C8;
	padding: 7px 0 7px 30px
}

.subcate a {
	width: 120px;
	height: 28px;
	float: left;
	line-height: 28px;
	white-space: nowrap
}

.divIndCate {
	width: 845px
}

.divIndCate .indcatelist {
	padding: 8px 0 8px 25px
}

.divIndCate .indcatelist li {
	width: 200px;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	white-space: nowrap
}

.divIndCate .indcatelist a {
	color: #15c;
	display: inline
}

.divIndCate .indcatelist a:hover {
	color: #F77D40
}

.searBar .searInput {
	width: 342px;
	padding: 3px 0 2px 2px;
	margin-right: 15px;
	height: 28px;
	_height: 27px;
	float: left;
	background: url(img/searchInput.png) left top no-repeat;
	border: solid #c8c8c8;
	border-width: 0 1px 1px 0;
	display: inline
}

.searBar .searInput input {
	width: 326px;
	padding: 0 9px 0 7px;
	height: 27px;
	line-height: 27px;
	*height: 26px;
	*line-height: 26px;
	border: 0
}

.searBar .searJob {
	height: 32px;
	line-height: 32px;
	display: inline-block;
	padding: 0 32px;
	background: #f97106;
	border-bottom: 1px solid #be520e;
	color: #fff
}

.selInfo .itemInfo .itemT {
	color: #323234
}

.keyword {
	color: #b8b8b8
}

.keyword2 {
	color: #282828
}

#tooltipdiv1 {
	width: 343px;
	margin: -2px 0 0 -2px;
	background: #fff;
	font-weight: 700;
	font-size: 12px;
	border-top: 1px solid #d1d3d6;
	z-index: 2
}

.tooltip ul {
	width: 343px;
	border: 1px solid #dcdadc;
	border-top: none
}

.tooltip li {
	height: 24px;
	line-height: 24px;
	padding: 0 8px;
	cursor: pointer
}

.tooltip li a {
	color: #666;
	font-weight: 400;
	float: left
}

.tooltip li .tool_r {
	float: right;
	color: #a8a8a8;
	font-weight: 400
}

.tooltip li.selected a b,.tooltip li.selected a,.tooltip li.selected .tool_r {
	color: #666
}

.tooltip li.selected,.tag_options li.open_hover {
	background: #f7f7f7
}

.loca_item .showline {
	background: #fff;
	height: 34px;
	position: relative;
	z-index: 2
}

.selItem .loca_item .localist {
	width: 410px;
	padding: 9px 8px 3px 8px;
	position: absolute;
	top: 33px;
	left: -1px;
	font-size: 12px;
	background: #fff;
	border: 1px solid #cdcfd1
}

.selItem .loca_item .infoList li {
	width: 82px;
	float: left;
	padding: 0;
	line-height: 20px
}

.selItem .loca_item .infoList li a {
	display: inline-block;
	padding: 0 6px;
	color: #404040;
	white-space: nowrap
}

.selItem .loca_item .infoList li a:hover {
	background: #e71;
	color: #fff
}

.selItem .loca_item .infoList .locasel {
	background: #e71;
	color: #fff;
	cursor: pointer
}

.hotposCont {
	padding: 13px 20px
}

.hotposCate li {
	float: left;
	width: 140px;
	line-height: 28px
}

.hotposCate .wid112 {
	width: 112px
}

.hotposCate .wealList {
	padding-bottom: 13px;
	margin-bottom: 13px;
	border-bottom: 1px dashed #e0e0e0
}

.posCont .siderbar-left {
	width: 200px
}

.posCont .sidebar-right {
	width: 798px
}

.posCont .sidebar-left a {
	display: block;
	width: 180px;
	height: 42px;
	line-height: 42px;
	padding-left: 19px;
	background: #f5f5f5 url(img/pt-job.png) 181px -312px no-repeat;
	color: #333;
	border: solid #dcdcdc;
	border-width: 1px 1px 0 0
}

.posCont .sidebar-left .nobor {
	border-top: none
}

.posCont .sidebar-left a:hover {
	border-right: none;
	background: 0 0;
	color: red
}

.posCont .sidebar-left .curSel a {
	border-right: none;
	background: 0 0;
	color: red
}

.posCont .sidebar-right {
	padding: 10px 0 11px 0
}

.posCont .sidebar-right li {
	line-height: 28px;
	margin: 6px 0
}

.posCont .sidebar-right li a {
	margin: 0 11px;
	display: inline-block
}

.posCont .sidebar-right strong a {
	color: #333
}

.posExp a {
	color: #404040
}

.posExp a:hover {
	color: red;
	text-decoration: underline
}

.posExp dl {
	overflow: hidden;
	zoom: 1;
	padding: 8px 0 8px 18px;
	font-size: 12px
}

.posExp dt {
	font-size: 14px;
	float: left;
	width: 170px;
	margin-top: 6px
}

.posExp dd {
	line-height: 28px;
	float: left;
	width: 810px
}

.posExp dd a {
	margin-right: 26px;
	display: inline-block
}

.bgColor {
	background: #f5f5f5
}

.posExp .padT14 {
	padding-top: 14px
}

.posExp .padB14 {
	padding-bottom: 14px
}

.title {
	border-bottom: 1px solid #dcdcdc;
	height: 32px;
	line-height: 32px;
	background: #f5f5f5;
	padding-left: 19px
}

.title h2 {
	color: #333
}

.newposInfo {
	border: 1px solid #dcdcdc;
	margin-top: 24px
}

.newposInfo ul {
	padding: 10px 0
}

.newposInfo li {
	line-height: 36px;
	width: 250px;
	padding: 0 20px;
	margin-right: 20px;
	display: inline;
	float: left;
	text-align: right;
	font-size: 12px;
	color: #707070
}

.newposInfo li a {
	float: left;
	font-size: 14px
}

.newposInfo .mar85 {
	margin: 0 85px;
	display: inline
}

.bottom {
	margin-top: 17px;
	color: #999;
	font-size: 12px
}

.bottom a {
	color: #999
}

.bottom a:hover {
	color: red
}

.channelIntro,.hotCity,.friendlinks {
	padding: 10px 0;
	line-height: 24px;
	border-bottom: 1px solid #ddd
}

.hotCity li {
	width: 135px;
	float: left
}

.friendlinks h3 {
	float: left
}

.friendlinks a {
	margin: 0 8px;
	display: inline-block
}

.wb-footer {
	padding: 10px 0;
	text-align: center;
	font-size: 12px;
	color: #333
}

.wb-footer a {
	margin-left: 10px
}

.masklayer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 899;
	background: #000;
	filter: alpha(opacity=15);
	opacity: .15;
	_position: absolute;
	_bottom: auto;
	_top: expression(eval(document.documentElement.scrollTop));
	_width: expression(eval(document.documentElement.clientWidth));
	_height: expression(eval(document.documentElement.clientHeight))
}

.talentNet #topbar .bar_left {
	display: none
}

.talentNet .topTit {
	width: 1000px;
	margin: 0 auto;
	height: 0;
	font-size: 0;
	line-height: 0;
	position: relative
}

.talentNet .topTit .bar_left {
	position: absolute;
	left: 0;
	top: 0;
	line-height: 27px
}

.talentNet {
	color: #585858
}

.talentNet .bar_left .mobile,.talentNet .bar_left .gap {
	display: none
}

.provCity {
	margin: 18px 0;
	border: 1px solid #dcdcdc
}

.provCity .cityRecru {
	padding: 0 18px
}

.provCity .cityRecru dl {
	padding: 12px 0;
	clear: both
}

.provCity .ftRecru {
	border-bottom: 1px dashed #e0e0e0
}

.provCity .cityRecru dt {
	float: left;
	margin-top: 8px
}

.provCity .cityRecru dd {
	line-height: 30px;
	margin-left: 75px
}

.provCity .cityRecru dd li {
	width: 100px;
	display: inline-block;
	*display: inline;
	zoom: 1
}

.cityinfo .cityTabs {
	height: 34px;
	line-height: 34px;
	background: #fcfcfc;
	border: 1px solid #dcdcdc;
	position: relative
}

.cityinfo .cityTabs li {
	float: left;
	padding: 0 26px;
	border-right: 1px solid #edeeef
}

.cityinfo .cityTabs a {
	color: #282828;
	font-size: 14px
}

.cityinfo .cityTabs .otherCity {
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 12px
}

.cityinfo .cityTabs a:hover {
	color: red
}

.cityinfo .cityTabs .curCity {
	border-color: #dcdcdc;
	border-top: 2px solid #e71;
	background: #fff;
	margin-top: -1px
}

.moreTypeSel {
	font-size: 12px;
	padding-left: 15px;
	display: inline-block;
	position: relative;
	cursor: pointer
}

.moreTypeSel i {
	background: url(img/list-ico.png) -23px -44px no-repeat transparent;
	height: 11px;
	width: 8px;
	border: 0;
	overflow: hidden;
	position: absolute;
	left: 65px;
	top: 2px
}

.moreTypeSel .dTopArrow1 {
	background-position: -24px -31px
}

.job_listinfo table tr,.job_listinfo table td {
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #edeeef;
	font-size: 12px;
	font-family: SimSun
}

.job_listinfo .ctitle {
	display: none
}

.job_listinfo td a {
	font-size: 14px
}

.job_listinfo td {
	padding-left: 10px
}

.job_listinfo .tdc a {
	display: none
}

.talentNet .moreRect {
	text-align: center;
	padding-top: 20px;
	color: red;
	font-weight: 700
}

.talentNet .moreRect a {
	color: red
}

.talentNet .moreRect a:hover {
	color: #15c
}

#myfeet {
	display: none
}

#ad_d4right {
	width: 350px
}

#ad_d4left {
	width: 640px
}

.adCont,#ad_z4 {
	margin-top: 10px
}

.bottom-bar {
	display: none;
	position: fixed;
	_position: absolute;
	bottom: 0;
	width: 100%;
	height: 64px;
	padding-top: 18px;
	background: #000;
	opacity: .9;
	filter: alpha(opacity=90);
	z-index: 9999
}

.bottom-bar-close {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 32px;
	height: 30px;
	background: url(img/list-bottom-bar.png) no-repeat 0 -46px;
	cursor: pointer;
	opacity: 1;
	filter: alpha(opacity=100)
}

.bottom-bar .content {
	width: 1000px;
	margin: 0 auto;
	font-family: 'Microsoft YaHei'
}

.bottom-bar-txt {
	color: #FFF;
	font-size: 24px
}

.bottom-bar-btn {
	display: inline-block;
	width: 186px;
	height: 46px;
	line-height: 46px;
	padding-left: 16px;
	border: none;
	color: #FFF;
	font-size: 20px;
	background: url(img/list-bottom-bar.png) no-repeat 0 0;
	cursor: pointer;
	outline: 0;
	text-decoration: none
}

.bottom-bar-btn:hover {
	color: #FFF
}

/**********************/

.floor {
width: 976px;
}
.pet-box {
    margin: 10px auto;
border: 1px solid #ddd;
margin-bottom: 10px;
padding: 1px;
overflow: hidden;
}

.pet-box h3.title {
color: #5c9d01;
height: 30px;
line-height: 30px;
font-size: 17px;
font-family: 'Microsoft YaHei','SimSun';
_font-weight: bold;
padding: 0 10px;
}

.title-link {
font-size: 12px;
float: right;
font-family: 'SimSun';
font-weight: normal;
}
.pet-box h3.title .number {
font-size: 19px;
font-family: 'Verdana,Helvetica,sans-serif';
padding-right: 20px;
}

.floor .pet-list {
margin-right: -10px;
}
.pet-list {
padding: 9px 0 9px 8px;
}

.floor .pet-list .pet-list-pic {
margin-right: 18px;
}
.pet-list li.pet-list-pic {
float: left;
display: inline;
margin-right: 4px;
width: 145px;
zoom: 1;
overflow: hidden;
}
.pet-list-name2 {
line-height: 20px;
padding: 3px 0 6px;
}

.title-link a{margin:0 7px;}