@charset "utf-8";
/* CSS Document */
body{}
.xianKuang{width:98%; margin:20px auto; border:1px solid #dfdfdf; border-radius:5px;}
.xianKuang .shang{border-bottom:1px solid #dfdfdf;  padding:20px;}
.xianKuang .xia{padding:5px;}
.xianKuang .shang .shangLt{ float:left;}
.xianKuang .shang .shangRt{ float:right;  font-size:14px; color:#ff963b; padding-top:10px;}

.xianKuang .sign{border-top:1px solid #dfdfdf; padding:10px;}
.xianKuang .sign .shangLt{ float:left;}
.xianKuang .sign .shangRt{ float:right;  font-size:14px; color:#ff963b; padding-top:10px;}
.xianKuang .signNum{padding:10px;}

.sign .shangLt .zuoBian{ float:left;}
.sign .shangLt .youBian{ float:left;}

.zuoBian{ float:left;width: 45px;height: 45px;border: 1px solid #E7E4E4;border-radius: 146px;-moz-border-radius: 146px;-webkit-border-radius: 146px;background-color: #fff;}
.zuoBian img{ border-radius:100%;width: 100%;height: 100%;-moz-border-radius: 100%;-webkit-border-radius: 100%;}
.shang .shangLt .zuoBian{ float:left;}
.shang .shangLt .youBian{ float:left;}
.shangLt .youBian .names{ font-size:12px; color:#222222; padding: 10px 0 10px 9px;}
.shangLt .youBian .nickname{ font-size:12px; color:#222222; padding: 2px 0 10px 9px;}
.shangLt .youBian .qianMi{ font-size:11px; color:#888888; padding-top:5px;}
.youBian .qianMi .ages{ background:url(../images/girl.png) no-repeat 2px center; padding-left:25px; padding-right:5px;}
.youBian .qianMi .students{text-align:center; background:#c6abd6; border-radius:5px; color:#fff; font-size:10px; padding:1px 6px;}
.onesRt{ float:right; font-size:14px; color:#ff963b; padding:10px 5px 0 0;}
.onesRa{ float:right; font-size:14px; color:#32acdd; padding:10px 5px 0 0;}
.onesRn{ float:right; font-size:14px; color:#07f8a4; padding:10px 5px 0 0;}

.xia p{line-height:30px; padding-left:60px;font-size:11px; color:#888888; }
.twoes{ padding-top:6px;}
.twoes .lefts{ float:left;margin-left: -18px;}
.twoes .lefts p{ }
.twoes .rights{ float:right;}

.twoes .lefts .first{  color:#222222; background:url(../images/chifan.png) no-repeat 12px center;margin-left: 12px;}
.twoes .lefts .second{background:url(../images/blue_15.png) no-repeat 29px center;}
.twoes .lefts .third{background:url(../images/blue_15.png) no-repeat 29px center;}

.twoes .lefts .firstNo{  color:#222222; background:url(../images/watch_movie.png) no-repeat 12px center;}
.twoes .lefts .secondNo{background:url(../images/blue_15.png) no-repeat 29px center;}
.twoes .lefts .thirdNo{background:url(../images/blue_15.png) no-repeat 29px center;}

.xia .adrees{ padding-left:35px; background:url(../images/zuobiao.png) no-repeat 9px 1px;}
.xia .activity{ padding-left:35px; background:url(../images/radio.png) no-repeat 9px 1px;}
.xia .nosex{ padding-left:35px; background:url(../images/nosex.png) no-repeat 9px 1px;}
.xia .mygirl{ padding-left:35px; background:url(../images/my_girl.png) no-repeat 9px 1px;}
.xia .myboy{ padding-left:35px; background:url(../images/my_boy.png) no-repeat 9px 1px;}
.xia .peoples{ padding-left:13px; font-size:10px;}
.xia .lookme{ padding-left:13px; font-size:10px;border-top:1px solid #dfdfdf;line-height: 47px;}
.seen{margin:-25px auto; padding:20px 40px;}
.seen .nearly{font-size:11px; color:#888888; padding-bottom:10px;margin-left: -24px;}
.seen .renMen img{ margin:5px 10px 0px 10px; border-radius:50%;}
.lookme img{ margin:5px; border-radius:50%;}

.footer{ width:100%; background:url(../images/2bg_32.png) repeat-x; border-top:2px solid #e8e8e8; height:75px; line-height:75px;}
.footer li{ width:49%; float:left; text-align:center; border-right:1px solid #d5d5d5;}
.footer li a{ font-size:12px; color:#2d9cb7; display:block;}
.footer li img{ padding-top:18px;}