@charset "utf-8";
*{margin:0;padding:0;outline:0}
body{width:100%;font-family:"Microsoft YaHei",Heiti SC,Helvetica,Arial,sans-serif;font-size:16px;color:#7a736c;background-color:#f5f5f5; position:relative;}
a{color:#7a736c;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
a:hover{text-decoration:none}
button,input,select,textarea{font-size:100%;margin:0;padding:0;outline:0}
textarea,input{resize:none;outline:0}
textarea{resize:none;-webkit-appearance:none}ul,ol{list-style:none}
em{font-style:normal}
section{padding:10px;overflow:hidden;zoom:1}
h2{font:bold 14px/25px "Microsoft YaHei",Heiti SC;color:#999693;padding:10px 0}
h5{font-size:14px;color:#323232;margin-bottom:10px;font-weight:normal}


#searchbox{margin: 0 auto;
overflow: hidden;
height: 34px;
display:block;
padding:10px 3%;
background-color:#FF658E;border-bottom: 1px solid #EE3968;} 
#searchbox .placeholder{
	float:left;
	 width: 65%;
height: 34px;
-webkit-box-sizing: border-box;
border: solid 1px #DDD;
border-top-color: #BBB;
padding-left: 9px;
color: #333;
font-size: 14px; font-family:微软雅黑;
-webkit-border-radius: 0;
-webkit-appearance: none;
background: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#fdfdfd));
border-radius:5px;
color:#696969;}

#searchbox #submit{
float:right;
border: 0;
width: 15%;
overflow: hidden;
background: rgba(0,0,0,.15);
border-radius:5px;
margin-left:2%;
height: 34px;
color:#ffffff;
font-family:"微软雅黑";
line-height: 34px;
}
#searchbox #submit i{font-size:30px; color:#FFFFFF;}


#searchbox #btnfj{
float:right;
border: 0;
width: 15%;
overflow: hidden;
background: rgba(0,0,0,.15);
border-radius:5px;
margin-left:2%;
height: 34px;
color:#ffffff;
font-family:"微软雅黑";
}
#searchbox #btnfj i{font-size:30px; color:#FFFFFF;}

.main{ width:100%;}
.hot{ border:1px solid #d9d9d9; padding:2px 10px 7px; background-color:#FFFFFF}
.hot h3{ height:30px; line-height:30px; color:#3286c6; font-size:15px;}
.hot h3 img{margin-right:5px; vertical-align:middle; width:12px; height:auto;}
.hot ul{}
.hot li{ width:50%;float:left; padding-bottom:4px;}
.hot li > div{ height:0px; padding-bottom:45.63%; overflow:hidden;}
.hot li > div img{ width:100%; vertical-align:middle;}
.hot li:nth-child(2n+1) > div{padding-right:2px;}
.hot li:nth-child(2n+2) > div{padding-left:2px;}

.park{ border:1px solid #d9d9d9; padding:5px 15px 3px; margin-top:10px; background-color:#FFFFFF;}
.park h3{ height:35px; line-height:35px; background:url(../images/dgbtbj.jpg) repeat-x left center;}
.park h3 > div{ font-size:15px; float:left; padding-right:15px; background-color:#FFFFFF}
.park h3 > div > div{ float:left;}
.park h3 > div > div:nth-child(1){}
.park h3 > div > div:nth-child(1) > div{height:20px; width:20px;-moz-border-radius: 20px;-webkit-border-radius:20px;border-radius:20px;overflow:hidden; line-height:20px;}
.park h3 > div > div > div img{width:20px;}


.park ul{ margin-top:9px;}
.park li{ width:33.3333333333%; float:left;text-align:center; margin-bottom:12px; font-size:14px;}
.park li:nth-child(3n+1) > div{padding-right:8px}
.park li:nth-child(3n+2) > div{padding:0px 4px;}
.park li:nth-child(3n+3) > div{padding-left:8px}

.park li >div a{ display:block; border-top:1px solid #e4ded9; border-right:1px solid #ddd8d0; border-bottom:1px solid #d8d3d0; border-left:1px solid #ded9d5;padding:8px 0px; background-color:#fafafa;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius:2px;box-shadow:0 1px 3px #dbdbdb;}