    .huodong-padding {
        padding: .06rem;
    }

    .huodong-line {
        text-align: center;
        height: 1.4rem;
    }

    .huodong-line+.huodong-line {
        border-top: 1px solid #ddd8ce;
        height: 1.4rem;
    }

    .huodong-container {
        display: inline-block;
        width: 3rem;
        height: 1.4rem;
        overflow: hidden;
    }

    .huodong-container a {
        display: block;
        height: 1.2rem;
        padding: .1rem;
    }

    .huodong-img-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .huodong-container img {
        width: 100%;
        height: 1.4rem;
        position: relative;
        top: -.1rem;
        border: none;
    }

    .huodong-container + .huodong-container {
        border-left: 1px solid #ddd8ce;
        height: 1.4rem;
    }

    .qianggou .more-weak>small {
        position: absolute;
        right: .4rem;
        color: #999;
        top: .13rem;
    }
    .qianggou a {
        color: inherit;
    }
    .qianggou strong {
        font-weight: normal;
        color: #FF912F;
        vertical-align: middle;
    }
    .qianggou .time-desc {
        vertical-align: middle;
    }
    .qianggou.list .dd-padding{
        padding: .15rem .2rem;
        padding-left: .08rem;
    }
    .span-time {
        display: inline-block;
        width: .5rem;
        height: .5rem;
        line-height: .5rem;
        text-align: center;
        color: #fff;
        background: #333333;
        vertical-align: middle;
        border-radius: .06rem;
        margin: 0 .05rem;
    }
    .qianggoucard {
        height: 2.9rem;
        margin: .2rem 0;
        display: inline-block;
        width: 33.33%;
        border-right: 1px solid #C9C4B8;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        vertical-align: top;
        overflow: hidden;
    }
    .qianggoucard:last-child {
        border-right: none;
    }
    .qianggoucard .img-container {
        height: 1.4rem;
        width: 100%;
        display: block;
        margin-bottom: .2rem;
        position: relative;
    }
    .qianggoucard img {
        max-width: 90%;
        max-height: 1.6rem;
        left: 50%;
        top: 50%;
        position: absolute;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
    .qianggoucard .brand {
        height: .56rem;
        margin-bottom: .03rem;
    }
    .qianggoucard .campaign-price {
        font-size: .3rem;
        color: #FF912F;
        margin-bottom: .15rem;
    }
    .qianggoucard .discount-price {
        color: #FF658E;
        font-size: .24rem;
    }
    .qianggoucard .origin-price {
        color: #666;
        font-size: .24rem;
        margin-top: .1rem;
    }
    .qianggou .soldout {
        position: absolute;
        left: 50%;
        bottom: 10%;
        width: 1.4rem;
        height: .45rem;
        line-height: .45rem;
        font-size: .4rem;
        border: .06rem solid #D9000E;
        border-radius: .04rem;
        color: #D9000E;
        text-align: center;
        -webkit-transform: translate(-50%,-50%) rotateZ(-20deg);
        -ms-transform: translate(-50%,-50%) rotateZ(-20deg);
    }
    [countdown-status='hidden'] .time-desc,[countdown-status='hidden'] .time-panel {
        visibility: hidden;
    }
.icon-list .icon {
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  text-align: center; }
.icon-list .icon > a {
  padding: .25rem 0; }
.icon-list .icon-circle {
  display: block;
  margin: auto;
  margin-bottom: .1rem;
  width: .9rem;
  height: .9rem;
  border-radius: 10rem;
  text-align: center;
  color: white; }
.icon-list .icon-circle img{width:100%;height:100%;}
.icon-list .icon-desc {text-align: center;color: #666666; }

.classifyDom a.add{
display:inline-block;
text-align:right;
float:right;
padding-left:20px;
font-size:13px;
color:#606060;
padding-right:8px;
position:relative;
height:18px;
line-height:18px;
}
.classifyDom .ico_write{
background: url(img/classify.png) no-repeat;
display: inline-block;
width: 18px;
height: 18px;
background-size: 26px;
position: absolute;
top: 0px;
left: 1px;
background-position: -5px -68px;
}
.classifyDom .classify_f_div{
border-bottom: 1px solid #E2E2E3;
padding: 16px 10px 14px;
position: relative;
}
.classifyDom .classify_f_div:after{
content: '';
background: url(img/m_pub_bg.png);
background-position: -95px -32px;
background-size: 195px auto;
height: 32px;
right: 10px;
position: absolute;
top: 7px;
width: 32px;
}
.classifyDom .classify_f_div.on:after{
background-position: -127px -32px;
}
.classifyDom ul{
overflow: hidden;
border-bottom: 1px solid #E2E2E3;
}
.classifyDom ul li{
background: #FFF;
border: 1px dashed #e0e0e0;
border-right: none;
float: left;
height: 42px;
margin: -1px 0 -1px -1px;
width: 33%;
vertical-align: top;
}
.classifyDom ul li a {
color: #323d55;
display: block;
font-size: 14px;
line-height: 42px;
text-align: center;
width: 100%;
}