@charset "utf-8";
/* CSS Document */
.taBle{ width:100%; border-bottom:2px solid #d8d8d8;}
.taBle li{ width:50%; float:left; text-align:center; height:50px; line-height:50px; font-size:14px;}
.my li{ width:50%; float:left; text-align:center; height:50px; line-height:50px; font-size:14px;}
.taBle li a{ color:#888888; display:block;}
.taBle .specia a{ color:#32acdd; border-bottom:2px solid #32acdd;}
.taBle li img{ padding-top:18px;}
/*.content .listPart{ border:1px solid #e5e5e5; border-radius:5px;margin-top:20px; margin-left:3px; margin-right:3px;}*/
.content .listPart{ border:1px solid #e5e5e5; border-radius:5px; margin:20px 3px 20px 3px;}
.content .listPart .ones{border-bottom: 1px solid #e5e5e5;}
.listPart .ones .onesLt{ float:left;margin: 10px 0 7px 10px;}
.ones .onesLt .zuoBian{ float:left;width: 45px;height: 45px;border: 1px solid #E7E4E4;border-radius: 146px;-moz-border-radius: 146px;-webkit-border-radius: 146px;background-color: #fff;}
.onesLt .zuoBian img{ border-radius:100%;width: 100%;height: 100%;-moz-border-radius: 100%;-webkit-border-radius: 100%;}
.ones .onesLt .youBian{ float:right; padding-left:10px;}
.onesLt .youBian .names{ font-size:12px; color:#222222; padding-top:10px; padding-bottom:10px;}
.onesLt .youBian .qianMi{ font-size:10px; color:#888888; padding-top:1px;}
.youBian .girl span{ background:url(../images/girl.png) no-repeat 2px center; padding-left:15px; padding-right:5px;}
.youBian .man span{ background:url(../images/man.png) no-repeat 1px center; padding-left:15px; padding-right:5px;}
.listPart .ones .onesRt{ float:right; font-size:14px; color:#ff963b; padding:10px 20px 0 0;}
.listPart .ones .onesRa{ float:right; font-size:14px; color:#32acdd; padding:10px 20px 0 0;}
.listPart .ones .onesRn{ float:right; font-size:14px; color:#07f8a4; padding:10px 20px 0 0;}

.twoes{ padding-top:18px;}
.twoes .lefts{ float:left;margin-left: -10px;margin-top: -10px;}
.twoes .lefts p{ line-height:23px; padding-left:45px;}
.twoes .lefts .first{ font-size:12px; color:#222222; background:url(../images/chifan.png) no-repeat 20px center;margin-left: 4px;}
.twoes .lefts .second{ font-size:10px; color:#888888; background:url(../images/yellow_15.png) no-repeat 29px center;margin-top: 4px;}
.twoes .lefts .third{width:110px;font-size:10px; color:#888888;  background:url(../images/yellow_15.png) no-repeat 29px center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.twoes .rights{ float:right;margin-right:20px}

.twoes .lefts .firstNo{ font-size:10px; color:#222222; background:url(../images/watch_movie.png) no-repeat 12px center;margin-left: 11px;}
.twoes .lefts .secondNo{ font-size:10px; color:#888888; background:url(../images/blue_15.png) no-repeat 29px center;}
.twoes .lefts .thirdNo{ font-size:10px; color:#888888;  background:url(../images/blue_15.png) no-repeat 29px center;}

.threes{ padding:6px 0 10px 20px; font-size:10px; color:#888888;}
.xuanfu{ position:fixed; bottom:50px; right:0px;}