@charset "utf-8";
/* CSS Document */
.touXiang{ margin:10px auto; margin-left:30px;}
.touXiang .touxZuo{ float:left;}
.touXiang .touxYou{ float:right; margin-right:15px; display:inline; background-color:#b1b1b1; width:70px; height:40px; line-height:40px; text-align:center; border-radius:35px; margin-top:60px;font-weight:bold; font-size:11px;}
.touXiang .touxYou a{ color:#fff; }
.touXiang .touxYou img{ padding-top:9px;}
.content{ width:100%; margin:0 auto; margin-top:10px; margin-bottom:20px;}
.content .onePart{ border-bottom:1px solid #f2f2f2; border-top:1px solid #f2f2f2; padding-top:8px;}
.content .onePart .partLt{ width:27%; float:left;color:#939393; font-size:14px;}
.content .onePart .partRt{ float:left; font-size:12px; width:71%;}
.onePart .diYi{ margin-left:30px; border-bottom:1px solid #f2f2f2; }
.onePart .partRt p{ line-height:25px;}
.onePart .partRt .dianYing{ color:#222; background:url(../images/watch_movie.png) no-repeat 2px center; padding-left:25px;}
.onePart .partRt .chifan{ color:#222; background:url(../images/chifan.png) no-repeat 2px center; padding-left:25px;}
.onePart .partRt .zhongWu{ color:#888;}
.onePart .partRt .dianYing{}
.onePart .diEr{ margin-left:30px; border-bottom:1px solid #f2f2f2; height:55px; line-height:55px;}
.diEr .partRt .girl{background:#e1b9d3; text-align:center; border-radius:5px; width:70px; height:30px; line-height:30px; color:#fff; margin-top:15px; font-size:10px; }
.diEr .partRt .boy{background:#376BDD; text-align:center; border-radius:5px; width:70px; height:30px; line-height:30px; color:#fff; margin-top:15px; font-size:10px; }

.partRt .girl img{ padding-top:7px; padding-right:3px;}
.partRt .boy img{ padding-top:7px; padding-right:3px;}
.onePart .diSan{ height:55px; line-height:55px; margin-left:30px;}
.onePart .diSan .partRt{ padding-top:5px;}
.diSan .partRt p{ color:#222;}

.twoPart{border-bottom:1px solid #f2f2f2;}
.twoPart .diYi{ margin-left:30px;/*border-bottom:1px solid #f2f2f2;*/height:50px; line-height:50px; }
.twoPart .diYi .partLt{ width:27%; float:left;color:#939393; font-size:14px;}
.twoPart .diYi .partRt{ float:left; font-size:12px; width:71%;}
.diYi .partRt .students{ display:inline-block; font-size:10px;color:#fff;text-align:center; border-radius:5px; width:70px; height:30px; line-height:30px; margin-right:5px;}

.twoPart .diEr{ margin-left:30px; height:70px; line-height:70px; }
.twoPart .diEr .partLt{ width:27%; float:left;color:#939393; font-size:14px;}
.twoPart .diEr .partRt{ float:left; font-size:12px; width:71%;}

.threePart{ margin-top:40px; border-bottom:1px solid #f2f2f2; border-top:1px solid #f2f2f2;}
.threePart .diYi{ margin-left:30px; border-bottom:1px solid #f2f2f2; padding-top:30px; }
.threePart .diYi .partLt{ width:27%; float:left;color:#939393; font-size:14px;}
.threePart .diYi .partRt{ float:left; font-size:12px; width:71%; height:90px; line-height:40px;}
.diYi .partRt a{ background:url(../images/tubiao2_11.png) no-repeat right center; font-size:12px; color:#222; display:block;}

.threePart .diEr{ margin-left:30px; height:110px; line-height:110px;}
.threePart .diEr .partLt{ width:27%; float:left;color:#939393; font-size:14px;}
.threePart .diEr .partRt{ float:left; font-size:12px; width:71%; padding-top:20px; background:url(../images/tubiao2_11.png) no-repeat right center;}

.footer{ background:url(../images/2bg_32.png) repeat-x; border-top:2px solid #e8e8e8; height:75px; line-height:75px;}
.footer li{ width:50%; float:left; text-align:center;}
.footer li a{ font-size:12px; color:#2d9cb7; display:block;}
.footer li img{ padding-top:18px;}





















