.list .item.uploadNum {
	text-align: center;
	line-height: 30px;
	color: #737373;
}

#upload_list .upload_action, #upload_list .upload_item {
	width: 25%;
	float: left;
	position: relative;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	border: solid 5px #fff;
	-webkit-box-sizing: border-box;
	overflow: hidden;
}

#upload_list .upload_action img {
	display: block;
	width: 100%;
	border: 0;
}

.upload_box .upload_action #fileImage {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.clearfix:after {
	content: '.';
	font-size: 0;
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}

.upload_box .upload_list .upload_item .upload_delete {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: url(../classify/img/upimg_x.png) no-repeat;
	background-size: cover;
}

.upload_box .upload_item img {
	max-width: 100%;
	max-height: 100%;
	display: none;
}