/* CSS Document */
body{ background:#f2f2f2;  color:#7b7b7b;}
a{ color:#5d5d5d;}
.search{ background-image:url(../image/search.png);background-repeat: no-repeat;background-size: 13px auto;background-position: 5px center;}
/*button*/
.btn{ color:#fff;}
.btn.gray{ background-color:#b6b6b6}
.btn.green{ background-color:#5fb038;}
.btn.orange{ background-color:#fe7143;}
.btn.gray1{background-color:#878787;}
.btn.whrite{ background:#fff; border:1px solid #bfc2c3;color:#a2a2a2;}
.btn.plus{ background:url(../image/addx.png) no-repeat; background-size:auto 24px; background-position:-48px 0;}
.btn.minus{ background:url(../image/addx.png)no-repeat; background-size:auto 24px;}
.g_nav div .cart{ background:url(../image/gwc.png) no-repeat center center; background-size:29px 29px;}
.g_nav div .slh{ background:url(../image/m_b_m.png) no-repeat center center; background-size:29px 29px;}
.g_nav div .btn.gray{ background-color:#999999}
.p_ts{ background:#ff7444;color: #fff;}
.sad{ background:url(../image/sad.png) no-repeat center center; background-size:100%;}
.sad.checked{ background:url(../image/checked.png) no-repeat center center; background-size:100%;}
/*icon*/
ul.list li > a table .info .address .icon{ background-size:auto 26px;background-position: -2px -1px; }
.icon{background:url(../image/icon.png); background-size:auto 35px;}
.icon.addr{background-position: -1px -6px;  }
.icon.addr.small{background-position: -1px -2px; background-size:auto 28px;}
.icon.time{background-position: -25px -6px;}
.icon.mark{background-position: -53px -6px;}
.icon.hart{background-position: -62px -1px; background-size:auto 28px;}
.icon.hartblckgray.on{background-position: -84px -4px; background-size:auto 28px; }
.icon.hartblckgray{background-position: -122px -7px;  background-size:auto 32px; }
.icon.mg{background-position: -136px -7px;  background-size:auto 30px;}
.icon.tel{background-position: -186px -7px;}
.icon.cart{background-position: -212px -7px;}
.icon.up{background-position: -237px -7px;}
.icon.down{background-position: -261px -7px;}
.icon.up.disabled{background:url(../image/disabled.png);background-position: 0px 6px; background-size:auto 10px;background-repeat:no-repeat;}
.icon.down.disabled{background:url(../image/disabled.png);background-position:-24px 6px;background-size:auto 10px; background-repeat:no-repeat;}
.icon_right{ color:#848484;}
/*锟斤拷锟捷的凤拷锟津背撅拷*/
.sawtooth{  background:url(../image/bg.png) no-repeat;background-size: 70px 55px;color:#fff; }
.sawtooth.faild{ background-color:#b4b4b4;}
.sawtooth.processing{ background-color:#23ad65;}
.sawtooth.success{ background-color:#ef7f2c;}
.sawtooth.nobg{  background:url(../image/queuebg.png);background-size: 55px 55px;color:#fff;}
.sawtooth.hasicon>label{ background:url(../image/status.png) no-repeat; background-size:16px auto;}
.sawtooth.hasicon>label.cancel{ background-position:0 -27px}
/*锟脚碉拷锟叫憋拷*/
ul.list li{background-color:#fff;border-color:rgba(200,199,204,0.6);}
ul.list li > a  table .opt >div{ color:#999;}
list li > a  table .info .name{ color:#5d5d5d; }
ul.list li > a  table .info .address{color:#8f8f91;}
.list .tips{color: #999;}
/*支锟斤拷锟叫憋拷*/
ul.pay{ background:#fff; border-color:#e6e6e6;}
ul.pay li{ float:left;border-bottom-color:#e6e6e6; color:#5d5d5d  }
/*锟阶诧拷锟斤拷锟斤车*/
.g_nav div{background: #fff; color:#000; border-top-color:#e6e6e6;}
.g_nav div span .money{ color:#ef7f2c;}
.g_nav .count{ ;border-color:#2e2e2e;}
/*store list*/
.container.list{ background:#eeedf3;}
.container.list header{ background:#dbdbdb;}
.container.list header input{ border-color:#d5d5d5;}
/*锟斤拷锟斤拷锟斤拷*/
.layer.transparent{  background:#333;  }
.layer.popup > div{ background:#fff;}
.layer.popup > div >span{ border-bottom-color:#c6cdd2; color:#252525;}
.layer.popup > div >ul li{ border-bottom-color: #c6cdd2; }
.layer.popup > div >ul li.checked{ color:#ef7f2c;}
.layer.popup > div.dialogX .content{border-bottom-color:#c6cdd2;}
.layer.popup > div.dialogX .content .title{ border-bottom-color:#c6cdd2; color:#252525 }
.layer.popup > div.dialogX .content .message{ color:#8f8e94}
.layer.popup > div.dialogX  .button a{  color:#ef7f2c; }
.layer.popup > div.dialogX  .button .cancel{ border-right-color:#c6cdd2;}
/*锟斤拷锟斤拷小票锟剿碉拷*/
.menulist{ background:#fff; }
.menulist .title{ border-color:#e6e6e6;}
.menulist>span>.list .col1{color:#8e8e93}
.menulist>div{ color:#5a5a5a;}
.menulist>label{background-color:#686868; }
.menulist>span>span{ border-top: #343434; box-shadow: 0px 4px 6px #333;}
.menulist>span>.list{background:#fff;  }
.menulist>span>.list ul{  border-bottom-color: #cccbcf;  }
.menulist>span>.list ul li{border-bottom-color:#bdbdbd;}
.layer.popup > div.dialogX .timestr{border-bottom-color:#bdbdbd;}
.menulist>span>.list .col3{color:#2e2e2e;}
.menulist>span>.list .no_fontcolor{ color:#2e2e2e}
.menulist>span>.tips{background: url(../image/bell.png) center 42px no-repeat;
-webkit-background-size: 33px 20px; color:#8e8e93;}
.menulist>span >.line{  background:url( ../image/border.png) repeat-x;background-size: auto 3px;}
/*introduction.html*/
.intro header{ border-bottom-color: #a5a5aa; color:#5d5d5d; }
.intro  section > article{  background:#fff;}
/*storeDetails.html*/
.storeDetails header span{ color:#fff; }
.storeDetails  ul.linklist{ border-top-color: #e6e6e6; border-bottom-color: #e6e6e6; background:#fff;}
.storeDetails  ul.linklist li{ border-bottom-color: #e6e6e6; }
.storeDetails  ul.linklist li span.textIcon{ background:#2e8ec8;color:#fff;}
.storeDetails  ul.linklist li span.textIcon.orange{background:#ed8247;}

.storeDetails .imglist ul li{ background:rgba(255,255,255,0.5); }
.storeDetails .imglist ul li.on{background:rgba(255,255,255,1);}
.storeDetails  .right_adron{ border-color:#848484;}
.result { background:#fff;}
.result section .message{ color:#2e2e2e}
.result section .message span{ color:#fc7944}

/*menu.html*/
.menu .left{background:#f2f2f2; }
.menu .left .top >.on{ background:#fff; }
.menu .left .content ul li{ color:#5d5d5d;}
.menu .left .top >div .icon{ background:url(../image/menu.png) no-repeat; background-size: 16px auto;}
.menu .left .top >div .icon.hartblckgray{ background-position:0 -40px;}
.menu .left .top >div a { color:#2e2e2e;}
.menu .left .content ul li.on{ background:#fff;}
.menu .right{ background:#fff;}
.menu .right ul li { border-bottom-color: #e6e6e6;}
.menu .right ul li >span{ border-color:#f5f2ec;}
.menu .right ul{ border-top-color: #d0cfd4;}
.menu .right ul li >label>label span.price{ color:#2e2e2e;}
.menu .right ul li >label>label span.num input{}
.menu .right ul li.like .icon.hart{background-position: -85px -1px; background-size:auto 28px; }
.menu .right ul li >label>span>label{ color:#FF0000}
.menu .details{background-color: rgba(0,0,0,.5); }
.menu .details .content h2 {background-color: #fff;color: #2e2e2e;}
.menu .details .content h2 i {color: #f00;}
.menu .details .content p {background: #fff; color: #b8b8b8;}
.menu .details .content>label{background: #fff; color: #2e2e2e}
.menu .details .content .name label{color:#FF0000}
.menu .details a.x {background: url(../image/mdlg_btn_x.png) no-repeat center center;-webkit-background-size: 10px 10px; }
/*myMenu*/
.myMenu .main{ border-color: #d0cfd4;  background:#fff}
.myMenu .btn.plus{ background:url(../image/add1.png) no-repeat; background-size:auto 24px; background-position:-48px 0;}
.myMenu .btn.minus{ background:url(../image/add1.png) no-repeat; background-size:auto 24px;}
.myMenu .main .top{ }
.myMenu .main .top >span{border-bottom-color:#e6e6e6;}
.myMenu .main .top >span>div{  color:#5d5d5e;}
.myMenu .main .top >span >a.clear{ background:url(../image/delicon.png) no-repeat left center; background-size:16px 16px;color:#000000;}
.myMenu .main .top >span >a.add{ background:url(../image/add2.png)  no-repeat left center;background-size:16px 16px; color:#ff7748;}
.myMenu .main ul li { border-bottom-color: #e6e6e6; color:#2e2e2e}
.myMenu .main ul li >span{ border-color:#f5f2ec}
.myMenu .main ul li >label>label span.collect{ background:url(../image/icon.png); background-size:auto 32px;  background-position:-71px -3px;}
.myMenu .main ul li >label>label span.price{ color:#2e2e2e; }
.myMenu .main ul li >label>label span.addmark{ background:#9e9e9e; color:#fff;}
.myMenu .main ul li >label>label span.gray{ background:#b6b6b6;}
.myMenu .main .mark { border-color: #e6e6e6; }
.myMenu .main .mark textarea{ background-color:#f0f0f2; }
.myMenu .main ul li >label>label span.num input{ border-color: #7d7d7d; color:#5d5d5d}
.myMenu .main ul li >label>span >label{ color:#FF0000}
/*queueInfo.html*/
.queueInfo{ background:#fff; }
.queueInfo .list { background: -webkit-gradient(linear, 0 0, 0 100%, from(#fe754b),to(#ff5e4d));}
.queueInfo .list .title{color:#fff;}
.queueInfo .list>ul{  border-color: #f2f2f2; color:#fff;}
.queueInfo .list>ul li:nth-child(even){}
.queueInfo .col2.font{}
.queueInfo section>.info>form>div{  }
.queueInfo section>.info>form>div> span .content input[type='text']{ border-bottom-color: #b2b2b2;}
.queueInfo section>.info>form>div> span .content input[type='tel']{ border-bottom-color: #b2b2b2;}
.queueInfo section>.info>form>div> span .content input[type='number']{ border-bottom-color: #b2b2b2;}
/*pay.html*/
.pay header{color:#252525; }
/*orderList.html*/
.orderList{ background:#f2f2f2;}
.orderList section .mode{ background:#fff;}
.orderList .nolist_tips{ background: #fff;border-color:  #e6e6e6}
.orderList section .title{ color:#252525}
.orderList .nolist_tips.old{ color:#999;}
.orderList .nolist_tips a{ color:#fff;}
ul.orderlist{ background:#fff; border-top-color: #c8c7cc; border-bottom-color: #c8c7cc;}
ul.orderlist li{  border-color: #e6e6e6;}
ul.orderlist li .info > label{color:#8e8e93;} 
ul.orderlist li .info > label .name{ color:#3c3c3c}
ul.orderlist li .btn{  background:#fe7143;  color:#FFFFFF;} 
ul.orderlist li .btn.green{ background:#5fb038}
 /*orderSuccessDetails*/
.orderDetails header{ background:#fff; }
.editbtndiv .edit{ color:#fe7143; background:url(../image/edit.png) no-repeat left center; background-size:15px 15px;}
.editbtndiv .cancel{background:url(../image/cancel.png) no-repeat left center; background-size:15px 15px;}
.editbtndiv .pay_over{color:#fe7143;}
.orderDetails ul.pay{ border-top-color: #e6e6e6;}
.orderDetails ul.pay li{ color:#8e8e93;}
.orderDetails ul.pay li label{ color:#2e2e2e;}
.orderDetails .share{ background:#fff;  border-bottom-color: #c8c7cc;color:#ef7f2c;}
.orderDetails .paybtn{  background:#fff; color:#8e8e93;  border-bottom-color: #c8c7cc; }
.orderDetails  .right_adron{ border-color:#848484;}
/*myqueue*/
.myqueue .other{ background:#fff; }
.myqueue .other > span{ color:#5d5d5d;}
.myqueue .other >span> span.num{ color:#ef7f2c;}
.myqueue .other >label{ color:#b7b7b8;}
.myqueue.nomenu { background:#fff;}
.myqueue .nolist_tips{ background:url(../image/getnum.png) no-repeat center center; background-size:75px 75px; color:#2e2e2e;}
.myqueue.nomenu a.orange{ background-color:#ef7f2d;}


input[type="radio"]{ background:url(../image/r_bg.png) no-repeat center center; background-size:22px auto;}
input[type="radio"]:checked{ background:url(../image/r_bg1.png) no-repeat center center; background-size:22px auto;}

.heart{ background:url(../image/heart.png) no-repeat; background-size:auto 17px;}
.heart.red{ background-position:-35px 0;}

