/* CSS Document */
body{ /*background:#e6e8e7;*/  color:#5d5d5d;}
a{ color:#5d5d5d;}
.search{ background-image:url(../image/search.png);background-repeat: no-repeat;background-size: 13px auto;background-position: 5px center;}
/*button*/
.btn{ color:#fff;}
.btn.gray{ background-color:#b6b6b6}
.btn.green{ background-color:#24ad65;}
.btn.orange{ background-color:#ef7f2d;}
.btn.gray1{background-color:#878787;}
.btn.whrite{ background:#fff; border:1px solid #c8c7cc;color:#ef7f2d;}
.btn.plus{ background:url(../image/add.png) no-repeat; background-size:auto 24px; background-position:-29px 0;}
.btn.minus{ background:url(../image/add.png) no-repeat; background-size:auto 24px;}
.g_nav div .cart{ background:url(../image/icon.png) ; background-size:auto 40px;  background-position: -238px -6px;}
.p_ts{background: url(../image/popular.png) no-repeat center center;
-webkit-background-size: 100% auto;background-size: 100% auto;color: #fff;
}

/*icon*/
ul.list li > a table .info .address .icon{ background-size:auto 26px;background-position: -1px -1px; }
.icon{background:url(../image/icon.png); background-size:auto 35px;}
.icon.addr{background-position: -1px -6px;  }
.icon.addr.small{background-position: -1px -2px; background-size:auto 28px;}
.icon.time{background-position: -25px -6px;}
.icon.mark{background-position: -53px -6px;}
.icon.hart{background-position: -62px -1px; background-size:auto 28px;}
.icon.hartblckgray.on{background-position: -84px -4px; background-size:auto 28px; }
.icon.hartblckgray{background-position: -122px -7px;  background-size:auto 32px; }
.icon.mg{background-position: -136px -7px;  background-size:auto 30px;}
.icon.tel{background-position: -186px -7px;}
.icon.cart{background-position: -212px -7px;}
.icon.up{background-position: -237px -7px;}
.icon.down{background-position: -261px -7px;}
.icon.up.disabled{background:url(../image/disabled.png);background-position: 0px 6px; background-size:auto 10px;background-repeat:no-repeat;}
.icon.down.disabled{background:url(../image/disabled.png);background-position:-24px 6px;background-size:auto 10px; background-repeat:no-repeat;}
.icon_right{ color:#848484;}
/*���ݵķ��򱳾�*/
.sawtooth{  background:url(../image/bg.png) no-repeat;background-size: 70px 55px;color:#fff; }
.sawtooth.faild{ background-color:#b4b4b4;}
.sawtooth.processing{ background-color:#23ad65;}
.sawtooth.success{ background-color:#ef7f2c;}
.sawtooth.nobg{  background:url(../image/queuebg.png);background-size: 55px 55px;color:#fff;}
.sawtooth.hasicon>label{ border-color: #fff;}
/*�ŵ��б�*/
ul.list li{background-color:#fff;border-color:rgba(200,199,204,0.6);}
list li > a  table .info .name{ color:#5d5d5d; }
ul.list li > a  table .info .address{color:#8f8f91;}
.list .tips{color: #999;}
/*֧���б�*/
ul.pay{ background:#fff; border-bottom-color:#c8c7cc;}
ul.pay li{ float:left;border-bottom-color:#c8c7cc;  }
/*�ײ����ﳵ*/
.g_nav div{background: #d5d5d5;}
.g_nav div span .money{ color:#ef7f2c;}
.g_nav div .cart{ background:url(../image/icon.png) ; background-size:auto 40px;  background-position: -238px -6px;}
/*store list*/
.container.list{ background:#eeedf3;}
.container.list header{ background:#d5d5d5;}
.container.list header input{ border-color:#d5d5d5;}
/*������*/
.layer.transparent{  background:#333;  }
.layer.popup > div{ background:#fff;}
.layer.popup > div >span{ border-bottom-color:#c6cdd2; color:#252525;}
.layer.popup > div >ul li{ border-bottom-color: #c6cdd2; }
.layer.popup > div >ul li.checked{ color:#ef7f2c;}
.layer.popup > div.dialogX .content{border-bottom-color:#c6cdd2;}
.layer.popup > div.dialogX .content .title{ border-bottom-color:#c6cdd2; color:#252525 }
.layer.popup > div.dialogX .content .message{ color:#8f8e94}
.layer.popup > div.dialogX  .button a{  color:#ef7f2c; }
.layer.popup > div.dialogX  .button .cancel{ border-right-color:#c6cdd2;}
/*����СƱ�˵�*/
.menulist>div{ color:#5a5a5a;}
.menulist>label{background-color:#686868; }
.menulist>span>span{ border-top: #343434; box-shadow: 0px 4px 6px #333;}
.menulist>span>.list{background:#fff;  }
.menulist>span>.list ul{  border-bottom-color: #cccbcf;  }
.menulist>span>.list ul li{border-bottom-color:#bdbdbd;}
.layer.popup > div.dialogX .timestr{border-bottom-color:#bdbdbd;}
.menulist>span>.list .col3{color:#ef7f2c;}
.menulist>span>.list .col3.no_fontcolor{ color:#5d5d5d}
.menulist>span>.tips{background:#fff; color:#8e8e93;}
.menulist>span >.line{  background:url(../image/border.png) repeat-x;background-size: auto 3px;}
/*introduction.html*/
.intro header{ border-bottom-color: #a5a5aa; color:#6f706f; }
.intro  section > article{  background:#f7f7f7;}
/*storeDetails.html*/
.storeDetails header span{ color:#fff; }
.storeDetails  ul.linklist{ border-top-color: #c8c7cc; border-bottom-color: #c8c7cc; background:#fff;}
.storeDetails  ul.linklist li{ border-bottom-color: #c8c7cc; }
.storeDetails  ul.linklist li span.textIcon{ background:#2e8ec8;color:#fff;}
.storeDetails  ul.linklist li span.textIcon.orange{background:#ed8247;}

.storeDetails .imglist ul li{ background:rgba(255,255,255,0.5); }
.storeDetails .imglist ul li.on{background:rgba(255,255,255,1);}
.storeDetails  .right_adron{ border-color:#848484;}
/*bookInfo.html*/
.bookInfo .info .tips{  color:#8e8e93;}
.bookInfo .info> div{color:#252525;}
.bookInfo .info ul{ border-top: #c8c7cc; border-bottom-color: #c8c7cc; background-color:#fff; }
.bookInfo .info ul li input[type="text"]{ border-left-color: #23ad65; background-color:#ebebeb;}
.bookInfo .info ul li input[type="tel"]{ border-left-color: #23ad65; background-color:#ebebeb;}
.bookInfo .info ul li input[type="number"]{ border-left-color: #23ad65; background-color:#ebebeb;}
.bookInfo .info ul li.textarea textarea{border-left-color:#23ad65; width:100%; background-color:#ebebeb; }
.bookInfo .layer.popup > div .line { border-bottom-color: #dddddd;}
.bookInfo .layer.popup > div .btn{ border-top-color: #dddddd;}
.bookInfo .layer.popup > div .btn a{ color:#ef7f2c;} 
.bookInfo .layer.popup > div .btn a.cancel{ border-right-color: #dddddd;} 
/*menu.html*/
.menu .left{background:#e6e8e7; }
.menu .left .top >div{ background:#fff;  border-color: #b2b1b1;}
.menu .left .content ul li.on{ background:#fff;}
.menu .right{ background:#fff;}
.menu .right ul li { border-bottom-color: #d0cfd4;}
.menu .right ul{ border-top-color: #d0cfd4;}
.menu .right ul li >label>label span.price{ color:#ef7f2c;}
.menu .right ul li >label>label span.num input{border-color: #7d7d7d;color: #5d5d5d;}
.menu .right ul li.like .icon.hart{background-position: -85px -1px; background-size:auto 28px; }
.menu .right ul li >label>span>label{ color:#FF0000}
.menu .details{background-color: rgba(0,0,0,.5); }
.menu .details .content h2 {background-color: #f6f6f6;color: #5e6060;}
.menu .details .content h2 i {color: #f00;}
.menu .details .content p {background: #fff; color: #b8b8b8;}
.menu .details .content .name label{color:#FF0000}
.menu .details a.x {background: url(../image/mdlg_btn_x.png) no-repeat 0 0;-webkit-background-size: 27px 27px;background-size: 27px 27px;}
/*myMenu*/
.myMenu .main{ border-color: #d0cfd4;  background:#fff}
.myMenu .main .top{ background:#cecece;}
.myMenu .main .top >span{border-bottom-color:#fff;}
.myMenu .main .top >span>div{  color:#5d5d5e;}
.myMenu .main .top >span >a.clear{ background:#ececec;color:#ef7f2c;}
.myMenu .main .top >span >a.add{ background:#ef7f2c; color:#fff;}
.myMenu .main ul li { border-bottom-color: #d0cfd4;}
.myMenu .main ul li >label>label span.collect{ background:url(../image/icon.png); background-size:auto 32px;  background-position:-71px -3px;}
.myMenu .main ul li >label>label span.price{ color:#ef7f2c; }
.myMenu .main ul li >label>label span.addmark{ background:#ef7f2c; color:#fff;}
.myMenu .main ul li >label>label span.gray{ background:#b6b6b6;}
.myMenu .main .mark { border-color: #d0cfd4; }
.myMenu .main .mark textarea{ border-left:2px solid #23ad65;background-color:#e2e2e6; }
.myMenu .main ul li >label>label span.num input{ border-color: #7d7d7d; color:#5d5d5d}
.myMenu .main ul li >label>span >label{ color:#FF0000}
/*queueInfo.html*/
.queueInfo{ background:#ebebeb;}
.queueInfo header{color:#575757;}
.queueInfo section>ul{  border-color: #b2b2b2;box-shadow: 1px 1px 1px #bebebe;}
.queueInfo section>ul li:nth-child(even){ background:#d9d9d9;}
.queueInfo .col2.font{ color:#ef7f2c;}
.queueInfo section>.info>form>div{ border-color:  #b2b2b2; box-shadow: 1px 1px 1px #bebebe;  background:#fff; }
.queueInfo section>.info>form>div> span .content input[type='text']{ border-bottom-color: #b2b2b2;}
.queueInfo section>.info>form>div> span .content input[type='tel']{ border-bottom-color: #b2b2b2;}
.queueInfo section>.info>form>div> span .content input[type='number']{ border-bottom-color: #b2b2b2;}
/*pay.html*/
.pay header{color:#252525; }
/*orderList.html*/
.orderList{ background:#e5e5e5;}
.orderList .nolist_tips{ background: #fff;border-color:  #c8c7cc;}
.orderList .nolist_tips.old{ color:#999;}
.orderList .nolist_tips a{ color:#ef7f2c;}
ul.orderlist{ background:#fff; border-top-color: #c8c7cc; border-bottom-color: #c8c7cc;}
ul.orderlist li{  border-bottom-color: #c8c7cc;}
ul.orderlist li .info > label{color:#5d5d5d;} 
ul.orderlist li .btn{  background:#ef7f2d;  color:#FFFFFF;} 
 /*orderSuccessDetails*/
.orderDetails .share{ background:#fff;  border-bottom-color: #c8c7cc;color:#ef7f2c;}
.orderDetails .paybtn{  background:#fff; color:#8e8e93;  border-bottom-color: #c8c7cc; }
.orderDetails  .right_adron{ border-color:#848484;}
/*myqueue*/
.myqueue .other{ background:#fff; }
.myqueue .other > span{ color:#5d5d5d;}
.myqueue .other >span> span.num{ color:#ef7f2c;}
.myqueue .other >label{ color:#8e8e93;}
.myqueue .nolist_tips a{ color:#ef7f2c;}

.dish .listdiv .title .select{ background-image: -webkit-linear-gradient(top,#ffffff,#f6f6f6); border-color: #dedede; }
.dish .listdiv .title >div.count span{ color:#ef7f2c;}
.dish .listdiv ul{ background:#fff; border-color: #dedede; }
.dish .listdiv ul li{ border-bottom-color:#dedede;}
.dish .listdiv ul li .info .name{  color:#5d5d5d;}
.dish .listdiv ul li .info .name label{color:#FF0000}
.dish .listdiv ul li .info .price{  color:#ef7f2c;}
.orderDetails header{ background:#fff; }
.editbtndiv .edit{ color:#fe7143; background:url(../image/edit.png) no-repeat left center; background-size:15px 15px;}
.editbtndiv .cancel{background:url(../image/cancel.png) no-repeat left center; background-size:15px 15px;}
.editbtndiv .pay_over{color:#fe7143;}
.orderDetails ul.pay{ border-top-color: #e6e6e6;}
.orderDetails ul.pay li{ color:#8e8e93;}
.orderDetails ul.pay li label{ color:#2e2e2e;}
.orderDetails .share{ background:#fff;  border-bottom-color: #c8c7cc;color:#ef7f2c;}
.orderDetails .paybtn{  background:#fff; color:#8e8e93;  border-bottom-color: #c8c7cc; }
.orderDetails  .right_adron{ border-color:#848484;}