html, body, img, a img, form{margin:0; padding:0; border:none;_overflow-x:hidden;}
img{text-align:absmiddle; background-color:transparent}
html, body, p, table{font: normal 12PX Tahoma,Verdana,Helvetica,Arial,sans-serif; }
a{color:#444444;text-decoration:none;}
a:hover{color:#BF0000; text-decoration:underline;}
body{background:#FFF;height:100%}
ul, ol { list-style:none;margin:0;padding:0;}
p, li {	line-height:1.8em;}
input, textarea, select, button, file {	font-size:12px;margin:0px;}
img { border:0;vertical-align: middle;}
b {height:24px;line-height:24px;}
form {margin:0px;padding:0px;}
input,select,textarea,.textarea_style{border:1px solid #dcdcdc;vertical-align:middle;}
.hidden {display: none;}
.clear {clear:both;}
 em,i {font-style: normal;font-weight:normal; }
.f_l, #slide{ float:left;}
.f_r, .date { float:right;}
.show {display:block;}
.hide {display:none;}
.mt15 {margin-top:15px;}
.b{ font-weight:bold;}
.date{ color:#ccc; font-family:Arial, Helvetica, sans-serif; font-size:11px; margin-right:8px;}
.c{overflow:hidden; clear:both ; height:0px;padding:0px;margin:0px;text-align:none;font-size:0px;font-style:normal;}
 hr {height:0px;border:none;border-bottom:1px  dotted  #ccc;margin-top:5px;padding-top:7px;*padding-top:12px;}
.red{color:red;}

.pic {overflow:hidden;zoom:1;line-height:24px;}
.pic li {float:left;text-align:center;padding:0px;margin:0px;}
.pic span {display: block;overflow:hidden;zoom:1;border:1px solid #EFEFEF;text-align:center; margin:auto; }
.pic span a {display:table-cell;vertical-align:middle;*display:block; overflow:hidden;zoom:1;}
.pic span a:hover { background-color:#e8eff6}
.pic li b {line-height:24px;overflow:hidden;zoom:1;font-size:12px;}



#lightbox{position:absolute; z-index:1000; display:none; padding:2px; font-weight:bold; border:1px solid silver; background:white; font-family:Tahoma,Helvetica,sans}
#overlay{ DISPLAY:none;  Z-INDEX:998;  filter:alpha(opacity=80);       LEFT:0px;       WIDTH:100%;       POSITION:absolute;       TOP:0px;       HEIGHT:100%;   background:#000 url(img/overlay.png);  moz-opacity:0.8;  opacity:.80}
.guestbook{padding:3px; margin:0px; line-height:150%; height:248px; width:75%; border:1px solid silver;background:#E9E9F3;font-family:Tahoma,Arial,Helvetica,sans-serif; overflow:auto}

#star ul.star { LIST-STYLE: none; MARGIN: 0; PADDING: 0; WIDTH: 85px; HEIGHT: 20px; LEFT: 10px; TOP: -5px; POSITION: relative; FLOAT: left; BACKGROUND: url('img/stars.gif') repeat-x; CURSOR: pointer; }
#star li { PADDING: 0; MARGIN: 0; FLOAT: left; DISPLAY: block; WIDTH: 85px; HEIGHT: 20px; TEXT-DECORATION: none; text-indent: -9000px; Z-INDEX: 20; POSITION: absolute; PADDING: 0; }
#star li.curr { BACKGROUND: url('img/stars.gif') left 25px; FONT-SIZE: 1px; }
#star div.user { LEFT: 15px; POSITION: relative; FLOAT: left; FONT-SIZE: 13px; FONT-FAMILY: Arial; COLOR: #888; }


input.ss{background-image:url(img/search_icon.gif)}
div.titlev{float:none; background:#FBFAF8; border:1px solid #d4d4d4; padding-top:5px; padding-bottom:5px; padding-left:20px; width:97%; margin:5px 0px; text-align:left; font-size:14px; font-weight:bold; letter-spacing:4px; background:#F0F0FF; background-position:5px 40%}
.table_border td{border-top:1px #DDD solid;border-right:1px #DDD solid;}
.table_border{border-bottom:1px #DDD solid;border-left:1px #DDD solid;}

.search_table {margin:5px;height:30px;line-height:30px;}
.header {overflow:hidden;zoom:1;height:95px;background:#3A6EA5}
.header_footer{width:100%;height:15px;line-height:15px;background:#E2E9EA;overflow:hidden;zoom:1;display:inline-block;zoom:1;*display:inline;}
.f_r {float:right;}
.f_l {float:left;}
.logo {float:left;height:68px;width:190px;overflow:hidden;zoom:1;margin:12px 0 0 8px;_margin-left:4px;}
.logo a img{width:160px;margin-left:10px;height:60px;}
.nav {color:#FFF;margin-top:15px;height:20px;line-height:20px;margin-left:10px;}
.nav i {color:#4782B4;}
.nav  a {color:#FFF;}
#menu_bg {background:#F7FBFC;}
#lang {float:right;}

#leftMenuBox {float:left;overflow:hidden; zoom:1;display:inline-block;zoom:1;*display:inline;}
#leftMenu {float:left;background:#F7FBFC;width:200px;}
#leftMenu {margin:0px;}
#leftMenu dl dt {float:left;background:url(img/admin_left_menu.gif) no-repeat 12px 6px;width:155px;height:29px;padding-left:35px; line-height:29px;border-bottom:1px solid #d5dfe8;text-align:left; font-size:14px;font-weight:bold;}
#leftMenu dl dd {margin:0;float:left;width:190px;border-bottom:  #EAEFF4 1px solid;height:29px;line-height:29px;}
#leftMenu dl dd span {margin-top:1px;CURSOR:pointer;padding-left:30px;float:left;width:160px;height:27px;line-height:27px;background:url(img/admin_dot.gif) no-repeat 15px 10px;}
#leftMenu dl dd a {}
#leftMenu dl dd span:hover ,#leftMenu dl dd.on span {background:#E2E9EA url(img/admin_dot.gif) no-repeat 15px 10px;}


#Main_content  {margin:0;padding:0;background:#E2E9EA;}
#MainBox{ float:right;width:100%; margin-left:-224px;margin-right:12px;_margin-right:6px;}
#MainBox .main_box{ margin-left:224px; overflow:hidden; zoom:1;position: relative;background:white;}
#MainBox .main_box #sx{width: 25px;height: 25px;background: #FFF url(img/sx.png) no-repeat;border: #DBDBDB solid 1px;position: absolute;right: 20px;top: 12px;cursor: pointer;}
#MainBox #Main{ width:100%;border:none;}
#Main_drop {float:left;margin-top:220px;width:12px;overflow:hidden; zoom:1;display:inline-block;zoom:1;*display:inline;}
#Main_drop img {margin-left:1px;}

.topmenu {overflow:hidden;zoom:1;float: left;font-size: 14px;font-weight: bold;color: #555555;margin-top:12px;margin-left:10px;}
.topmenu ul {margin: 0px;padding: 0px;}
.topmenu li {float: left;margin-right:2px;height: 34px;line-height:34px;}
.topmenu span {display: block;float: left;padding-left:15px;background: url(img/admin_nav_bg.png);height: 34px;line-height:34px;color: #fff;}
.topmenu span a {display: block;float: left;color: #fff;background: url(img/admin_nav_bg.png) no-repeat right 0;height: 34px;padding-right:15px;height: 34px;line-height:34px;}
.topmenu span a:hover{text-decoration:none;}
.topmenu .current {display: block;float:left;background:url(img/admin_nav_bg.png) 0 -43px; border-bottom: none;}
.topmenu .current a {color: #367ABB;background: url(img/admin_nav_bg.png) no-repeat right -43px;}

.mainnav {padding-left:14px;height:20px;line-height:20px;color:#444;background:#E2E9EA url(img/admin_home.gif) no-repeat 2px;}
.mainnav_title {line-height:40px;height:40px;border-bottom:1px solid #eee;color:#ddd;}
.mainnav_title a {color:#004499;margin:0 5px;padding:4px 7px;background:#EFEFEF;}
.mainnav_title a:hover ,.mainnav_title a.on{background:#498CD0;color:#FFF;text-decoration: none;}
.mainbox {margin:5px 10px;overflow:hidden;zoom:1;_margin:5px;}

.footer{ clear:both;margin:0;height:22px;line-height:22px; padding:4px 0px; width:100%; text-align:center; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; background-color:#E2E9EA;}
.footer a{color:#4B82BB;}
.footer a:hover{color:silver; text-decoration:none; border-bottom:1px dotted} 
.table-list{border: #DFDFDF solid 1px;}
.table-list td , .table-list th {padding-left:10px;_padding-left:5px;}
.table-list td img {vertical-align:middle;}
.table-list thead th { height:40px; background:#eef3f7; border-bottom:1px solid #d5dfe8; font-weight:bold;line-height:40px;font-family:'微软雅黑';text-align:left;}
.table-list tbody tr{height:40px;}
.table-list tbody td{text-align:left;}
.table-list .textcenter {text-align: center;}
.table-list tbody td , .table-list .btn{border-bottom: #eee 1px solid;}
.btn{background:#f6f6f6; padding:6px 12px; height:30px;line-height:30px}
.table-list tr:hover , .table-list table tbody tr:hover{ background:#fbffe4}
.nHover tr:hover , .nHover tr:hover td{ background:none}
.table-list .input-text-c{ padding:0; height:18px}
.input-text-c{border:1px solid #A7A6AA;height:18px;padding:2px 0 0; text-align:center}
.td-line{border:1px solid #eee}
.td-line td,.td-line th{border:1px solid #eee}
.table-list tr.on,.table-list tr.on td,.table-list tr.on th,.table-list td.on,.table-list th.on{background:#fdf9e5;}
a.close-own{background: url(img/cross.png) no-repeat left 3px; display:block; width:16px; height:16px;position: absolute;outline:none;right:7px; top:8px; text-indent:200px; overflow: hidden}
a.close-own:hover{background-position: left -46px}



input.date,input.endDate{background: #fff url(img/input_date.png) no-repeat right 3px; padding-right:18px;font-size:12px;}
textarea,textarea.input-text,textarea.input-focus{font-size:12px;height:auto; padding:5px; margin:0;}
select{ vertical-align:middle;background:none repeat scroll 0 0 #F9F9F9;border-color:#666666 #CCCCCC #CCCCCC #666666;border-style:solid;border-width:1px;color:#333;padding:2px;}
.search-form{ margin-bottom:10px}
.input_radio,.input_checkbox {border:0;}

.table_form td{padding-left:12px}
.table_form th{font-weight:normal; text-align:right;padding-right:10px; color:#777}
.table_form td label{ vertical-align:middle}
.table_form td , .table_form th{padding:13px 0 8px 8px;line-height:22px;}
.table_form tbody td,.table_form tbody th{border-bottom:1px solid #eee;}
.table_form tbody th{background-color: #f8f8f8;}
.colorpanel tbody td,.colorpanel tbody th{ padding:0;border-bottom: none;}

.button { margin-left:15px; padding: 6px 8px; cursor: pointer; display: inline-block; text-align: center; line-height: 1; *padding:4px 10px; *height:2em; letter-spacing:2px; font-family: Tahoma, Arial/9!important; width:auto; overflow:visible; *width:1; color: #333; border: solid 1px #999; border-radius: 5px; background: #DDD; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); background: linear-gradient(top, #FFF, #DDD); background: -moz-linear-gradient(top, #FFF, #DDD); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD)); text-shadow: 0px 1px 1px rgba(255, 255, 255, 1); box-shadow: 0 1px 0 rgba(255, 255, 255, .7),  0 -1px 0 rgba(0, 0, 0, .09); -moz-transition:-moz-box-shadow linear .2s; -webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s; }
 
.input-text {border:1px solid #A7A6AA;line-height:18px;height:18px;margin:0 5px 0 0;padding:2px 0 2px 5px;border: 1px solid #d0d0d0; font-family: Verdana, Geneva, sans-serif,"微软雅黑";font-size:12px;}
.input-focus{background: #FFF; border-color:#afcee6;font-size:12px;}


.think_run_time{text-align:center; width:100%;font-size:12px;}
.showMsg *{ padding:0; margin:0; font-size:12px}
.showMsg .guery {white-space: pre-wrap; /* css-3 */white-space: -moz-pre-wrap; /* Mozilla, since 1999 */white-space: -pre-wrap; /* Opera 4-6 */white-space: -o-pre-wrap; /* Opera 7 */	word-wrap: break-word; /* Internet Explorer 5.5+ */}
.showMsg a:link,.showMsg a:visited{text-decoration:none;color:#0068a6}
.showMsg a:hover,.showMsg a:active{color:#ff6600;text-decoration: underline}
.showMsg{border: 1px solid #1e64c8; zoom:1; width:450px; height:124px;position:absolute;top:50%;left:50%;margin:-87px 0 0 -225px}
.showMsg h5{background-image: url(img/msg_title.png);background-repeat: no-repeat; color:#fff; padding-left:35px; height:25px; line-height:26px;*line-height:28px; overflow:hidden; font-size:14px; text-align:left}
.showMsg .content{ padding:26px 12px 0px 45px; font-size:14px; height:46px;}
.showMsg .bottom{ background:#e4ecf7; margin: 0 1px 1px 1px;line-height:26px; *line-height:30px; height:26px; text-align:center}
.showMsg .ok,.showMsg .guery{background: url(img/msg_title.png) no-repeat 0px -560px;}
.showMsg .guery{background-position: left -460px;}


#pages { padding:10px 0 10px;text-align:center;font:12px '宋体';}
#pages a { display:inline-block; padding:0px 8px; height:22px;font-size:12px;line-height:22px; background:#fff; border:1px solid #e3e3e3; text-align:center; color:#333}
#pages a.a1 {padding:0px 12px; height:22px; line-height:22px;margin-top:0px;}
#pages a:hover { background:#f1f1f1; color:#000; text-decoration:none; }
#pages span { display:inline-block;  padding:0px 8px; height:22px; line-height:22px; background:#5a85b2; border:1px solid #5a85b2; color:#fff; text-align:center; }
.page .noPage { display:inline-block;  padding:0px 12px; height:22px; line-height:22px;border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }

#loader {display:none;}
#result {display:none;}
#divStatus {text-align:right;padding-right:10px;}


#box_title , .box_thumb {display:block;zoom:1;position:relative;overflow:visible;}
.thumb_box {position:absolute;overflow:hidden;border:1px solid #EEEEEE;background:#FFF;top:-1px;height:140px;padding:8px 25px;left:450px;text-align:center;}
.thumb_box img {width:135px;height:110px;}
.thumb_box input {margin-top:5px;}


#tabs {margin:0px auto;overflow:hidden;}
#tabs .title {overflow:hidden;background:url(img/tab_bottom_line.jpg) repeat-x 0 28px;height:29px;}
#tabs .title ul li {float:left;height:27px;line-height:27px;border:1px solid #CFDFF0;border-bottom:0;background:#EAEEF4;padding:0px 10px;}
#tabs .title ul li.on {background:#FFF;height:28px;}
#tabs .content_1 {border:1px solid #CFDFF0;overflow:hidden;border-top:none;}
#tabs .tabbox {display:none;padding:10px;}

.colorimg {width:16px;height:16px;float:left;border:1px solid #ccc;margin-top:3px;}
.style_bold {margin-top:0px;border:none;}


#bootline {height:42px;overflow:hidden;zoom:1;line-height:42px;}
#btnbox{position:fixed;width:100%;left:0;margin:0;padding-left:150px;border-top:1px solid #EBEBEB;bottom:0;}


#btnbox{_position:absolute;left:expression(eval(document.documentElement.scrollLeft));top:expression(eval(document.documentElement.scrollTop))} 
#btnbox{_position:absolute;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0)+130);top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))}

.editor_box {position:relative;overflow:visible;}
.editor_box .editor_bottom  {position:absolute;bottom:0;_bottom:10px;left:150px;z-index:199;height:27px;color:#666666;}
.editor_box .editor_bottom1 {background:#F0F0EE;border:1px solid #C5C5C5;margin-top:-1px;padding:2px 8px;border-top:0;}


.login_box  {width:511px;height:243px;margin:170px auto 0 auto;background:url(img/admin_logo_bg.png) no-repeat;color:#FFF;}
.login_title {height:40px;margin:0px 10px;line-height:40px;border-bottom:1px solid #7FA0CE;text-align:center;color:#fff;font-family:'Microsoft YaHei';font-size:14px;font-weight:bold;}
.login_left {float:left;width:210px;padding:45px 0 0 30px;line-height:22px;}
.login_right  {float:right;width:240px;}
.login_form ul li {line-height:26px;padding:3px; vertical-align:middle;}
.login_form ul li label {float:left;width:50px;height:23px;line-height:22px;}
.login_form ul {padding:0;}
.msg {float:left;width:220px;margin-top:10px;height:30px;line-height:30px;color:#FB0000;}
.login_footer {width:500px;margin:0 auto;padding:0;text-align:center;height:22px;line-height:22px;color:#FFF;}
.login_footer a {color:#FFF;}
div.error {color:#FB0000;width:99%;border:1px solid #ddd;margin:8px 0;background:#FFFFCC;display:none;}
div.error ul {padding-left:140px;}
#infobox {color:#666;border:1px solid #FFBE7A;margin:8px 0;background:#FFFFCC;padding:10px;line-height:24px;}
.radio-label {border:1px solid #ddd;background:#F6F9FD;margin:5px;}
.input_radio {border:0;}

em.error {overflow:hidden;zoom:1;background:url(img/unchecked.gif) no-repeat 4px;  padding-left: 19px;color:red;}
em.success {overflow:hidden;zoom:1;background:url(img/checked.gif) no-repeat 4px;  padding-left: 19px;color:red;}
em.tips {overflow:hidden;zoom:1;background:url(img/tipchecked.gif) no-repeat 4px;  padding-left: 19px;color:black;}

.radio-label{ border-top:1px solid #e4e2e2; border-left:1px solid #e4e2e2}
.radio-label td{ border-right:1px solid #e4e2e2; border-bottom:1px solid #e4e2e2;background:#f6f9fd}
#thumb_aid_box {display:none;}
.hidden {display:none;}
body fieldset{border:1px solid #D8D8D8; padding:10px;}
body fieldset legend{padding:3px 8px;font-weight:700;border:1px solid #D8D8D8;background-color: #F9F9F9;}
body fieldset.blue{border:1px solid #dce3ed}
body fieldset.blue legend{padding:3px 8px;font-weight:700;color:#347add; background:none; border:none}
.tips_img{margin-left:5px;margin-right:5px;vertical-align: middle;margin-top: -4px;}
.frame_form {
margin-bottom: 10px;
}
.frame_form tr,.frame_form th{
background: url(img/hr.png) 0 bottom repeat-x;
}
.frame_form tr:hover th {
background-color: #eef3f6;
}
.frame_form th {
padding: 7px 10px 9px;
background-color: #f8f8f8;
border-right: 1px solid #e5e3e3;
font-weight: 100;
line-height: 24px;
vertical-align: top;
text-align: left;
}
.frame_form td {
padding: 7px 10px 9px 15px;
color: #666;
vertical-align: top;
}
.frame_form td .show{line-height:24px;}
.frame_form td.radio_box{
padding: 12px 10px 10px 15px;
}
.fl {
float: left;
display: inline;
}
.frame_form .input {
height: 18px;
}
.frame_form .input,.frame_form textarea,.frame_form select {
padding: 4px 4px;
font-size: 100%;
line-height: 18px;
border: 1px solid #ccc;
background-color: #fff;
box-shadow: 2px 2px 2px #f0f0f0 inset;
vertical-align: middle;
margin: 0;
font-family: inherit;
}
.frame_form em.error,.frame_form em.success{line-height: 28px;margin-left: 5px;}
.frame_form .tips_img{margin-left:5px;vertical-align: top;margin-top: 3px;margin-right:0px;}

.tooltipdi{ position:absolute; right:0; top:0; float:left; z-index:99;}
.tooltipdi span{ font:12px "微软雅黑"; color:#666; float:left; background:#fff; border:1px solid #c8c8c8; padding:6px 10px; border-radius:5px;}
.tooltipdi span b{ display:block; position:absolute; left:-13px; top:10px; font-size:0; line-height:0; width:0; height:0; border-color:transparent; border-style:dashed; border-width:7px; border-right-color:#c8c8c8; border-right-style:solid;}
.tooltipdi span em{ display:block; position:absolute; left:-12px; top:10px; font-size:0; line-height:0; width:0; height:0; border-color:transparent; border-style:dashed; border-width:7px; border-right-color:#fff; border-right-style:solid;}


.pagebar{background:#eef3f7;}
.pagebar .total {margin-right:15px;height:20px;line-height:20px;display:inline-block;_display:inline;}
.pagebar a,.pagebar .current,.pagebar .dots,.pagebar a.next {margin-right:5px;height:20px;line-height:20px;text-align:center;display:inline-block;_display:inline;}
.pagebar a,.pagebar .current,.pagebar .dots{width:20px;}
.pagebar a:hover{background-color:#E8E0D1;text-decoration:none;}
.pagebar .current{font-weight:bold;background:#E8E0D1;}
.pagebar .next,.pagebar .prev{width:52px;}

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span {
background: url(img/form_onoff.png) repeat-x;
display: block;
float: left;
cursor: pointer;
}
.cb-enable .selected {
background-position: 0 -48px;
}
.cb-enable span, .cb-disable span {
font-weight: bold;
line-height: 24px;
background-repeat: no-repeat;
display: block;
}
.cb-enable span {
background-position: left -72px;
padding: 0 10px;
}
.cb-enable .selected span {
background-position: left -120px;
color: #fff;
}
.cb-enable input, .cb-disable input {
display: none;
}
.cb-disable span {
background-position: right -144px;
padding: 0 10px;
}
.cb-disable .selected {
background-position: 0 -24px;
}
.cb-disable .selected span {
background-position: right -168px;
color: #fff;
}

#choose_cityarea select{
	margin-right:5px;
}

#frame_map_tips{
background: #fefbe4 url(img/lightbulb.gif) no-repeat 10px 12px;
border: 1px solid #F3ECB9;
padding: 6px 20px 6px 36px;
height: 26px;
font-size: 14px;
margin: 10px;
color: #993300;
line-height: 26px;
}


.config_upload_image_btn .webuploader-pick,.config_upload_file_btn .webuploader-pick{
display:inline-block;
}
.config_upload_image_btn input[type=file],.config_upload_file_btn input[type=file]{
top: 0;
left: 0;
margin: 0;
opacity: 0;
opacity: 0;
filter: alpha(opacity=0);
position: absolute;
font-size: 23px;
direction: ltr;
cursor: pointer;
width: 80px;
height: 20px;
}