* {
	color: #394B59;
	font-family: "微软雅黑",Arial,Helvetica,sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0
}

::-webkit-inner-spin-button {
	-webkit-appearance: none
}

::-webkit-outer-spin-button {
	-webkit-appearance: none
}

a {
	color: #394B59;
	text-decoration: none
}

textarea {
	height: 80px;
	resize: none
}

.banner_top {
	margin: auto;
	width: 100%
}

.banner_top img {
	width: 100%
}

.banner_bottom {
	margin: auto;
	margin-top: 20px;
	width: 100%
}

.banner_bottom img {
	width: 100%
}

header {
	display: -webkit-box;
	display: -ms-box;
	display: -moz-box;
	display: flex;
	-webkit-box-align: center;
	-ms-box-align: center;
	-moz-box-align: center;
	align-items: center;
	margin: 14px 10px 12px
}

header a {
	font-size: 14px
}

header .d1 {
	width: 81px
}

header .d2 {
	-webkit-box-flex: 1;
	-ms-box-flex: 1;
	-moz-box-flex: 1;
	flex: 1;
	padding-left: 10px
}

header .d3,header .d4 {
	text-align: right;
	width: 50px
}

header div .logo_a {
	background-size: 81px auto;
	display: inline-block;
	height: 22px;
	width: 81px
}

header div .city_a {
	background: #E3E6E7;
	margin: 2px;
	padding: 2px 14px 2px 4px;
	position: relative
}

header div .city_a:after {
	content: '';
	border: 4px solid transparent;
	border-top-color: #7B7B7B;
	height: 0;
	position: absolute;
	right: 3px;
	top: 9px;
	width: 0
}

nav {
	color: #AEAEAE;
	margin: 5px 10px 10px 10px
}

nav a {
	color: #AEAEAE;
	font-size: 14px;
	margin: 0 5px
}

.history {
	background: #E6EAEE;
	display: none;
	font-size: 14px;
	margin: 10px 10px;
	padding: 5px 10px
}

.history .title {
	margin: 10px 0;
	padding-left: 22px;
	position: relative
}

.history .title:before {
	content: '';
	background: url(img/m_pub_bg.png) -7px -8px;
	background-size: 195px auto;
	height: 20px;
	position: absolute;
	left: 0;
	top: -1px;
	width: 20px
}

.history .category {
	color: #9699A1;
	margin: 10px 0
}

.business {
	background: #FFF;
	color: #394B59;
	font-size: 14px
}

.business:nth-of-type(1) {
	border-top: 1px solid #E2E2E3
}

.business dd {
	background: #F3F4F6;
	display: none
}

.exp dd {
	display: block
}

.business .ershou+dd,.business .local+dd {
	padding: 0
}

.business a {
	color: #9699A1;
	display: inline-block;
	font-size: 14px;
	height: 38px;
	overflow: hidden;
	padding-left: 10px;
	width: 30%;
	vertical-align: top
}

.exp dt.ershou {
	border-bottom: none
}

.business dd .cate {
	background: #E9EDF0;
	border-top: 1px solid #E2E2E3;
	border-bottom: 1px solid #E2E2E3;
	display: block;
	line-height: 20px;
	padding: 5px 20px 5px 0;
	text-indent: 18px;
	width: 100%
}

.business .ershou+dd a,.business .local+dd a {
	padding-left: 10px
}

.business .ershou+dd .cate,.business .local+dd .cate {
	border-bottom: none;
	height: 26px;
	line-height: 26px;
	margin-top: 10px;
	margin-bottom: 7px;
	padding: 0;
	position: relative
}

.business .ershou+dd .cate:nth-of-type(1),.business .local+dd .cate:nth-of-type(1) {
	margin-top: 0;
	margin-bottom: 7px
}

.business .ershou+dd .cate:before,.business .local+dd .cate:before {
	background: #A8ABB2;
	content: '';
	height: 11px;
	left: 11px;
	position: absolute;
	top: 8px;
	width: 3px
}

.business dt {
	border-bottom: 1px solid #E2E2E3;
	font-weight: 700;
	padding: 16px 10px 14px;
	position: relative;
	text-indent: 44px
}

.business dt:before {
	content: '';
	background: url(img/m_pub_bg.png);
	background-size: 195px auto;
	height: 32px;
	left: 10px;
	position: absolute;
	top: 10px;
	width: 32px
}

.business .house:before {
	background-position: -33px -2px
}

.business .ershou:before {
	background-position: -63px -2px
}

.business .job:before {
	background-position: -163px -2px
}

.business .jianli:before {
	background-position: -95px -2px
}

.business .car:before {
	background-position: -127px -4px
}

.business .pet:before {
	background-position: -62px -34px
}

.business .piao:before {
	background-position: 1px -34px
}

.business .fuwu:before {
	background-position: -30px -34px
}

.business .jiaoyu::before {
	background-position: 2px -171px
}

.business .shangwu::before {
	background-position: -29px -169px
}

.business .local::before {
	background-position: -62px -171px
}

.business dt:after {
	content: '';
	background: url(img/m_pub_bg.png);
	background-position: -95px -32px;
	background-size: 195px auto;
	height: 32px;
	right: 10px;
	position: absolute;
	top: 7px;
	width: 32px
}

.business.only dt:after {
	display: none
}

.exp dt:after {
	background-position: -127px -32px
}

.business dd {
	line-height: 36px;
	padding: 10px 0
}

.delete {
	background: #ECECEC;
	border-bottom: 1px solid #D2D2D2;
	color: #B1B1B1;
	display: none;
	line-height: 35px;
	padding: 10px
}

.delete a {
	color: #60A1DB;
	margin-left: 10px
}

footer p {
	margin: 20px auto 10px;
	text-align: center
}

.icp {
	color: #B1B1B1;
	font-size: 12px;
	margin: 0 auto 10px
}

footer a {
	margin: auto 10px
}

footer .cur {
	color: #B1B1B1
}

hr {
	border: none;
	border-top: 1px solid #E0E0E0;
	display: none;
	margin: 10px auto;
	width: 100%
}

.list {
	border: 1px solid #E0E0E0;
	list-style: none;
	margin: 10px
}

.list_new {
	border: none;
	box-shadow: 0 0 2px #E0E0E0
}
.clearfix {
	zoom: 1;
}
.list .item.uploadNum {
	text-align: center;
	line-height: 30px;
	color: #737373;
}
.list .item {
	border-bottom: 1px solid #E0E0E0;
	position: relative
}
#upload_list .upload_action,#upload_list .upload_item {
		width: 25%;
		float: left;
		position: relative;
		display: -webkit-box;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		border: solid 5px #fff;
		-webkit-box-sizing: border-box;
		overflow: hidden;
}
#upload_list .upload_action img{
     display: block;
	 width: 100%;
	 border: 0;
}
.upload_box .upload_item img {
max-width: 100%;
max-height: 100%;
display: none;
}
.upload_box .upload_list .upload_item .upload_delete {
position: absolute;
top: 0;
right: 0;
width: 20px;
height: 20px;
line-height: 20px;
background: url(./img/upimg_x.png) no-repeat;
background-size: cover;
}
.clearfix:after {
content: '.';
font-size: 0;
height: 0;
visibility: hidden;
display: block;
clear: both;}
.upload_box .upload_action #fileImage {
opacity: 0;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
}
.list_new .item {
	border-bottom: 1px dashed #e8e8e8
}

.list_new .no_border {
	border-bottom: none
}

.item .title {
	color: #394B59;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	align-items: center;
	justify-content: center;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 110px
}

.item .title .placeholder {
	display: none;
	height: 23px
}

.item .input {
	color: #394B59;
	/*display: -webkit-box;
	display: -webkit-flex;
	display: flex;*/
	margin-left: 110px;
	padding: 10px 0;
	position: relative
}

.item .tip {
	color: red;
	display: none;
	font-size: 12px;
	height: 18px;
	margin-left: 80px;
	margin-bottom: 5px;
	padding: 0 0
}

.item .input .payment,.item .input .decorate {
	opacity: 0;
	width: 82%;
	position: relative;
	top: -25px;
	height: 35px;
}

.item .input .area {
	opacity: 0;
	width: 100px
}

.item .input .select+span {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-right: 5px
}

.item input[type=radio] {
	margin-right: 5px
}

.item input[type=text],.item input[type=number],.item textarea {
	-webkit-user-select: text;
	-webkit-appearance: none;
	/*width: 114px;
	border: none;
	border-radius: 0;
	outline: 0*/
}

.input label.psu:after {
	content: '';
	border-style: solid;
	border-color: #B1B4BF transparent transparent transparent;
	border-width: 10px 5px;
	height: 0;
	position: absolute;
	right: 1px;
	top: 6px;
	width: 0
}

.item .input .sel {
	color: #000
}

.input .select {
	/*background: #EEEFF1;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;*/
	width: 90%;
	height: 30px;
	margin: 5px 5px 5px 0;
	position: relative
}

.input>label {
	margin-right: 5px
}

.input .select label {
	color: #394B59;
	/*display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	height: 100%;
	left: 0;
	position: absolute;
	text-indent: 4px;
	text-overflow: ellipsis;
	top: 0;
	width: 100%*/
}
.input .select .psu {
   position: relative;
   top: 5px;
   left: 7px;
   width: 93%;

   overflow: hidden;
   height: 20px;
   white-space: nowrap;
   text-overflow: ellipsis;
   display: inline-block;
}
.post {
	margin: 20px 10px 20px
}

#btnPost {
	-webkit-appearance: none;
	background: #FF658E;
	border: none;
	border-radius: 0;
	color: #FFF;
	height: 40px;
	width: 100%;
	cursor: pointer;
}
#winLogon {
	background: #FFF;
	display: none
}

#winLogon .logonTab {
	background: #F2F5F7;
	border-top: 1px solid #D8D9DA;
	color: #3E3E3E;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	font-size: 14px;
	height: 40px;
	list-style: none;
	padding: 0
}

#winLogon .logonTab li {
	border: 1px solid #D8D9DA;
	border-top: none;
	border-right: none;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	line-height: 40px;
	text-align: center;
	width: 50%
}

#winLogon li.logonTabSel {
	background: #FFF;
	border-bottom: none;
	color: #F97D03
}

#pptMobileLoginForm {
	display: none
}

#winLogon .logo {
	margin: 14px 10px
}

#winLogon form {
	margin: auto 10px
}

#winLogon #mobileLoginTipLi,#winLogon #loginTipLi {
	background: #F1CECE;
	border: 1px solid #E86F6F;
	color: #E4133A;
	display: block;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	text-indent: 12px
}

.passport-login-input-ul li {
	margin-top: 10px;
	overflow: hidden
}
 input,textarea,.select{ border:#EFDBED 1px solid; box-shadow:0 0 8px rgba(239,228,238,0.9);
 -moz-box-shadow:0 0 8px rgba(239,228,238,0.9);
 -webkit-box-shadow:0 0 8px rgba(239,228,238,0.9);}
 #mpostForm input,#mpostForm textarea,#mpostForm .select{border-radius: 5px; }
 #mpostForm input:focus,#mpostForm textarea:focus {
 transition:border linear .2s,box-shadow linear .5s;
 -moz-transition:border linear .2s,-moz-box-shadow linear .5s;
 -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
 outline:none;border-color:rgba(221,168,218,.75);
 box-shadow:0 0 8px rgba(221,168,218,.5);
 -moz-box-shadow:0 0 8px rgba(221,168,218,.5);
 -webkit-box-shadow:0 0 8px rgba(221,168,218,3);
  background-color:#FFF;
 }
#mpostForm .inputtext01{width: 80%;height: 30px;}
#mpostForm .inputtext02{width: 90%;height: 30px;}

.passport-login-input-span {
	display: inline-block;
	font-size: 16px;
	line-height: 42px;
	margin: auto 8px;
	width: 90px
}


.input_zufang #huxingshi {
	margin-left: 0;
	text-align: left
}


.certify {
	height: 100px;
	background: #eeeff1;
	position: relative;
	padding: 10px 0 0 35px;
	line-height: 30px;
	vertical-align: middle
}

.certify .last {
	color: #bfbfc0
}

.certify .desp1 {
	color: #109823
}

.certify .desp2 {
	background: #70d37e;
	display: inline-block;
	border: 1px solid #70d37e;
	color: #fff;
	padding: 0 5px
}

.certify .desp3 {
	background: #fff;
	display: inline-block;
	border: 1px solid #70d37e;
	color: #feb326;
	padding: 0 5px
}

#yuzufang {
	position: absolute;
	top: 18px;
	left: 15px
}

.tuiguangWarp {
	margin: 0 10px;
	border: 1px solid #E0E0E0;
	height: auto;
	display: none
}

.tuiguangWarp.show {
	display: block
}

#tgResult {
	background-color: #42474c
}

.tgResult {
	min-height: 50px;
	border-top: 1px solid #f9feff;
	margin: 0 8px;
	line-height: 20px;
	color: #fff;
	padding: 10px 0
}

.tgResult p,.tgResult div span,.tgResult div {
	font-size: 12px;
	color: #fff
}

.tgResult p:last-of-type {
	padding-bottom: 15px
}

.tgFail {
	padding-top: 10px
}

.tgFail span {
	color: red;
	font-size: 12px
}

.tgResult div span {
	display: inline-block;
	width: 23%
}

.tgResult div span:nth-of-type(2) {
	width: 28%
}

.tgResult div span:nth-of-type(3) {
	width: 49%
}

body {
	background: #fff
}
